---
title: "Dengue Minais Gerais: EDA and INLA test"
prerequisites:
    - data/processed/geodengue-mg.rds
---



<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data, and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())

library(sf)</code></pre>
<pre><code>#&gt; Linking to GEOS 3.10.2, GDAL 3.4.1, PROJ 8.2.1; sf_use_s2() is TRUE</code></pre>
<pre class="r"><code>library(ggplot2)
library(dplyr)</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;dplyr&#39;</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:stats&#39;:
#&gt; 
#&gt;     filter, lag</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:base&#39;:
#&gt; 
#&gt;     intersect, setdiff, setequal, union</code></pre>
<pre class="r"><code>library(tidyr)
library(igraph)</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;igraph&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:tidyr&#39;:
#&gt; 
#&gt;     crossing</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:dplyr&#39;:
#&gt; 
#&gt;     as_data_frame, groups, union</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:stats&#39;:
#&gt; 
#&gt;     decompose, spectrum</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:base&#39;:
#&gt; 
#&gt;     union</code></pre>
<pre class="r"><code>library(purrr)</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;purrr&#39;</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:igraph&#39;:
#&gt; 
#&gt;     compose, simplify</code></pre>
<pre class="r"><code>library(INLA)</code></pre>
<pre><code>#&gt; Loading required package: Matrix</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;Matrix&#39;</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:tidyr&#39;:
#&gt; 
#&gt;     expand, pack, unpack</code></pre>
<pre><code>#&gt; Loading required package: sp</code></pre>
<pre><code>#&gt; This is INLA_24.02.09 built 2024-02-09 03:35:28 UTC.
#&gt;  - See www.r-inla.org/contact-us for how to get help.
#&gt;  - List available models/likelihoods/etc with inla.list.models()
#&gt;  - Use inla.doc(&lt;NAME&gt;) to access documentation</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
devtools::load_all(&quot;/home/rstudio/documents/repositories/spfc&quot;)</code></pre>
<pre><code>#&gt; ℹ Loading bsfc</code></pre>
<pre class="r"><code>data &lt;- readRDS(file.path(path_processed, &quot;geodengue-mg.rds&quot;))</code></pre>
</div>
<div id="process-data" class="section level2">
<h2>Process data</h2>
<pre class="r"><code>domain &lt;- data$domain
Y &lt;- select(data$dengue, matches(&quot;^cases&quot;)) |&gt; as.matrix()
N &lt;- select(data$dengue, matches(&quot;^pop&quot;)) |&gt; as.matrix()
ratio &lt;- colMeans(Y/N)
ratio1 &lt;- colMeans((Y+0.1)/N)
E &lt;- t(t(N) * ratio)
E1 &lt;- t(t(N) * ratio1)</code></pre>
</div>
<div id="visualize-the-incidence-ratio" class="section level2">
<h2>Visualize the incidence ratio</h2>
<pre class="r"><code>time_seq &lt;- seq(5, 52, 5)
for (x in time_seq) {domain[[paste0(&quot;prev&quot;, x)]] &lt;- 1000 * as.numeric(Y[x,] / N[x,])}

pivot_longer(domain, matches(&quot;^prev&quot;), names_pattern = &quot;prev(.+)&quot;) |&gt;
    mutate(name = as.numeric(name)) |&gt;
    ggplot() +
    geom_sf(aes(fill = log(value))) +
    facet_wrap(~ name, ncol = 3) +
    scale_fill_distiller(palette = &quot;RdYlBu&quot;) +
    labs(fill = &quot;log-incidence&quot;)</code></pre>
<p><img src="/spatial-functional-clustering/40-explore/12-dengue-mg_files/figure-html/unnamed-chunk-3-1.png" width="768" style="display: block; margin: auto;" /></p>
</div>
<div id="visualize-the-relative-risk" class="section level2">
<h2>Visualize the relative risk</h2>
<pre class="r"><code>for (x in time_seq) {domain[[paste0(&quot;rr&quot;, x)]] &lt;- as.numeric(Y[x,] / E[x,])}

pivot_longer(domain, matches(&quot;^rr&quot;), names_pattern = &quot;rr(.+)&quot;) |&gt;
    mutate(name = as.numeric(name)) |&gt;
    ggplot() +
    geom_sf(aes(fill = log(value))) +
    facet_wrap(~ name, ncol = 3) +
    scale_fill_distiller(palette = &quot;RdYlBu&quot;) +
    labs(fill = &quot;log relative risk&quot;)</code></pre>
<p><img src="/spatial-functional-clustering/40-explore/12-dengue-mg_files/figure-html/unnamed-chunk-4-1.png" width="768" style="display: block; margin: auto;" /></p>
</div>
<div id="visualize-time-series" class="section level2">
<h2>Visualize time series</h2>
<pre class="r"><code>matplot(1000 * Y/N, type = &quot;l&quot;)</code></pre>
<p><img src="/spatial-functional-clustering/40-explore/12-dengue-mg_files/figure-html/unnamed-chunk-5-1.png" width="768" style="display: block; margin: auto;" /></p>
<pre class="r"><code>matplot(Y/E, type = &quot;l&quot;)</code></pre>
<p><img src="/spatial-functional-clustering/40-explore/12-dengue-mg_files/figure-html/unnamed-chunk-5-2.png" width="768" style="display: block; margin: auto;" /></p>
<pre class="r"><code>matplot(Y/E1, type = &quot;l&quot;)</code></pre>
<p><img src="/spatial-functional-clustering/40-explore/12-dengue-mg_files/figure-html/unnamed-chunk-5-3.png" width="768" style="display: block; margin: auto;" /></p>
<p>The peaks of <span class="math inline">\(Y/E\)</span> is for cases where there are few number of cases in all the period of
study (e.g. 1, 2).</p>
</div>
<div id="test-inla-models" class="section level2">
<h2>Test INLA models</h2>
<p>Let’s check some regions</p>
<pre class="r"><code>ind &lt;- 5:10
matplot((1000 * Y/N)[,ind], type = &quot;l&quot;)</code></pre>
<p><img src="/spatial-functional-clustering/40-explore/12-dengue-mg_files/figure-html/unnamed-chunk-6-1.png" width="768" style="display: block; margin: auto;" /></p>
<pre class="r"><code>matplot((1000 * Y/E)[,ind], type = &quot;l&quot;)</code></pre>
<p><img src="/spatial-functional-clustering/40-explore/12-dengue-mg_files/figure-html/unnamed-chunk-6-2.png" width="768" style="display: block; margin: auto;" /></p>
<p>Let’s test how the INLA model runs for some particular regions.</p>
<pre class="r"><code>formula &lt;-  Yk ~ f(idt, model = &quot;rw1&quot;) + f(id, model = &quot;iid&quot;)

inla_test &lt;- function(Y, membership, X = NULL, N = NULL, formula = Yk ~ 1 + Xk,
                         family = &quot;normal&quot;, correction = FALSE,test = F, ...) {
  k &lt;- max(membership)
  lapply(1:k, log_mlik_each, Y, membership, X, N, formula, family, correction, TRUE, test,...)
}</code></pre>
<p>Default inla settings, sometimes it shows a vb.correction warning.</p>
<pre class="r"><code>ind = ind[1]
system.time(
    bla &lt;- inla_test(as.matrix(Y[,ind]), seq_along(ind), X = NULL, N = E[,ind], formula = formula,
        family = &quot;poisson&quot;, correction = F
    )
)</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;   1.784   0.477   0.525</code></pre>
<pre class="r"><code>i = 1
plot(exp(bla[[i]]$summary.linear.predictor$mean), type = &quot;l&quot;, col = 2, lwd = 2)
points(Y[,ind[i]]/E[,ind[i]])</code></pre>
<p><img src="/spatial-functional-clustering/40-explore/12-dengue-mg_files/figure-html/unnamed-chunk-8-1.png" width="768" style="display: block; margin: auto;" /></p>
<pre class="r"><code>ind = ind[1]
system.time(
    bla &lt;- inla_test(as.matrix(Y[,ind]), seq_along(ind), X = NULL, N = E[,ind], formula = formula,
        family = &quot;poisson&quot;, correction = F,
        control.inla = list(control.vb=list(iter.max = 2))
    )
)</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;   1.755   0.422   0.442</code></pre>
<pre class="r"><code>i = 1
plot(exp(bla[[i]]$summary.linear.predictor$mean), type = &quot;l&quot;, col = 2, lwd = 2)
points(Y[,ind[i]]/E[,ind[i]])</code></pre>
<p><img src="/spatial-functional-clustering/40-explore/12-dengue-mg_files/figure-html/unnamed-chunk-9-1.png" width="768" style="display: block; margin: auto;" /></p>
<pre class="r"><code>ind = ind[1]
system.time(
    bla &lt;- inla_test(as.matrix(Y[,ind]), seq_along(ind), X = NULL, N = E[,ind], formula = formula,
        family = &quot;poisson&quot;, correction = F,
        control.inla = list(control.vb=list(iter.max = 5))
    )
)</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;   1.796   0.432   0.452</code></pre>
<pre class="r"><code>i = 1
plot(exp(bla[[i]]$summary.linear.predictor$mean), type = &quot;l&quot;, col = 2, lwd = 2)
points(Y[,ind[i]]/E[,ind[i]])</code></pre>
<p><img src="/spatial-functional-clustering/40-explore/12-dengue-mg_files/figure-html/unnamed-chunk-10-1.png" width="768" style="display: block; margin: auto;" /></p>
<p>You can control the correction setting. For example,
<code>control.inla = list(control.vb=list(iter.max = 5, emergency = 25))</code>.</p>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;  84.670   2.413  81.613</code></pre>
</div>
