---
title: "Population of federative units of Brazil"
prerequisites:
    - data/raw/brazil-adm1.rds
    - data/raw/brazil-pop.csv
targets:
    - data/processed/brazil-adm1-pop.rds
---



<p>Add population size to federal units of Brazil.</p>
<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data, and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())

library(readr)
library(sf)</code></pre>
<pre><code>#&gt; Linking to GEOS 3.10.2, GDAL 3.4.1, PROJ 8.2.1; sf_use_s2() is TRUE</code></pre>
<pre class="r"><code>library(dplyr)</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;dplyr&#39;</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:stats&#39;:
#&gt; 
#&gt;     filter, lag</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:base&#39;:
#&gt; 
#&gt;     intersect, setdiff, setequal, union</code></pre>
<pre class="r"><code>library(ggplot2)

path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_raw &lt;- file.path(path_data, &quot;raw&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)

brazil &lt;- readRDS(file.path(path_raw, &quot;brazil-adm1.rds&quot;))
brazil_pop &lt;- read_csv(file.path(path_raw, &quot;brazil-pop.csv&quot;))</code></pre>
<pre><code>#&gt; Registered S3 method overwritten by &#39;bit&#39;:
#&gt;   method   from  
#&gt;   print.ri gamlss</code></pre>
<pre><code>#&gt; Rows: 27 Columns: 6
#&gt; ── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────────────────────
#&gt; Delimiter: &quot;,&quot;
#&gt; chr (3): BrazilState, BrazilStatesCapitol, BrazilStatesRegion
#&gt; dbl (3): BrazilStatesAreakm2, BrazilStatesAreami2, BrazilStatesPopulation2021
#&gt; 
#&gt; ℹ Use `spec()` to retrieve the full column specification for this data.
#&gt; ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.</code></pre>
</div>
<div id="merge-datasets" class="section level2">
<h2>Merge datasets</h2>
<p>The datasets do not have identifiers to match them. We need to find those with similar
federal unit names. Notice that it will not work for other datasets perfectly, so you
always have to check the resulting match.</p>
<pre class="r"><code>ids &lt;- apply(adist(brazil_pop$BrazilState, brazil$shapeName), 1, which.min)
table(ids) # check if unique</code></pre>
<pre><code>#&gt; ids
#&gt;  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 
#&gt;  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1</code></pre>
<pre class="r"><code>cbind(brazil_pop$BrazilState, brazil$shapeName[ids]) # check matching</code></pre>
<pre><code>#&gt;       [,1]                                  [,2]                 
#&gt;  [1,] &quot;Acre&quot;                                &quot;Acre&quot;               
#&gt;  [2,] &quot;Alagoas&quot;                             &quot;Alagoas&quot;            
#&gt;  [3,] &quot;Amapá&quot;                               &quot;Amapa&quot;              
#&gt;  [4,] &quot;Amazonas&quot;                            &quot;Amazonas&quot;           
#&gt;  [5,] &quot;Bahia&quot;                               &quot;Bahia&quot;              
#&gt;  [6,] &quot;Ceará&quot;                               &quot;Ceara&quot;              
#&gt;  [7,] &quot;Distrito Federal (Federal District)&quot; &quot;Distrito Federal&quot;   
#&gt;  [8,] &quot;Espírito Santo&quot;                      &quot;Espirito Santo&quot;     
#&gt;  [9,] &quot;Goiás&quot;                               &quot;Goias&quot;              
#&gt; [10,] &quot;Maranhão&quot;                            &quot;Maranhao&quot;           
#&gt; [11,] &quot;Mato Grosso&quot;                         &quot;Mato Grosso&quot;        
#&gt; [12,] &quot;Mato Grosso do Sul&quot;                  &quot;Mato Grosso do Sul&quot; 
#&gt; [13,] &quot;Minas Gerais&quot;                        &quot;Minas Gerais&quot;       
#&gt; [14,] &quot;Pará&quot;                                &quot;Para&quot;               
#&gt; [15,] &quot;Paraíba&quot;                             &quot;Paraiba&quot;            
#&gt; [16,] &quot;Paraná&quot;                              &quot;Parana&quot;             
#&gt; [17,] &quot;Pernambuco&quot;                          &quot;Pernambuco&quot;         
#&gt; [18,] &quot;Piauí&quot;                               &quot;Piaui&quot;              
#&gt; [19,] &quot;Rio de Janeiro&quot;                      &quot;Rio de Jeneiro&quot;     
#&gt; [20,] &quot;Rio Grande do Norte&quot;                 &quot;Rio Granda do Norte&quot;
#&gt; [21,] &quot;Rio Grande do Sul&quot;                   &quot;Rio Grande do Sul&quot;  
#&gt; [22,] &quot;Rondônia&quot;                            &quot;Rondonia&quot;           
#&gt; [23,] &quot;Roraima&quot;                             &quot;Roraima&quot;            
#&gt; [24,] &quot;Santa Catarina&quot;                      &quot;Santa Catarina&quot;     
#&gt; [25,] &quot;São Paulo&quot;                           &quot;Sao Paulo&quot;          
#&gt; [26,] &quot;Sergipe&quot;                             &quot;Sergipe&quot;            
#&gt; [27,] &quot;Tocantins&quot;                           &quot;Tocantins&quot;</code></pre>
<pre class="r"><code>brazil &lt;- bind_cols(brazil, brazil_pop[order(ids), ]) |&gt;
    rename(population2021 = BrazilStatesPopulation2021)

ggplot(brazil) +
    geom_sf(aes(fill = population2021)) +
    theme_bw() +
    labs(title = &quot;Population size of federative units of Brazil&quot;, fill = &quot;Population&quot;) +
    scale_fill_distiller(palette = &quot;RdYlBu&quot;)</code></pre>
<p><img src="/spatial-functional-clustering/30-process/12-brazil-adm1-pop_files/figure-html/brazil-pop-1.png" width="672" style="display: block; margin: auto;" /></p>
</div>
<div id="save-administrative-areas" class="section level2">
<h2>Save administrative areas</h2>
<pre class="r"><code>saveRDS(brazil, file.path(path_processed, &quot;brazil-adm1-pop.rds&quot;))</code></pre>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;   2.075   0.395   2.154</code></pre>
</div>
