---
title: "Dengue Sao Paulo: Standardise by year"
prerequisites:
    - data/processed/geodengue-sp.rds
---



<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data, and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())

library(sf)</code></pre>
<pre><code>#&gt; Linking to GEOS 3.10.2, GDAL 3.4.1, PROJ 8.2.1; sf_use_s2() is TRUE</code></pre>
<pre class="r"><code>library(ggplot2)
library(dplyr)</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;dplyr&#39;</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:stats&#39;:
#&gt; 
#&gt;     filter, lag</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:base&#39;:
#&gt; 
#&gt;     intersect, setdiff, setequal, union</code></pre>
<pre class="r"><code>library(tidyr)
library(igraph)</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;igraph&#39;</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:tidyr&#39;:
#&gt; 
#&gt;     crossing</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:dplyr&#39;:
#&gt; 
#&gt;     as_data_frame, groups, union</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:stats&#39;:
#&gt; 
#&gt;     decompose, spectrum</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:base&#39;:
#&gt; 
#&gt;     union</code></pre>
<pre class="r"><code>library(purrr)</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;purrr&#39;</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:igraph&#39;:
#&gt; 
#&gt;     compose, simplify</code></pre>
<pre class="r"><code>library(INLA)</code></pre>
<pre><code>#&gt; Loading required package: Matrix</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;Matrix&#39;</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:tidyr&#39;:
#&gt; 
#&gt;     expand, pack, unpack</code></pre>
<pre><code>#&gt; Loading required package: sp</code></pre>
<pre><code>#&gt; This is INLA_24.02.09 built 2024-02-09 03:35:28 UTC.
#&gt;  - See www.r-inla.org/contact-us for how to get help.
#&gt;  - List available models/likelihoods/etc with inla.list.models()
#&gt;  - Use inla.doc(&lt;NAME&gt;) to access documentation</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
devtools::load_all(&quot;/home/rstudio/documents/repositories/spfc&quot;)</code></pre>
<pre><code>#&gt; ℹ Loading bsfc</code></pre>
<pre class="r"><code>data &lt;- readRDS(file.path(path_processed, &quot;geodengue-sp.rds&quot;))</code></pre>
</div>
<div id="process-data" class="section level2">
<h2>Process data</h2>
<pre class="r"><code>domain &lt;- data$domain
Y &lt;- select(data$dengue, matches(&quot;^cases&quot;)) |&gt; as.matrix()
N &lt;- select(data$dengue, matches(&quot;^pop&quot;)) |&gt; as.matrix()
ratio &lt;- colMeans(Y/N)
ratio1 &lt;- colMeans((Y+0.1)/N)
E &lt;- t(t(N) * ratio)
E1 &lt;- t(t(N) * ratio1)

#####
period &lt;- floor((1:nrow(Y) + 25) / 52) + 1
ratio_by_period &lt;- sapply(1:max(period), function(x) colMeans(Y[period == x,] / N[period == x,]))
E_by_period &lt;- N * t(ratio_by_period)[period,]</code></pre>
</div>
<div id="visualize-time-series" class="section level2">
<h2>Visualize time series</h2>
<pre class="r"><code>matplot(Y, type = &quot;l&quot;, ylim = c(0, 2000))
abline(v = seq(27, 160, 52), lwd = 2)</code></pre>
<p><img src="/spatial-functional-clustering/30-process/22-dengue-sp-standardise_files/figure-html/unnamed-chunk-3-1.png" width="768" style="display: block; margin: auto;" /></p>
<pre class="r"><code>matplot(Y/E, type = &quot;l&quot;)
abline(v = seq(27, 160, 52), lwd = 2)</code></pre>
<p><img src="/spatial-functional-clustering/30-process/22-dengue-sp-standardise_files/figure-html/unnamed-chunk-3-2.png" width="768" style="display: block; margin: auto;" /></p>
<pre class="r"><code>matplot(Y/E_by_period, type = &quot;l&quot;)
abline(v = seq(27, 160, 52), lwd = 2)</code></pre>
<p><img src="/spatial-functional-clustering/30-process/22-dengue-sp-standardise_files/figure-html/unnamed-chunk-3-3.png" width="768" style="display: block; margin: auto;" /></p>
<pre class="r"><code>matplot((Y/E_by_period)[,7], type = &quot;l&quot;)
abline(v = seq(27, 160, 52), lwd = 2)</code></pre>
<p><img src="/spatial-functional-clustering/30-process/22-dengue-sp-standardise_files/figure-html/unnamed-chunk-3-4.png" width="768" style="display: block; margin: auto;" /></p>
<pre class="r"><code>ind &lt;- which(order(rowSums(Y), decreasing = TRUE) &lt; 50)

matplot((Y/E_by_period)[,ind], type = &quot;l&quot;)
abline(v = seq(27, 160, 52), lwd = 2)</code></pre>
<p><img src="/spatial-functional-clustering/30-process/22-dengue-sp-standardise_files/figure-html/unnamed-chunk-3-5.png" width="768" style="display: block; margin: auto;" /></p>
<pre class="r"><code>matplot((Y/E)[,ind], type = &quot;l&quot;)
abline(v = seq(27, 160, 52), lwd = 2)</code></pre>
<p><img src="/spatial-functional-clustering/30-process/22-dengue-sp-standardise_files/figure-html/unnamed-chunk-3-6.png" width="768" style="display: block; margin: auto;" /></p>
<pre class="r"><code>opar &lt;- par(mfrow = c(2, 1))
i &lt;- 31
matplot((Y/E_by_period)[,ind[i]], type = &quot;l&quot;)
abline(v = seq(27, 160, 52), lwd = 2)
matplot((Y/E)[,ind[i]], type = &quot;l&quot;)
abline(v = seq(27, 160, 52), lwd = 2)</code></pre>
<p><img src="/spatial-functional-clustering/30-process/22-dengue-sp-standardise_files/figure-html/unnamed-chunk-3-7.png" width="768" style="display: block; margin: auto;" /></p>
<pre class="r"><code>par(opar)</code></pre>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;   5.688   0.445   5.840</code></pre>
</div>
