---
title: "Download federative units of Brazil"
targets:
    - data/raw/brazil-adm1.rds
---



<p>Download Brazil federal units from <a href="https://www.geoboundaries.org/">geoBoundaries</a>.</p>
<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data, and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())

library(ggplot2)
library(rgeoboundaries)

path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_raw &lt;- file.path(path_data, &quot;raw&quot;)</code></pre>
</div>
<div id="extract-federal-units" class="section level2">
<h2>Extract federal units</h2>
<pre class="r"><code>brazil_adm1 &lt;-  geoboundaries(&quot;Brazil&quot;,&quot;adm1&quot;)

ggplot(brazil_adm1) +
    geom_sf(aes(fill = factor(shapeName))) +
    theme_bw() +
    labs(title = &quot;Federative units of Brazil&quot;, fill = &quot;&quot;) +
    theme(legend.position = &quot;bottom&quot;, legend.text = element_text(size = 7))</code></pre>
<p><img src="/spatial-functional-clustering/10-extract/12-brazil-adm1_files/figure-html/unnamed-chunk-2-1.png" width="672" style="display: block; margin: auto;" /></p>
</div>
<div id="save-administrative-areas" class="section level2">
<h2>Save administrative areas</h2>
<pre class="r"><code>saveRDS(brazil_adm1, file.path(path_raw, &quot;brazil-adm1.rds&quot;))</code></pre>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;   2.302   0.430   6.820</code></pre>
</div>
