---
title: "Create spatial domain"
targets:
    - data/simulated/spatial-domain.rds
---



<p>We use Voronoi tesselation to simulate a spatial domain that will be used in our
simulation studies.</p>
<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data, and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())

library(ggplot2)
library(sf)</code></pre>
<pre><code>#&gt; Linking to GEOS 3.10.2, GDAL 3.4.1, PROJ 8.2.1; sf_use_s2() is TRUE</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_sim &lt;- file.path(path_data, &quot;simulated&quot;)</code></pre>
</div>
<div id="generate-voronoi-polygons-from-100-locations" class="section level2">
<h2>Generate Voronoi polygons from 100 locations</h2>
<p>Firt, we define some parameters and bounding box.</p>
<pre class="r"><code>n &lt;- 100
limit &lt;- 1000
box &lt;- st_polygon(list(rbind(c(0,0),c(limit,0),c(limit,limit),c(0,limit),c(0,0))))</code></pre>
<p>Simulate points and create a Voronoi tesselation.</p>
<pre class="r"><code>set.seed(7)
points &lt;- st_union(st_sample(box, size = n))
vor &lt;- st_voronoi(points, box)
domain &lt;- st_intersection(st_cast(vor), box)

plot(domain)
plot(points, add = TRUE, col = 2, pch = 19)</code></pre>
<p><img src="/spatial-functional-clustering/50-simulate/12-domain-create_files/figure-html/unnamed-chunk-3-1.png" width="672" style="display: block; margin: auto;" /></p>
</div>
<div id="simulate-population-size-and-create-a-geodata" class="section level2">
<h2>Simulate population size and create a geodata</h2>
<p>Add population to the simulated regions.</p>
<pre class="r"><code>lambda &lt;- exp(rnorm(n, mean = 10, sd = 0.3))
hist(lambda)</code></pre>
<p><img src="/spatial-functional-clustering/50-simulate/12-domain-create_files/figure-html/unnamed-chunk-4-1.png" width="672" style="display: block; margin: auto;" /></p>
<pre class="r"><code>population &lt;- rpois(n, lambda = lambda)
hist(population)</code></pre>
<p><img src="/spatial-functional-clustering/50-simulate/12-domain-create_files/figure-html/unnamed-chunk-4-2.png" width="672" style="display: block; margin: auto;" /></p>
<pre class="r"><code>geodata &lt;- st_sf(id = 1:n, population = population, domain)
plot(geodata, main = &quot;Population&quot;)</code></pre>
<p><img src="/spatial-functional-clustering/50-simulate/12-domain-create_files/figure-html/unnamed-chunk-4-3.png" width="672" style="display: block; margin: auto;" /></p>
</div>
<div id="save-spatial-domain" class="section level2">
<h2>Save spatial domain</h2>
<pre class="r"><code>saveRDS(geodata, file.path(path_sim, &quot;spatial-domain.rds&quot;))</code></pre>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;   1.756   0.371   1.864</code></pre>
</div>
