---
title: "Clusterize spatial domain"
prerequisites:
    - data/simulated/spatial-domain.rds
targets:
    - data/simulated/spatial-domain-clusters.rds
    - data/simulated/spatial-domain-graph.rds
---



<p>In this script, we simulate clusters of regions using a spatial simulated domain.</p>
<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data, and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())

library(sf)</code></pre>
<pre><code>#&gt; Linking to GEOS 3.10.2, GDAL 3.4.1, PROJ 8.2.1; sf_use_s2() is TRUE</code></pre>
<pre class="r"><code>library(ggplot2)
library(igraph)</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;igraph&#39;</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:stats&#39;:
#&gt; 
#&gt;     decompose, spectrum</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:base&#39;:
#&gt; 
#&gt;     union</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_raw &lt;- file.path(path_data, &quot;raw&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_sim &lt;- file.path(path_data, &quot;simulated&quot;)

geodata &lt;- readRDS(file.path(path_sim, &quot;spatial-domain.rds&quot;))</code></pre>
</div>
<div id="create-clusters" class="section level2">
<h2>Create clusters</h2>
<p>First, we transform the spatial domain to a graph with edges and vertices, to
later obtain the minimum spanning tree (MST).</p>
<pre class="r"><code>set.seed(81)

# create graph
adj_mat &lt;- st_touches(geodata) %&gt;% as(&quot;matrix&quot;)
adj_mat_weighted &lt;- adj_mat * runif(length(adj_mat))
graph &lt;- graph_from_adjacency_matrix(adj_mat_weighted, mode = &quot;upper&quot;, weighted = TRUE)
plot(graph)</code></pre>
<p><img src="/spatial-functional-clustering/50-simulate/14-domain-clusterize_files/figure-html/unnamed-chunk-2-1.png" width="672" style="display: block; margin: auto;" /></p>
<pre class="r"><code># obtain minimum spaning tree
mstgraph &lt;- mst(graph)
plot(mstgraph)</code></pre>
<p><img src="/spatial-functional-clustering/50-simulate/14-domain-clusterize_files/figure-html/unnamed-chunk-2-2.png" width="672" style="display: block; margin: auto;" /></p>
<p>We can create <code>n</code> clusters by removing <code>n-1</code> edges of the MST. In this case, we will
create <code>10</code> clusters.</p>
<pre class="r"><code># remove the edges with higher weights
n = 10
edgeid_rm &lt;- order(E(mstgraph)$weight)[1:(n-1)]
graph_comp &lt;- components(delete_edges(mstgraph, edgeid_rm))
membership &lt;- graph_comp$membership
geodata$cluster &lt;- factor(membership)

plot(delete_edges(mstgraph, edgeid_rm), vertex.color = hcl.colors(n, palette = &quot;Set 2&quot;)[membership])</code></pre>
<p><img src="/spatial-functional-clustering/50-simulate/14-domain-clusterize_files/figure-html/unnamed-chunk-3-1.png" width="672" style="display: block; margin: auto;" /></p>
<p>Let’s visualize the clusters we created.</p>
<pre class="r"><code>ggplot(geodata) +
    geom_sf(aes(fill = cluster)) +
    theme_bw() +
    labs(title = &quot;Spatial clusters&quot;, fill = &quot;Cluster&quot;)</code></pre>
<p><img src="/spatial-functional-clustering/50-simulate/14-domain-clusterize_files/figure-html/unnamed-chunk-4-1.png" width="672" style="display: block; margin: auto;" /></p>
</div>
<div id="save-simulated-data" class="section level2">
<h2>Save simulated data</h2>
<pre class="r"><code>saveRDS(geodata, file.path(path_sim, &quot;spatial-domain-clusters.rds&quot;))
saveRDS(graph, file.path(path_sim, &quot;spatial-domain-graph.rds&quot;))</code></pre>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;   2.142   0.376   2.214</code></pre>
</div>
