---
title: "Polinomial: non-spatial simulation"
---



<p>Simulate clusters behaviour when the response is:</p>
<ul>
<li>Gaussian,</li>
<li>Counts from a Poisson distribution.</li>
</ul>
<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data, and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())

path_proj &lt;- day2day::git_path()</code></pre>
</div>
<div id="simulate-linear-predictor-of-clusters" class="section level2">
<h2>Simulate linear predictor of clusters</h2>
<pre class="r"><code>ntime = 100
ncluster = 10
time = seq(0, 1, length.out = ntime)

X = poly(time, 2, raw = TRUE, simple = TRUE)
beta = cbind(c(1, 0), c(-1, 0), c(0, 0), c(-3, 3), c(3, -3))
beta0 = - colMeans(X %*% beta)
eta = rep(beta0, each = ntime) + X %*% beta
matplot(eta, xlab = &quot;Time&quot;, ylab = expression(eta))</code></pre>
<p><img src="/spatial-functional-clustering/50-simulate/20-polinomial-non-spatial_files/figure-html/unnamed-chunk-2-1.png" width="672" style="display: block; margin: auto;" /></p>
</div>
<div id="simulate-gaussian-data" class="section level2">
<h2>Simulate Gaussian data</h2>
<pre class="r"><code>sigma2 = 0.05 ^ 2
obs_gauss = lapply(
    1:5,
    function(id) eta[, id] + matrix(rnorm(ntime * ncluster, sd = sqrt(sigma2)), nrow = ntime)
)

matplot(do.call(cbind, obs_gauss), type = &quot;l&quot;, lty = 1, col = rep(1:5, each = ncluster),
    xlab = &quot;Time&quot;, ylab = &quot;Y&quot;)</code></pre>
<p><img src="/spatial-functional-clustering/50-simulate/20-polinomial-non-spatial_files/figure-html/unnamed-chunk-3-1.png" width="672" style="display: block; margin: auto;" /></p>
</div>
<div id="simulate-poisson-data" class="section level2">
<h2>Simulate Poisson data</h2>
<pre class="r"><code>matplot(exp(eta), xlab = &quot;Time&quot;, ylab = expression(exp(eta)))</code></pre>
<p><img src="/spatial-functional-clustering/50-simulate/20-polinomial-non-spatial_files/figure-html/unnamed-chunk-4-1.png" width="672" style="display: block; margin: auto;" /></p>
<pre class="r"><code>popsize = 800
obs_pois = lapply(
    1:5,
    function(id) matrix(rpois(ntime * ncluster, lambda = popsize * exp(eta[,id])), nrow = ntime)
)

matplot(do.call(cbind, obs_pois), type = &quot;l&quot;, lty = 1, col = rep(1:5, each = ncluster),
    xlab = &quot;Time&quot;, ylab = &quot;Count&quot;)</code></pre>
<p><img src="/spatial-functional-clustering/50-simulate/20-polinomial-non-spatial_files/figure-html/unnamed-chunk-4-2.png" width="672" style="display: block; margin: auto;" /></p>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;   1.774   0.338   1.798</code></pre>
</div>
