---
title: "Spatial clusters simulation: fuzzy clusters"
prerequisites:
    - data/simulated/spatial-domain-clusters.rds
targets:
    - data/simulated/spatial-data-fuzzy.rds
---



<p>In this script, we simulate cluster trends using the a simulated spatial domain. The
trends are created using additive effects (gam).</p>
<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data, and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())

library(sf)</code></pre>
<pre><code>#&gt; Linking to GEOS 3.10.2, GDAL 3.4.1, PROJ 8.2.1; sf_use_s2() is TRUE</code></pre>
<pre class="r"><code>library(ggplot2)
library(dplyr)</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;dplyr&#39;</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:stats&#39;:
#&gt; 
#&gt;     filter, lag</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:base&#39;:
#&gt; 
#&gt;     intersect, setdiff, setequal, union</code></pre>
<pre class="r"><code>library(purrr)
library(tidyr)

path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_raw &lt;- file.path(path_data, &quot;raw&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_sim &lt;- file.path(path_data, &quot;simulated&quot;)

geodata &lt;- readRDS(file.path(path_sim, &quot;spatial-domain-clusters.rds&quot;))</code></pre>
</div>
<div id="simulate-fixed-effects-of-clusters" class="section level2">
<h2>Simulate fixed effects of clusters</h2>
<pre class="r"><code># parameters
ntime = 100
time = seq(0, 1, length.out = ntime)

# compute fixed effects
X = poly(time, 2, raw = TRUE, simple = TRUE)
beta = cbind(
    c(1, 0), c(-1, 0), c(0.96, 0), c(-3, 3), c(3, -3),
    c(0, 0), c(-1, 0), c(0, 0), c(-3, 3), c(3, -3)
)
# beta = cbind(
#     c(1, 0.5), c(0.90, 0.4)
# )
beta0 = - colMeans(X %*% beta)
eta0 = rep(beta0, each = ntime) + X %*% beta

# visualize linear predictor for groupd
matplot(time, eta0, xlab = &quot;time&quot;, ylab = expression(X * beta))</code></pre>
<p><img src="/spatial-functional-clustering/50-simulate/26-spatial-clusters-fuzzy_files/figure-html/unnamed-chunk-2-1.png" width="672" style="display: block; margin: auto;" /></p>
</div>
<div id="simulate-linear-predictor" class="section level2">
<h2>Simulate linear predictor</h2>
<p>Add noise with respect to each cluster.</p>
<pre class="r"><code>usigmas = c(0.01, 0.05, 0.011, 0.05, 0.02, 0.02/4, 0.05/4, 0.02/4, 0.05/4, 0.02/4) * 2
sigmas = c(usigmas, usigmas / 4)

eta = purrr::map(
    1:nrow(geodata),
    ~ eta0[, geodata$cluster[.]] + rnorm(ntime, mean = 0, sd = sigmas[geodata$cluster[.]])
    )
eta = do.call(cbind, eta)
# rows are times and columns the regions

# Visualize regions trends by cluster
auxcol &lt;- c(hcl.colors(5, palette = &quot;Dark 3&quot;), rep(1, 5))
matplot(time, eta, type = &quot;l&quot;, lty = 1, col = auxcol[geodata$cluster],
    xlab = &quot;time&quot;, ylab = expression(eta), main = &quot;Linear predictor&quot;)</code></pre>
<p><img src="/spatial-functional-clustering/50-simulate/26-spatial-clusters-fuzzy_files/figure-html/unnamed-chunk-3-1.png" width="672" style="display: block; margin: auto;" /></p>
<p>The risk is the exponential of the linear predictor.</p>
<pre class="r"><code>matplot(time, exp(eta), type = &quot;l&quot;, lty = 1, col = auxcol[geodata$cluster],
    xlab = &quot;time&quot;, ylab = expression(exp(eta)), main = &quot;Relative risk&quot;)</code></pre>
<p><img src="/spatial-functional-clustering/50-simulate/26-spatial-clusters-fuzzy_files/figure-html/unnamed-chunk-4-1.png" width="672" style="display: block; margin: auto;" /></p>
</div>
<div id="simulate-poisson-data" class="section level2">
<h2>Simulate Poisson data</h2>
<pre class="r"><code>lambda = exp(eta) * rep(geodata$population, each = ntime)
Y = matrix(rpois(nrow(geodata) * ntime, lambda = lambda), nrow = ntime)
matplot(time, Y, type = &quot;l&quot;, lty = 1, xlab = &quot;time&quot;, ylab = &quot;number of cases&quot;)</code></pre>
<p><img src="/spatial-functional-clustering/50-simulate/26-spatial-clusters-fuzzy_files/figure-html/unnamed-chunk-5-1.png" width="672" style="display: block; margin: auto;" /></p>
<p>Lets visualize the trends by clusters.</p>
<pre class="r"><code>ydf = setNames(as.data.frame(Y), 1:nrow(geodata)) |&gt;
    mutate(time = time) |&gt;
    pivot_longer(1:100, names_to = &quot;region&quot;, names_transform = as.numeric) |&gt;
        mutate(cluster = geodata$cluster[region])

mutate(ydf, cluster = factor(cluster, levels = as.numeric(matrix(1:10, nrow = 2, byrow = TRUE)))) |&gt;
    ggplot() +
    geom_line(aes(x = time, y = value, group = region, color = factor(region)), linewidth = 0.3) +
    facet_wrap(~ cluster, ncol = 2) +
    theme_bw() +
    theme(legend.position = &quot;none&quot;, legend.text = element_text(size = 7)) +
    labs(title = &quot;Number of cases by cluster per region&quot;, color = &quot;Cluster&quot;,
    y = &quot;Number of cases&quot;, x = &quot;Time&quot;)</code></pre>
<p><img src="/spatial-functional-clustering/50-simulate/26-spatial-clusters-fuzzy_files/figure-html/unnamed-chunk-6-1.png" width="768" style="display: block; margin: auto;" /></p>
</div>
<div id="save-simulated-data" class="section level2">
<h2>Save simulated data</h2>
<pre class="r"><code>saveRDS(
    list(beta0 = beta0, beta = beta, sigma = sigmas, eta = eta, Y = Y, cluster = geodata$cluster),
    file.path(path_sim, &quot;spatial-data-fuzzy.rds&quot;)
)</code></pre>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;   3.114   0.415   3.250</code></pre>
</div>
