---
title: "Splines: simulation"
prerequisites:
    - data/simulated/spatial-domain-clusters.rds
targets:
    - data/simulated/stdata-splines.rds
    - data/simulated/sfclust-stgauss.rda
---



<p>In this script, we simulate cluster trends using the a simulated spatial domain. The
trends are created using additive effects (gam).</p>
<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data, and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())

library(ggplot2)
library(dplyr)</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;dplyr&#39;</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:stats&#39;:
#&gt; 
#&gt;     filter, lag</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:base&#39;:
#&gt; 
#&gt;     intersect, setdiff, setequal, union</code></pre>
<pre class="r"><code>library(stars)</code></pre>
<pre><code>#&gt; Loading required package: abind</code></pre>
<pre><code>#&gt; Loading required package: sf</code></pre>
<pre><code>#&gt; Linking to GEOS 3.12.1, GDAL 3.8.4, PROJ 9.4.0; sf_use_s2() is TRUE</code></pre>
<pre class="r"><code>library(purrr)

path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_raw &lt;- file.path(path_data, &quot;raw&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_sim &lt;- file.path(path_data, &quot;simulated&quot;)

geodata &lt;- readRDS(file.path(path_sim, &quot;spatial-domain-clusters.rds&quot;))</code></pre>
</div>
<div id="simulate-fixed-effects-of-clusters" class="section level2">
<h2>Simulate fixed effects of clusters</h2>
<pre class="r"><code># parameters
J &lt;- 16
ntime &lt;- 91
time &lt;- seq(0, 1, length.out = ntime)

# compute additive effects
set.seed(1)
bs &lt;- fda::create.bspline.basis(c(0,1), J, norder = 3)
X &lt;- fda::eval.basis(time, bs)
thetas &lt;- rep(list(c(0.95), c(0.5, 0.44)), each = 5)
simar &lt;- function(n, tau2, theta) arima.sim(n = n, list(ar = theta), sd = sqrt(tau2))
beta &lt;- do.call(cbind, map(thetas, ~ as.numeric(simar(J, 0.1, .x))))
beta0 &lt;- - colMeans(X %*% beta)
eta0 &lt;- rep(beta0, each = ntime) + X %*% beta

# visualize linear predictor for groups
matplot(time, eta0, xlab = &quot;time&quot;, ylab = expression(X * beta))</code></pre>
<p><img src="/spatial-functional-clustering/50-simulate/32-splines-sim_files/figure-html/unnamed-chunk-2-1.png" width="672" style="display: block; margin: auto;" /></p>
</div>
<div id="simulate-linear-predictor" class="section level2">
<h2>Simulate linear predictor</h2>
<p>Add noise with respect to each cluster.</p>
<pre class="r"><code>usigmas &lt;- c(0.01, 0.05, 0.02, 0.05, 0.02) * 2
sigmas &lt;- c(usigmas, usigmas)

eta &lt;- purrr::map(
    1:nrow(geodata),
    ~ eta0[, geodata$cluster[.]] + rnorm(ntime, mean = 0, sd = sigmas[geodata$cluster[.]])
    )
eta &lt;- do.call(cbind, eta)
# rows are times and columns the regions</code></pre>
<p>The linear predictor, can be seen as realization of a Gaussian model.</p>
<pre class="r"><code>auxcol &lt;- hcl.colors(10, palette = &quot;Dark 3&quot;)
matplot(time, eta, type = &quot;l&quot;, lty = 1, col = auxcol[geodata$cluster],
    xlab = &quot;time&quot;, ylab = expression(eta), main = &quot;Linear predictor&quot;)</code></pre>
<p><img src="/spatial-functional-clustering/50-simulate/32-splines-sim_files/figure-html/unnamed-chunk-4-1.png" width="672" style="display: block; margin: auto;" /></p>
<p>In a Poisson model, the risk is the exponential of the linear predictor.</p>
<pre class="r"><code>matplot(time, exp(eta), type = &quot;l&quot;, lty = 1, col = auxcol[geodata$cluster],
    xlab = &quot;time&quot;, ylab = expression(exp(eta)), main = &quot;Relative risk&quot;)</code></pre>
<p><img src="/spatial-functional-clustering/50-simulate/32-splines-sim_files/figure-html/unnamed-chunk-5-1.png" width="672" style="display: block; margin: auto;" /></p>
<p>In a binomial model, the probability of succes is the logistic of the linear predictor.</p>
<pre class="r"><code>matplot(time, 1 / (1 + exp(-eta)), type = &quot;l&quot;, lty = 1, col = auxcol[geodata$cluster],
    xlab = &quot;time&quot;, ylab = expression(exp(eta)), main = &quot;Probability&quot;)</code></pre>
<p><img src="/spatial-functional-clustering/50-simulate/32-splines-sim_files/figure-html/unnamed-chunk-6-1.png" width="672" style="display: block; margin: auto;" /></p>
</div>
<div id="simulate-poisson-data" class="section level2">
<h2>Simulate Poisson data</h2>
<pre class="r"><code>lambda &lt;- exp(eta) * rep(geodata$population, each = ntime)
Y_poiss &lt;- matrix(rpois(nrow(geodata) * ntime, lambda = lambda), nrow = ntime)
matplot(time, Y_poiss, type = &quot;l&quot;, lty = 1, xlab = &quot;time&quot;, ylab = &quot;number of cases&quot;)</code></pre>
<p><img src="/spatial-functional-clustering/50-simulate/32-splines-sim_files/figure-html/unnamed-chunk-7-1.png" width="672" style="display: block; margin: auto;" /></p>
<p>Let’s convert the simulated data to stars.</p>
<pre class="r"><code>dims &lt;- st_dimensions(
    geometry = st_geometry(geodata),
    time = seq(as.Date(&quot;2024-01-01&quot;), by = &quot;day&quot;,  length.out = ntime)
)

# rows are regions and cols are times
stpoisson &lt;- st_as_stars(
    cases = t(Y_poiss),
    population = array(geodata$population, dim = c(nrow(geodata), ntime)),
    dimensions = dims)
stpoisson</code></pre>
<pre><code>#&gt; stars object with 2 dimensions and 2 attributes
#&gt; attribute(s):
#&gt;              Min. 1st Qu. Median     Mean 3rd Qu.   Max.
#&gt; cases        5434 17091.5  23284 25185.19 31315.0 113947
#&gt; population  10911 18733.5  24255 23814.57 27517.5  44829
#&gt; dimension(s):
#&gt;          from  to     offset  delta refsys point
#&gt; geometry    1 100         NA     NA     NA FALSE
#&gt; time        1  91 2024-01-01 1 days   Date FALSE
#&gt;                                                                 values
#&gt; geometry POLYGON ((59.5033 683.285...,...,POLYGON ((942.7562 116.89...
#&gt; time                                                              NULL</code></pre>
<p>Lets visualize the spatio-temporal behaviour.</p>
<pre class="r"><code>map_theme &lt;- function() {
  list(
    theme(panel.grid.major = element_blank(), panel.grid.minor = element_blank(),
      axis.ticks = element_blank(), axis.text = element_blank()),
    scale_x_continuous(expand = c(0, 0)),
    scale_y_continuous(expand = c(0, 0))
  )
}

ggplot() +
    geom_stars(aes(fill = log(cases/population)), data = stpoisson) +
    facet_wrap(~ time) +
    scale_fill_distiller(palette = &quot;RdBu&quot;) +
    labs(title = &quot;Daily risk&quot;, fill = &quot;Log-Risk&quot;) +
    theme_bw() +
    map_theme() +
    theme(legend.position = &quot;bottom&quot;)</code></pre>
<p><img src="/spatial-functional-clustering/50-simulate/32-splines-sim_files/figure-html/unnamed-chunk-9-1.png" width="768" style="display: block; margin: auto;" /></p>
<p>Lets aggregate the data by week for easier visualization.</p>
<pre class="r"><code>ggplot() +
  geom_stars(aes(fill = log(cases/population)), aggregate(stpoisson, by = &quot;week&quot;, FUN = mean)) +
  facet_wrap(~ time) +
  scale_fill_distiller(palette = &quot;RdBu&quot;) +
  labs(title = &quot;Weekly log-risk&quot;, fill = &quot;Log-Risk&quot;) +
  theme_bw() +
  map_theme()</code></pre>
<p><img src="/spatial-functional-clustering/50-simulate/32-splines-sim_files/figure-html/unnamed-chunk-10-1.png" width="768" style="display: block; margin: auto;" /></p>
<p>Lets visualize the trends by clusters.</p>
<pre class="r"><code>stpoisson |&gt;
    mutate(cluster = factor(rep(geodata$cluster, ntime))) |&gt;
    st_set_dimensions(&quot;geometry&quot;, values = 1:nrow(stpoisson)) |&gt;
    as_tibble() |&gt;
    ggplot() +
    geom_line(aes(time, cases/population, group = geometry), linewidth = 0.3) +
    facet_wrap(~ cluster, ncol = 2) +
    theme_bw() +
    theme(legend.position = &quot;none&quot;, legend.text = element_text(size = 7)) +
    labs(title = &quot;Risk by cluster per region&quot;, color = &quot;Cluster&quot;,
    y = &quot;Risk&quot;, x = &quot;Time&quot;)</code></pre>
<p><img src="/spatial-functional-clustering/50-simulate/32-splines-sim_files/figure-html/unnamed-chunk-11-1.png" width="768" style="display: block; margin: auto;" /></p>
</div>
<div id="simulate-binomial-data" class="section level2">
<h2>Simulate Binomial data</h2>
<pre class="r"><code>prob &lt;- 1 / (1 + exp(-eta))
Y_binom &lt;- matrix(rbinom(nrow(geodata) * ntime, size = rep(geodata$population, each = ntime),  prob = prob), nrow = ntime)
matplot(time, Y_binom, type = &quot;l&quot;, lty = 1, xlab = &quot;time&quot;, ylab = &quot;number of cases&quot;)</code></pre>
<p><img src="/spatial-functional-clustering/50-simulate/32-splines-sim_files/figure-html/unnamed-chunk-12-1.png" width="672" style="display: block; margin: auto;" /></p>
<p>Let’s convert the simulated data to stars.</p>
<pre class="r"><code>stbinom &lt;- st_as_stars(cases = t(Y_binom),
    population = array(geodata$population, dim = c(nrow(geodata), ntime)),
    dimensions = dims)
stbinom</code></pre>
<pre><code>#&gt; stars object with 2 dimensions and 2 attributes
#&gt; attribute(s):
#&gt;              Min.  1st Qu. Median     Mean  3rd Qu.  Max.
#&gt; cases        3731  9011.25  11737 11906.38 14356.25 28726
#&gt; population  10911 18733.50  24255 23814.57 27517.50 44829
#&gt; dimension(s):
#&gt;          from  to     offset  delta refsys point
#&gt; geometry    1 100         NA     NA     NA FALSE
#&gt; time        1  91 2024-01-01 1 days   Date FALSE
#&gt;                                                                 values
#&gt; geometry POLYGON ((59.5033 683.285...,...,POLYGON ((942.7562 116.89...
#&gt; time                                                              NULL</code></pre>
<p>Lets visualize the spatio-temporal behaviour.</p>
<pre class="r"><code>ggplot() +
    geom_stars(aes(fill = cases/population), data = stbinom) +
    facet_wrap(~ time) +
    scale_fill_distiller(palette = &quot;RdBu&quot;) +
    labs(title = &quot;Daily risk&quot;, fill = &quot;Risk&quot;) +
    theme_bw() +
    map_theme() +
    theme(legend.position = &quot;bottom&quot;)</code></pre>
<p><img src="/spatial-functional-clustering/50-simulate/32-splines-sim_files/figure-html/unnamed-chunk-14-1.png" width="768" style="display: block; margin: auto;" /></p>
<p>Lets aggregate the data by week for easier visualization.</p>
<pre class="r"><code>ggplot() +
  geom_stars(aes(fill = cases/population), aggregate(stbinom, by = &quot;week&quot;, FUN = mean)) +
  facet_wrap(~ time) +
  scale_fill_distiller(palette = &quot;RdBu&quot;) +
  labs(title = &quot;Weekly risk&quot;, fill = &quot;Risk&quot;) +
  theme_bw() +
  map_theme()</code></pre>
<p><img src="/spatial-functional-clustering/50-simulate/32-splines-sim_files/figure-html/unnamed-chunk-15-1.png" width="768" style="display: block; margin: auto;" /></p>
<p>Lets visualize the trends by clusters.</p>
<pre class="r"><code>stbinom |&gt;
    mutate(cluster = factor(rep(geodata$cluster, ntime))) |&gt;
    st_set_dimensions(&quot;geometry&quot;, values = 1:nrow(stbinom)) |&gt;
    as_tibble() |&gt;
    ggplot() +
    geom_line(aes(time, cases/population, group = geometry), linewidth = 0.3) +
    facet_wrap(~ cluster, ncol = 2) +
    theme_bw() +
    theme(legend.position = &quot;none&quot;, legend.text = element_text(size = 7)) +
    labs(title = &quot;Risk by cluster per region&quot;, color = &quot;Cluster&quot;,
    y = &quot;Risk&quot;, x = &quot;Time&quot;)</code></pre>
<p><img src="/spatial-functional-clustering/50-simulate/32-splines-sim_files/figure-html/unnamed-chunk-16-1.png" width="768" style="display: block; margin: auto;" /></p>
</div>
<div id="save-simulated-data" class="section level2">
<h2>Save simulated data</h2>
<p>Simulated data under simple scenario (non-polinomial trends).</p>
<pre class="r"><code>stdata &lt;- st_as_stars(
    gauss = t(eta),
    binom = t(Y_binom),
    pois = t(Y_poiss),
    population = array(geodata$population, dim = c(nrow(geodata), ntime)),
    dimensions = dims)
attr(stdata, &quot;params&quot;) &lt;- list(beta0 = beta0, beta = beta, sigma = sigmas, cluster = geodata$cluster)

saveRDS(stdata, file.path(path_sim, &quot;stdata-splines.rds&quot;))</code></pre>
<p>Simulated data for <code>sfclust</code> package.</p>
<pre class="r"><code>stgauss &lt;- st_as_stars(y = t(eta), dimensions = dims)
save(stgauss, file = file.path(path_sim, &quot;sfclust-stgauss.rda&quot;))</code></pre>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;  18.529   0.466  19.072</code></pre>
</div>
