---
title: "Spatial functional clustering: generalized linear model"
prerequisites:
    - data/simulated/spatial-domain-clusters.rds
    - data/simulated/spatial-data-glm.rds
targets:
    - data/simulated/bsfc-glm-poisson.rds
    - data/simulated/bsfc-glm-normal.rds
---



<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data, and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())

library(sf)</code></pre>
<pre><code>#&gt; Linking to GEOS 3.10.2, GDAL 3.4.1, PROJ 8.2.1; sf_use_s2() is TRUE</code></pre>
<pre class="r"><code>library(ggplot2)
library(dplyr)</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;dplyr&#39;</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:stats&#39;:
#&gt; 
#&gt;     filter, lag</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:base&#39;:
#&gt; 
#&gt;     intersect, setdiff, setequal, union</code></pre>
<pre class="r"><code>library(igraph)</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;igraph&#39;</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:dplyr&#39;:
#&gt; 
#&gt;     as_data_frame, groups, union</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:stats&#39;:
#&gt; 
#&gt;     decompose, spectrum</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:base&#39;:
#&gt; 
#&gt;     union</code></pre>
<pre class="r"><code>path_proj = day2day::git_path()
path_data = file.path(path_proj, &quot;data&quot;)
path_sim = file.path(path_data, &quot;simulated&quot;)
devtools::load_all(&quot;/home/rstudio/documents/repositories/spfc&quot;)</code></pre>
<pre><code>#&gt; ℹ Loading bsfc</code></pre>
<pre class="r"><code>domain &lt;- readRDS(file.path(path_sim, &quot;spatial-domain-clusters.rds&quot;))
tdata &lt;- readRDS(file.path(path_sim, &quot;spatial-data-glm.rds&quot;))

tdata$time &lt;- seq(0, 1, length.out = 100)
tdata$X &lt;- poly(tdata$time, 2, raw = TRUE, simple = TRUE)
ntime &lt;- length(tdata$time)</code></pre>
</div>
<div id="create-graph-components" class="section level2">
<h2>Create graph components</h2>
<pre class="r"><code>set.seed(123)

# create graph
adj_mat = st_touches(domain) %&gt;% as(&quot;matrix&quot;)
adj_mat_weighted = adj_mat * runif(length(adj_mat))
graph = graph_from_adjacency_matrix(adj_mat_weighted, mode = &quot;upper&quot;, weighted = TRUE)
plot(graph)</code></pre>
<p><img src="/spatial-functional-clustering/50-simulate/42-fit-bsfc-glm_files/figure-html/unnamed-chunk-2-1.png" width="672" style="display: block; margin: auto;" /></p>
<pre class="r"><code># obtain minimum spaning tree
mstgraph = mst(graph)
V(mstgraph)$vid = 1:gorder(mstgraph)
plot(mstgraph)</code></pre>
<p><img src="/spatial-functional-clustering/50-simulate/42-fit-bsfc-glm_files/figure-html/unnamed-chunk-2-2.png" width="672" style="display: block; margin: auto;" /></p>
<pre class="r"><code># obtain initial clusters
ncluster = 10
rmid = order(E(mstgraph)$weight, decreasing = TRUE)[1:(ncluster-1)]
graph_comp = components(delete_edges(mstgraph, rmid))
membership = graph_comp$membership

graphdata = list(graph = graph, mst = mstgraph, cluster = membership)</code></pre>
</div>
<div id="spatial-clustering-for-gaussian-data" class="section level2">
<h2>Spatial clustering for Gaussian data</h2>
<pre class="r"><code>path_normal_out = file.path(path_sim, &quot;bsfc-glm-normal.rds&quot;)
out = bsfc(tdata$eta, graphdata, X = tdata$X, formula = Yk ~ 1 + Xk, family = &quot;normal&quot;,
    hyperpar = list(c = 0.5), niter = 2000, burnin = 0, thin = 1, path_save = path_normal_out)</code></pre>
<pre><code>#&gt; Iteration 10: clusters = 17, births = 7, deaths = 0, changes = 1, hypers = 0, log_mlike = 5770.474
#&gt; Iteration 20: clusters = 23, births = 13, deaths = 0, changes = 1, hypers = 1, log_mlike = 7449.128
#&gt; Iteration 30: clusters = 26, births = 16, deaths = 0, changes = 2, hypers = 2, log_mlike = 8706.996
#&gt; Iteration 40: clusters = 31, births = 21, deaths = 0, changes = 2, hypers = 2, log_mlike = 11955.52
#&gt; Iteration 50: clusters = 31, births = 22, deaths = 1, changes = 2, hypers = 2, log_mlike = 12400.87
#&gt; Iteration 60: clusters = 31, births = 22, deaths = 1, changes = 3, hypers = 3, log_mlike = 12400.99
#&gt; Iteration 70: clusters = 36, births = 27, deaths = 1, changes = 3, hypers = 3, log_mlike = 13331.46
#&gt; Iteration 80: clusters = 37, births = 29, deaths = 2, changes = 3, hypers = 3, log_mlike = 13659.4
#&gt; Iteration 90: clusters = 39, births = 31, deaths = 2, changes = 3, hypers = 3, log_mlike = 14065.93
#&gt; Iteration 100: clusters = 39, births = 32, deaths = 3, changes = 4, hypers = 3, log_mlike = 14408.85
#&gt; Iteration 110: clusters = 40, births = 34, deaths = 4, changes = 5, hypers = 3, log_mlike = 14676.93
#&gt; Iteration 120: clusters = 42, births = 36, deaths = 4, changes = 5, hypers = 4, log_mlike = 15184.17
#&gt; Iteration 130: clusters = 41, births = 37, deaths = 6, changes = 5, hypers = 6, log_mlike = 15492.15
#&gt; Iteration 140: clusters = 42, births = 38, deaths = 6, changes = 5, hypers = 6, log_mlike = 15545
#&gt; Iteration 150: clusters = 45, births = 42, deaths = 7, changes = 5, hypers = 7, log_mlike = 16730.27
#&gt; Iteration 160: clusters = 44, births = 43, deaths = 9, changes = 5, hypers = 8, log_mlike = 17054.72
#&gt; Iteration 170: clusters = 42, births = 43, deaths = 11, changes = 6, hypers = 9, log_mlike = 17095.5
#&gt; Iteration 180: clusters = 42, births = 44, deaths = 12, changes = 6, hypers = 10, log_mlike = 17117.08
#&gt; Iteration 190: clusters = 42, births = 45, deaths = 13, changes = 6, hypers = 11, log_mlike = 17245.28
#&gt; Iteration 200: clusters = 39, births = 45, deaths = 16, changes = 6, hypers = 12, log_mlike = 17312.01
#&gt; Iteration 210: clusters = 39, births = 46, deaths = 17, changes = 6, hypers = 12, log_mlike = 17400.87
#&gt; Iteration 220: clusters = 39, births = 46, deaths = 17, changes = 6, hypers = 12, log_mlike = 17400.87
#&gt; Iteration 230: clusters = 38, births = 46, deaths = 18, changes = 6, hypers = 12, log_mlike = 17419.21
#&gt; Iteration 240: clusters = 39, births = 47, deaths = 18, changes = 6, hypers = 13, log_mlike = 17942.36
#&gt; Iteration 250: clusters = 39, births = 47, deaths = 18, changes = 6, hypers = 14, log_mlike = 17942.36
#&gt; Iteration 260: clusters = 40, births = 48, deaths = 18, changes = 7, hypers = 14, log_mlike = 18567.73
#&gt; Iteration 270: clusters = 37, births = 48, deaths = 21, changes = 7, hypers = 14, log_mlike = 18626.79
#&gt; Iteration 280: clusters = 36, births = 48, deaths = 22, changes = 7, hypers = 16, log_mlike = 18648.68
#&gt; Iteration 290: clusters = 35, births = 48, deaths = 23, changes = 7, hypers = 17, log_mlike = 18668.89
#&gt; Iteration 300: clusters = 35, births = 48, deaths = 23, changes = 7, hypers = 18, log_mlike = 18668.89
#&gt; Iteration 310: clusters = 35, births = 48, deaths = 23, changes = 8, hypers = 18, log_mlike = 18670.75
#&gt; Iteration 320: clusters = 33, births = 48, deaths = 25, changes = 8, hypers = 18, log_mlike = 18714.95
#&gt; Iteration 330: clusters = 33, births = 48, deaths = 25, changes = 8, hypers = 19, log_mlike = 18714.95
#&gt; Iteration 340: clusters = 32, births = 48, deaths = 26, changes = 8, hypers = 21, log_mlike = 18734.29
#&gt; Iteration 350: clusters = 31, births = 48, deaths = 27, changes = 8, hypers = 22, log_mlike = 18753.15
#&gt; Iteration 360: clusters = 31, births = 48, deaths = 27, changes = 8, hypers = 22, log_mlike = 18753.15
#&gt; Iteration 370: clusters = 30, births = 48, deaths = 28, changes = 8, hypers = 24, log_mlike = 18773.39
#&gt; Iteration 380: clusters = 31, births = 49, deaths = 28, changes = 8, hypers = 26, log_mlike = 19135.84
#&gt; Iteration 390: clusters = 30, births = 49, deaths = 29, changes = 8, hypers = 26, log_mlike = 19152.73
#&gt; Iteration 400: clusters = 30, births = 49, deaths = 29, changes = 8, hypers = 27, log_mlike = 19152.73
#&gt; Iteration 410: clusters = 30, births = 49, deaths = 29, changes = 8, hypers = 29, log_mlike = 19152.73
#&gt; Iteration 420: clusters = 30, births = 49, deaths = 29, changes = 8, hypers = 30, log_mlike = 19152.73
#&gt; Iteration 430: clusters = 30, births = 49, deaths = 29, changes = 8, hypers = 30, log_mlike = 19152.73
#&gt; Iteration 440: clusters = 29, births = 49, deaths = 30, changes = 8, hypers = 30, log_mlike = 19173.99
#&gt; Iteration 450: clusters = 28, births = 49, deaths = 31, changes = 8, hypers = 32, log_mlike = 19192.85
#&gt; Iteration 460: clusters = 26, births = 50, deaths = 34, changes = 8, hypers = 32, log_mlike = 19740.48
#&gt; Iteration 470: clusters = 23, births = 50, deaths = 37, changes = 8, hypers = 32, log_mlike = 19800.86
#&gt; Iteration 480: clusters = 21, births = 50, deaths = 39, changes = 8, hypers = 32, log_mlike = 19844.76
#&gt; Iteration 490: clusters = 21, births = 50, deaths = 39, changes = 8, hypers = 32, log_mlike = 19844.76
#&gt; Iteration 500: clusters = 19, births = 50, deaths = 41, changes = 8, hypers = 33, log_mlike = 19883.52
#&gt; Iteration 510: clusters = 18, births = 50, deaths = 42, changes = 8, hypers = 33, log_mlike = 19908.12
#&gt; Iteration 520: clusters = 17, births = 50, deaths = 43, changes = 8, hypers = 33, log_mlike = 19926.44
#&gt; Iteration 530: clusters = 17, births = 50, deaths = 43, changes = 8, hypers = 33, log_mlike = 19926.44
#&gt; Iteration 540: clusters = 17, births = 50, deaths = 43, changes = 8, hypers = 33, log_mlike = 19926.44
#&gt; Iteration 550: clusters = 17, births = 50, deaths = 43, changes = 8, hypers = 33, log_mlike = 19926.44
#&gt; Iteration 560: clusters = 18, births = 51, deaths = 43, changes = 8, hypers = 33, log_mlike = 20130.86
#&gt; Iteration 570: clusters = 16, births = 51, deaths = 45, changes = 8, hypers = 35, log_mlike = 20171.8
#&gt; Iteration 580: clusters = 15, births = 51, deaths = 46, changes = 8, hypers = 35, log_mlike = 20194.62
#&gt; Iteration 590: clusters = 15, births = 51, deaths = 46, changes = 8, hypers = 36, log_mlike = 20194.62
#&gt; Iteration 600: clusters = 15, births = 51, deaths = 46, changes = 8, hypers = 37, log_mlike = 20194.62
#&gt; Iteration 610: clusters = 15, births = 51, deaths = 46, changes = 8, hypers = 37, log_mlike = 20194.62
#&gt; Iteration 620: clusters = 15, births = 51, deaths = 46, changes = 8, hypers = 37, log_mlike = 20194.62
#&gt; Iteration 630: clusters = 14, births = 51, deaths = 47, changes = 8, hypers = 37, log_mlike = 20215.51
#&gt; Iteration 640: clusters = 14, births = 51, deaths = 47, changes = 9, hypers = 37, log_mlike = 20219.43
#&gt; Iteration 650: clusters = 14, births = 51, deaths = 47, changes = 9, hypers = 38, log_mlike = 20219.43
#&gt; Iteration 660: clusters = 14, births = 51, deaths = 47, changes = 9, hypers = 39, log_mlike = 20219.43
#&gt; Iteration 670: clusters = 12, births = 51, deaths = 49, changes = 9, hypers = 39, log_mlike = 20261.91
#&gt; Iteration 680: clusters = 12, births = 51, deaths = 49, changes = 9, hypers = 39, log_mlike = 20261.91
#&gt; Iteration 690: clusters = 10, births = 51, deaths = 51, changes = 9, hypers = 40, log_mlike = 20304.84
#&gt; Iteration 700: clusters = 10, births = 51, deaths = 51, changes = 9, hypers = 41, log_mlike = 20304.84
#&gt; Iteration 710: clusters = 10, births = 51, deaths = 51, changes = 9, hypers = 41, log_mlike = 20304.84
#&gt; Iteration 720: clusters = 10, births = 51, deaths = 51, changes = 9, hypers = 42, log_mlike = 20304.84
#&gt; Iteration 730: clusters = 10, births = 51, deaths = 51, changes = 9, hypers = 42, log_mlike = 20304.84
#&gt; Iteration 740: clusters = 11, births = 52, deaths = 51, changes = 9, hypers = 42, log_mlike = 20305.57
#&gt; Iteration 750: clusters = 10, births = 52, deaths = 52, changes = 9, hypers = 42, log_mlike = 20304.84
#&gt; Iteration 760: clusters = 10, births = 52, deaths = 52, changes = 9, hypers = 44, log_mlike = 20304.84
#&gt; Iteration 770: clusters = 10, births = 52, deaths = 52, changes = 9, hypers = 44, log_mlike = 20304.84
#&gt; Iteration 780: clusters = 10, births = 52, deaths = 52, changes = 9, hypers = 44, log_mlike = 20304.84
#&gt; Iteration 790: clusters = 10, births = 52, deaths = 52, changes = 9, hypers = 44, log_mlike = 20304.84
#&gt; Iteration 800: clusters = 10, births = 52, deaths = 52, changes = 9, hypers = 45, log_mlike = 20304.84
#&gt; Iteration 810: clusters = 10, births = 52, deaths = 52, changes = 9, hypers = 45, log_mlike = 20304.84
#&gt; Iteration 820: clusters = 10, births = 52, deaths = 52, changes = 9, hypers = 45, log_mlike = 20304.84
#&gt; Iteration 830: clusters = 10, births = 52, deaths = 52, changes = 9, hypers = 46, log_mlike = 20304.84
#&gt; Iteration 840: clusters = 10, births = 52, deaths = 52, changes = 9, hypers = 47, log_mlike = 20304.84
#&gt; Iteration 850: clusters = 10, births = 52, deaths = 52, changes = 9, hypers = 48, log_mlike = 20304.84
#&gt; Iteration 860: clusters = 10, births = 52, deaths = 52, changes = 9, hypers = 48, log_mlike = 20304.84
#&gt; Iteration 870: clusters = 10, births = 52, deaths = 52, changes = 9, hypers = 48, log_mlike = 20304.84
#&gt; Iteration 880: clusters = 10, births = 52, deaths = 52, changes = 9, hypers = 48, log_mlike = 20304.84
#&gt; Iteration 890: clusters = 10, births = 52, deaths = 52, changes = 9, hypers = 49, log_mlike = 20304.84
#&gt; Iteration 900: clusters = 10, births = 52, deaths = 52, changes = 9, hypers = 49, log_mlike = 20304.84
#&gt; Iteration 910: clusters = 10, births = 52, deaths = 52, changes = 9, hypers = 49, log_mlike = 20304.84
#&gt; Iteration 920: clusters = 10, births = 52, deaths = 52, changes = 9, hypers = 51, log_mlike = 20304.84
#&gt; Iteration 930: clusters = 10, births = 52, deaths = 52, changes = 9, hypers = 51, log_mlike = 20304.84
#&gt; Iteration 940: clusters = 10, births = 52, deaths = 52, changes = 9, hypers = 51, log_mlike = 20304.84
#&gt; Iteration 950: clusters = 10, births = 52, deaths = 52, changes = 9, hypers = 52, log_mlike = 20304.84
#&gt; Iteration 960: clusters = 10, births = 52, deaths = 52, changes = 9, hypers = 52, log_mlike = 20304.84
#&gt; Iteration 970: clusters = 10, births = 52, deaths = 52, changes = 9, hypers = 52, log_mlike = 20304.84
#&gt; Iteration 980: clusters = 10, births = 52, deaths = 52, changes = 9, hypers = 53, log_mlike = 20304.84
#&gt; Iteration 990: clusters = 10, births = 52, deaths = 52, changes = 9, hypers = 55, log_mlike = 20304.84
#&gt; Iteration 1000: clusters = 10, births = 52, deaths = 52, changes = 9, hypers = 55, log_mlike = 20304.84
#&gt; Iteration 1010: clusters = 10, births = 52, deaths = 52, changes = 9, hypers = 55, log_mlike = 20304.84
#&gt; Iteration 1020: clusters = 11, births = 53, deaths = 52, changes = 9, hypers = 55, log_mlike = 20445.45
#&gt; Iteration 1030: clusters = 11, births = 53, deaths = 52, changes = 9, hypers = 55, log_mlike = 20445.45
#&gt; Iteration 1040: clusters = 11, births = 53, deaths = 52, changes = 9, hypers = 56, log_mlike = 20445.45
#&gt; Iteration 1050: clusters = 11, births = 53, deaths = 52, changes = 9, hypers = 56, log_mlike = 20445.45
#&gt; Iteration 1060: clusters = 11, births = 53, deaths = 52, changes = 9, hypers = 56, log_mlike = 20445.45
#&gt; Iteration 1070: clusters = 11, births = 53, deaths = 52, changes = 9, hypers = 56, log_mlike = 20445.45
#&gt; Iteration 1080: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 58, log_mlike = 20468.59
#&gt; Iteration 1090: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 58, log_mlike = 20468.59
#&gt; Iteration 1100: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 58, log_mlike = 20468.59
#&gt; Iteration 1110: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 58, log_mlike = 20468.59
#&gt; Iteration 1120: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 58, log_mlike = 20468.59
#&gt; Iteration 1130: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 59, log_mlike = 20468.59
#&gt; Iteration 1140: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 59, log_mlike = 20468.59
#&gt; Iteration 1150: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 59, log_mlike = 20468.59
#&gt; Iteration 1160: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 60, log_mlike = 20468.59
#&gt; Iteration 1170: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 61, log_mlike = 20468.59
#&gt; Iteration 1180: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 61, log_mlike = 20468.59
#&gt; Iteration 1190: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 61, log_mlike = 20468.59
#&gt; Iteration 1200: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 61, log_mlike = 20468.59
#&gt; Iteration 1210: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 61, log_mlike = 20468.59
#&gt; Iteration 1220: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 62, log_mlike = 20468.59
#&gt; Iteration 1230: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 62, log_mlike = 20468.59
#&gt; Iteration 1240: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 63, log_mlike = 20468.59
#&gt; Iteration 1250: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 64, log_mlike = 20468.59
#&gt; Iteration 1260: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 64, log_mlike = 20468.59
#&gt; Iteration 1270: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 65, log_mlike = 20468.59
#&gt; Iteration 1280: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 66, log_mlike = 20468.59
#&gt; Iteration 1290: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 66, log_mlike = 20468.59
#&gt; Iteration 1300: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 66, log_mlike = 20468.59
#&gt; Iteration 1310: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 66, log_mlike = 20468.59
#&gt; Iteration 1320: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 66, log_mlike = 20468.59
#&gt; Iteration 1330: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 67, log_mlike = 20468.59
#&gt; Iteration 1340: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 68, log_mlike = 20468.59
#&gt; Iteration 1350: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 69, log_mlike = 20468.59
#&gt; Iteration 1360: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 69, log_mlike = 20468.59
#&gt; Iteration 1370: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 69, log_mlike = 20468.59
#&gt; Iteration 1380: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 70, log_mlike = 20468.59
#&gt; Iteration 1390: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 70, log_mlike = 20468.59
#&gt; Iteration 1400: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 71, log_mlike = 20468.59
#&gt; Iteration 1410: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 72, log_mlike = 20468.59
#&gt; Iteration 1420: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 73, log_mlike = 20468.59
#&gt; Iteration 1430: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 73, log_mlike = 20468.59
#&gt; Iteration 1440: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 76, log_mlike = 20468.59
#&gt; Iteration 1450: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 77, log_mlike = 20468.59
#&gt; Iteration 1460: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 78, log_mlike = 20468.59
#&gt; Iteration 1470: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 78, log_mlike = 20468.59
#&gt; Iteration 1480: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 79, log_mlike = 20468.59
#&gt; Iteration 1490: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 79, log_mlike = 20468.59
#&gt; Iteration 1500: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 79, log_mlike = 20468.59
#&gt; Iteration 1510: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 79, log_mlike = 20468.59
#&gt; Iteration 1520: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 79, log_mlike = 20468.59
#&gt; Iteration 1530: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 79, log_mlike = 20468.59
#&gt; Iteration 1540: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 80, log_mlike = 20468.59
#&gt; Iteration 1550: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 80, log_mlike = 20468.59
#&gt; Iteration 1560: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 82, log_mlike = 20468.59
#&gt; Iteration 1570: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 83, log_mlike = 20468.59
#&gt; Iteration 1580: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 84, log_mlike = 20468.59
#&gt; Iteration 1590: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 84, log_mlike = 20468.59
#&gt; Iteration 1600: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 85, log_mlike = 20468.59
#&gt; Iteration 1610: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 85, log_mlike = 20468.59
#&gt; Iteration 1620: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 85, log_mlike = 20468.59
#&gt; Iteration 1630: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 88, log_mlike = 20468.59
#&gt; Iteration 1640: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 89, log_mlike = 20468.59
#&gt; Iteration 1650: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 89, log_mlike = 20468.59
#&gt; Iteration 1660: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 89, log_mlike = 20468.59
#&gt; Iteration 1670: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 89, log_mlike = 20468.59
#&gt; Iteration 1680: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 89, log_mlike = 20468.59
#&gt; Iteration 1690: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 90, log_mlike = 20468.59
#&gt; Iteration 1700: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 90, log_mlike = 20468.59
#&gt; Iteration 1710: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 90, log_mlike = 20468.59
#&gt; Iteration 1720: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 90, log_mlike = 20468.59
#&gt; Iteration 1730: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 91, log_mlike = 20468.59
#&gt; Iteration 1740: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 91, log_mlike = 20468.59
#&gt; Iteration 1750: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 92, log_mlike = 20468.59
#&gt; Iteration 1760: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 93, log_mlike = 20468.59
#&gt; Iteration 1770: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 93, log_mlike = 20468.59
#&gt; Iteration 1780: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 94, log_mlike = 20468.59
#&gt; Iteration 1790: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 94, log_mlike = 20468.59
#&gt; Iteration 1800: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 94, log_mlike = 20468.59
#&gt; Iteration 1810: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 96, log_mlike = 20468.59
#&gt; Iteration 1820: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 96, log_mlike = 20468.59
#&gt; Iteration 1830: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 96, log_mlike = 20468.59
#&gt; Iteration 1840: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 98, log_mlike = 20468.59
#&gt; Iteration 1850: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 100, log_mlike = 20468.59
#&gt; Iteration 1860: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 101, log_mlike = 20468.59
#&gt; Iteration 1870: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 101, log_mlike = 20468.59
#&gt; Iteration 1880: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 101, log_mlike = 20468.59
#&gt; Iteration 1890: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 102, log_mlike = 20468.59
#&gt; Iteration 1900: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 102, log_mlike = 20468.59
#&gt; Iteration 1910: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 104, log_mlike = 20468.59
#&gt; Iteration 1920: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 105, log_mlike = 20468.59
#&gt; Iteration 1930: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 105, log_mlike = 20468.59
#&gt; Iteration 1940: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 106, log_mlike = 20468.59
#&gt; Iteration 1950: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 106, log_mlike = 20468.59
#&gt; Iteration 1960: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 107, log_mlike = 20468.59
#&gt; Iteration 1970: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 107, log_mlike = 20468.59
#&gt; Iteration 1980: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 107, log_mlike = 20468.59
#&gt; Iteration 1990: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 107, log_mlike = 20468.59
#&gt; Iteration 2000: clusters = 10, births = 53, deaths = 53, changes = 9, hypers = 107, log_mlike = 20468.59</code></pre>
</div>
<div id="spatial-clustering-for-poisson-data" class="section level2">
<h2>Spatial clustering for Poisson data</h2>
<pre class="r"><code>path_poisson_out = file.path(path_sim, &quot;bsfc-glm-poisson.rds&quot;)
out = bsfc(tdata$Y, graphdata, X = tdata$X, N = domain$population,
    formula = Yk ~ 1 + Xk + f(id, model = &#39;iid&#39;), family = &quot;poisson&quot;,
    hyperpar = list(c = 0.5), niter = 2000, burnin = 0, thin = 1, path_save = path_poisson_out)</code></pre>
<pre><code>#&gt; Iteration 10: clusters = 13, births = 3, deaths = 0, changes = 0, hypers = 2, log_mlike = -98337.47
#&gt; Iteration 20: clusters = 14, births = 7, deaths = 3, changes = 1, hypers = 3, log_mlike = -95380.58
#&gt; Iteration 30: clusters = 17, births = 11, deaths = 4, changes = 1, hypers = 4, log_mlike = -93975.22
#&gt; Iteration 40: clusters = 19, births = 13, deaths = 4, changes = 1, hypers = 5, log_mlike = -92473.53
#&gt; Iteration 50: clusters = 20, births = 16, deaths = 6, changes = 1, hypers = 5, log_mlike = -91454.98
#&gt; Iteration 60: clusters = 20, births = 18, deaths = 8, changes = 1, hypers = 5, log_mlike = -91150.34
#&gt; Iteration 70: clusters = 21, births = 20, deaths = 9, changes = 1, hypers = 5, log_mlike = -90820.95
#&gt; Iteration 80: clusters = 23, births = 23, deaths = 10, changes = 2, hypers = 5, log_mlike = -90367.79
#&gt; Iteration 90: clusters = 26, births = 26, deaths = 10, changes = 2, hypers = 6, log_mlike = -89958.27
#&gt; Iteration 100: clusters = 27, births = 28, deaths = 11, changes = 2, hypers = 6, log_mlike = -89057.93
#&gt; Iteration 110: clusters = 29, births = 30, deaths = 11, changes = 2, hypers = 6, log_mlike = -88987.72
#&gt; Iteration 120: clusters = 28, births = 30, deaths = 12, changes = 3, hypers = 6, log_mlike = -88939.44
#&gt; Iteration 130: clusters = 31, births = 33, deaths = 12, changes = 4, hypers = 7, log_mlike = -88287.39
#&gt; Iteration 140: clusters = 34, births = 36, deaths = 12, changes = 4, hypers = 8, log_mlike = -87236.22
#&gt; Iteration 150: clusters = 37, births = 39, deaths = 12, changes = 5, hypers = 8, log_mlike = -86359.4
#&gt; Iteration 160: clusters = 38, births = 41, deaths = 13, changes = 5, hypers = 9, log_mlike = -85654
#&gt; Iteration 170: clusters = 37, births = 42, deaths = 15, changes = 5, hypers = 9, log_mlike = -85464.68
#&gt; Iteration 180: clusters = 36, births = 42, deaths = 16, changes = 5, hypers = 11, log_mlike = -85443.23
#&gt; Iteration 190: clusters = 36, births = 43, deaths = 17, changes = 5, hypers = 11, log_mlike = -85303.41
#&gt; Iteration 200: clusters = 39, births = 47, deaths = 18, changes = 5, hypers = 11, log_mlike = -84630.19
#&gt; Iteration 210: clusters = 39, births = 47, deaths = 18, changes = 7, hypers = 12, log_mlike = -84056.99
#&gt; Iteration 220: clusters = 39, births = 47, deaths = 18, changes = 8, hypers = 12, log_mlike = -84056.02
#&gt; Iteration 230: clusters = 38, births = 47, deaths = 19, changes = 8, hypers = 13, log_mlike = -84035.28
#&gt; Iteration 240: clusters = 35, births = 47, deaths = 22, changes = 8, hypers = 14, log_mlike = -83975.21
#&gt; Iteration 250: clusters = 35, births = 49, deaths = 24, changes = 8, hypers = 15, log_mlike = -83711.84
#&gt; Iteration 260: clusters = 32, births = 49, deaths = 27, changes = 8, hypers = 15, log_mlike = -83655.6
#&gt; Iteration 270: clusters = 30, births = 49, deaths = 29, changes = 9, hypers = 15, log_mlike = -83613.38
#&gt; Iteration 280: clusters = 30, births = 49, deaths = 29, changes = 9, hypers = 17, log_mlike = -83613.38
#&gt; Iteration 290: clusters = 29, births = 50, deaths = 31, changes = 9, hypers = 18, log_mlike = -83444.89
#&gt; Iteration 300: clusters = 29, births = 51, deaths = 32, changes = 9, hypers = 18, log_mlike = -83260.46
#&gt; Iteration 310: clusters = 30, births = 52, deaths = 32, changes = 9, hypers = 18, log_mlike = -83190.75
#&gt; Iteration 320: clusters = 31, births = 53, deaths = 32, changes = 10, hypers = 18, log_mlike = -82853.66
#&gt; Iteration 330: clusters = 31, births = 53, deaths = 32, changes = 10, hypers = 18, log_mlike = -82853.66
#&gt; Iteration 340: clusters = 30, births = 53, deaths = 33, changes = 10, hypers = 19, log_mlike = -82836.81
#&gt; Iteration 350: clusters = 30, births = 53, deaths = 33, changes = 10, hypers = 19, log_mlike = -82836.81
#&gt; Iteration 360: clusters = 30, births = 53, deaths = 33, changes = 10, hypers = 20, log_mlike = -82836.81
#&gt; Iteration 370: clusters = 29, births = 53, deaths = 34, changes = 10, hypers = 20, log_mlike = -82818.46
#&gt; Iteration 380: clusters = 30, births = 54, deaths = 34, changes = 10, hypers = 20, log_mlike = -82460.22
#&gt; Iteration 390: clusters = 30, births = 54, deaths = 34, changes = 10, hypers = 20, log_mlike = -82460.22
#&gt; Iteration 400: clusters = 30, births = 54, deaths = 34, changes = 10, hypers = 20, log_mlike = -82460.22
#&gt; Iteration 410: clusters = 30, births = 54, deaths = 34, changes = 10, hypers = 20, log_mlike = -82460.22
#&gt; Iteration 420: clusters = 30, births = 55, deaths = 35, changes = 10, hypers = 20, log_mlike = -81878.13
#&gt; Iteration 430: clusters = 29, births = 55, deaths = 36, changes = 10, hypers = 20, log_mlike = -81858.41
#&gt; Iteration 440: clusters = 28, births = 55, deaths = 37, changes = 10, hypers = 21, log_mlike = -81836.68
#&gt; Iteration 450: clusters = 27, births = 55, deaths = 38, changes = 10, hypers = 22, log_mlike = -81817.71
#&gt; Iteration 460: clusters = 26, births = 56, deaths = 40, changes = 10, hypers = 22, log_mlike = -81284.75
#&gt; Iteration 470: clusters = 25, births = 57, deaths = 42, changes = 10, hypers = 22, log_mlike = -80894.16
#&gt; Iteration 480: clusters = 24, births = 57, deaths = 43, changes = 11, hypers = 22, log_mlike = -80872.36
#&gt; Iteration 490: clusters = 24, births = 57, deaths = 43, changes = 11, hypers = 22, log_mlike = -80872.36
#&gt; Iteration 500: clusters = 24, births = 57, deaths = 43, changes = 12, hypers = 23, log_mlike = -80872.09
#&gt; Iteration 510: clusters = 23, births = 57, deaths = 44, changes = 12, hypers = 24, log_mlike = -80847.76
#&gt; Iteration 520: clusters = 22, births = 57, deaths = 45, changes = 12, hypers = 24, log_mlike = -80827.87
#&gt; Iteration 530: clusters = 20, births = 57, deaths = 47, changes = 12, hypers = 25, log_mlike = -80786.35
#&gt; Iteration 540: clusters = 21, births = 58, deaths = 47, changes = 13, hypers = 26, log_mlike = -80756.11
#&gt; Iteration 550: clusters = 19, births = 58, deaths = 49, changes = 14, hypers = 27, log_mlike = -80714.85
#&gt; Iteration 560: clusters = 18, births = 58, deaths = 50, changes = 14, hypers = 27, log_mlike = -80692.6
#&gt; Iteration 570: clusters = 17, births = 58, deaths = 51, changes = 14, hypers = 27, log_mlike = -80675.44
#&gt; Iteration 580: clusters = 17, births = 58, deaths = 51, changes = 14, hypers = 29, log_mlike = -80675.44
#&gt; Iteration 590: clusters = 17, births = 58, deaths = 51, changes = 14, hypers = 29, log_mlike = -80675.44
#&gt; Iteration 600: clusters = 16, births = 58, deaths = 52, changes = 14, hypers = 29, log_mlike = -80654.63
#&gt; Iteration 610: clusters = 16, births = 58, deaths = 52, changes = 14, hypers = 29, log_mlike = -80654.63
#&gt; Iteration 620: clusters = 16, births = 58, deaths = 52, changes = 14, hypers = 29, log_mlike = -80654.63
#&gt; Iteration 630: clusters = 16, births = 58, deaths = 52, changes = 14, hypers = 29, log_mlike = -80654.63
#&gt; Iteration 640: clusters = 16, births = 58, deaths = 52, changes = 14, hypers = 29, log_mlike = -80654.63
#&gt; Iteration 650: clusters = 16, births = 58, deaths = 52, changes = 14, hypers = 29, log_mlike = -80654.63
#&gt; Iteration 660: clusters = 17, births = 59, deaths = 52, changes = 14, hypers = 30, log_mlike = -80628.79
#&gt; Iteration 670: clusters = 17, births = 59, deaths = 52, changes = 14, hypers = 31, log_mlike = -80628.79
#&gt; Iteration 680: clusters = 15, births = 59, deaths = 54, changes = 14, hypers = 31, log_mlike = -80584.02
#&gt; Iteration 690: clusters = 14, births = 59, deaths = 55, changes = 14, hypers = 31, log_mlike = -80562.79
#&gt; Iteration 700: clusters = 14, births = 59, deaths = 55, changes = 14, hypers = 34, log_mlike = -80562.79
#&gt; Iteration 710: clusters = 14, births = 59, deaths = 55, changes = 14, hypers = 34, log_mlike = -80562.79
#&gt; Iteration 720: clusters = 13, births = 59, deaths = 56, changes = 14, hypers = 34, log_mlike = -80542.53
#&gt; Iteration 730: clusters = 13, births = 59, deaths = 56, changes = 14, hypers = 35, log_mlike = -80542.53
#&gt; Iteration 740: clusters = 13, births = 59, deaths = 56, changes = 14, hypers = 35, log_mlike = -80542.53
#&gt; Iteration 750: clusters = 13, births = 59, deaths = 56, changes = 14, hypers = 36, log_mlike = -80542.53
#&gt; Iteration 760: clusters = 13, births = 59, deaths = 56, changes = 14, hypers = 37, log_mlike = -80542.53
#&gt; Iteration 770: clusters = 13, births = 59, deaths = 56, changes = 14, hypers = 38, log_mlike = -80542.53
#&gt; Iteration 780: clusters = 13, births = 59, deaths = 56, changes = 15, hypers = 38, log_mlike = -80542.17
#&gt; Iteration 790: clusters = 12, births = 59, deaths = 57, changes = 15, hypers = 38, log_mlike = -80517.88
#&gt; Iteration 800: clusters = 11, births = 59, deaths = 58, changes = 15, hypers = 38, log_mlike = -80494.15
#&gt; Iteration 810: clusters = 11, births = 59, deaths = 58, changes = 15, hypers = 39, log_mlike = -80494.15
#&gt; Iteration 820: clusters = 11, births = 59, deaths = 58, changes = 15, hypers = 40, log_mlike = -80494.15
#&gt; Iteration 830: clusters = 11, births = 59, deaths = 58, changes = 15, hypers = 40, log_mlike = -80494.15
#&gt; Iteration 840: clusters = 11, births = 59, deaths = 58, changes = 15, hypers = 40, log_mlike = -80494.15
#&gt; Iteration 850: clusters = 11, births = 59, deaths = 58, changes = 15, hypers = 41, log_mlike = -80494.15
#&gt; Iteration 860: clusters = 10, births = 59, deaths = 59, changes = 15, hypers = 41, log_mlike = -80475.11
#&gt; Iteration 870: clusters = 10, births = 59, deaths = 59, changes = 15, hypers = 41, log_mlike = -80475.11
#&gt; Iteration 880: clusters = 10, births = 59, deaths = 59, changes = 15, hypers = 42, log_mlike = -80475.11
#&gt; Iteration 890: clusters = 10, births = 59, deaths = 59, changes = 15, hypers = 42, log_mlike = -80475.11
#&gt; Iteration 900: clusters = 10, births = 59, deaths = 59, changes = 15, hypers = 42, log_mlike = -80475.11
#&gt; Iteration 910: clusters = 10, births = 59, deaths = 59, changes = 15, hypers = 42, log_mlike = -80475.11
#&gt; Iteration 920: clusters = 10, births = 59, deaths = 59, changes = 15, hypers = 42, log_mlike = -80475.11
#&gt; Iteration 930: clusters = 10, births = 59, deaths = 59, changes = 15, hypers = 42, log_mlike = -80475.11
#&gt; Iteration 940: clusters = 10, births = 59, deaths = 59, changes = 15, hypers = 44, log_mlike = -80475.11
#&gt; Iteration 950: clusters = 10, births = 59, deaths = 59, changes = 15, hypers = 44, log_mlike = -80475.11
#&gt; Iteration 960: clusters = 10, births = 59, deaths = 59, changes = 15, hypers = 46, log_mlike = -80475.11
#&gt; Iteration 970: clusters = 10, births = 59, deaths = 59, changes = 15, hypers = 47, log_mlike = -80475.11
#&gt; Iteration 980: clusters = 10, births = 59, deaths = 59, changes = 15, hypers = 47, log_mlike = -80475.11
#&gt; Iteration 990: clusters = 10, births = 59, deaths = 59, changes = 15, hypers = 49, log_mlike = -80475.11
#&gt; Iteration 1000: clusters = 10, births = 59, deaths = 59, changes = 15, hypers = 49, log_mlike = -80475.11
#&gt; Iteration 1010: clusters = 10, births = 59, deaths = 59, changes = 15, hypers = 49, log_mlike = -80475.11
#&gt; Iteration 1020: clusters = 10, births = 59, deaths = 59, changes = 15, hypers = 49, log_mlike = -80475.11
#&gt; Iteration 1030: clusters = 10, births = 59, deaths = 59, changes = 15, hypers = 50, log_mlike = -80475.11
#&gt; Iteration 1040: clusters = 10, births = 59, deaths = 59, changes = 15, hypers = 52, log_mlike = -80475.11
#&gt; Iteration 1050: clusters = 10, births = 59, deaths = 59, changes = 15, hypers = 52, log_mlike = -80475.11
#&gt; Iteration 1060: clusters = 10, births = 59, deaths = 59, changes = 15, hypers = 52, log_mlike = -80475.11
#&gt; Iteration 1070: clusters = 10, births = 59, deaths = 59, changes = 15, hypers = 52, log_mlike = -80475.11
#&gt; Iteration 1080: clusters = 10, births = 59, deaths = 59, changes = 15, hypers = 53, log_mlike = -80475.11
#&gt; Iteration 1090: clusters = 10, births = 59, deaths = 59, changes = 15, hypers = 53, log_mlike = -80475.11
#&gt; Iteration 1100: clusters = 10, births = 59, deaths = 59, changes = 15, hypers = 55, log_mlike = -80475.11
#&gt; Iteration 1110: clusters = 10, births = 59, deaths = 59, changes = 15, hypers = 59, log_mlike = -80475.11
#&gt; Iteration 1120: clusters = 10, births = 59, deaths = 59, changes = 15, hypers = 59, log_mlike = -80475.11
#&gt; Iteration 1130: clusters = 10, births = 59, deaths = 59, changes = 15, hypers = 59, log_mlike = -80475.11
#&gt; Iteration 1140: clusters = 10, births = 59, deaths = 59, changes = 15, hypers = 59, log_mlike = -80475.11
#&gt; Iteration 1150: clusters = 10, births = 59, deaths = 59, changes = 15, hypers = 59, log_mlike = -80475.11
#&gt; Iteration 1160: clusters = 10, births = 59, deaths = 59, changes = 15, hypers = 59, log_mlike = -80475.11
#&gt; Iteration 1170: clusters = 10, births = 59, deaths = 59, changes = 15, hypers = 60, log_mlike = -80475.11
#&gt; Iteration 1180: clusters = 10, births = 59, deaths = 59, changes = 15, hypers = 62, log_mlike = -80475.11
#&gt; Iteration 1190: clusters = 11, births = 60, deaths = 59, changes = 15, hypers = 62, log_mlike = -80390.26
#&gt; Iteration 1200: clusters = 11, births = 60, deaths = 59, changes = 15, hypers = 63, log_mlike = -80390.26
#&gt; Iteration 1210: clusters = 11, births = 60, deaths = 59, changes = 15, hypers = 63, log_mlike = -80390.26
#&gt; Iteration 1220: clusters = 11, births = 60, deaths = 59, changes = 15, hypers = 64, log_mlike = -80390.26
#&gt; Iteration 1230: clusters = 11, births = 60, deaths = 59, changes = 15, hypers = 65, log_mlike = -80390.26
#&gt; Iteration 1240: clusters = 10, births = 60, deaths = 60, changes = 15, hypers = 66, log_mlike = -80368.31
#&gt; Iteration 1250: clusters = 10, births = 60, deaths = 60, changes = 15, hypers = 67, log_mlike = -80368.31
#&gt; Iteration 1260: clusters = 10, births = 60, deaths = 60, changes = 15, hypers = 68, log_mlike = -80368.31
#&gt; Iteration 1270: clusters = 10, births = 60, deaths = 60, changes = 15, hypers = 68, log_mlike = -80368.31
#&gt; Iteration 1280: clusters = 10, births = 60, deaths = 60, changes = 15, hypers = 69, log_mlike = -80368.31
#&gt; Iteration 1290: clusters = 10, births = 60, deaths = 60, changes = 15, hypers = 70, log_mlike = -80368.31
#&gt; Iteration 1300: clusters = 10, births = 60, deaths = 60, changes = 15, hypers = 70, log_mlike = -80368.31
#&gt; Iteration 1310: clusters = 10, births = 60, deaths = 60, changes = 15, hypers = 71, log_mlike = -80368.31
#&gt; Iteration 1320: clusters = 10, births = 60, deaths = 60, changes = 15, hypers = 72, log_mlike = -80368.31
#&gt; Iteration 1330: clusters = 10, births = 60, deaths = 60, changes = 15, hypers = 72, log_mlike = -80368.31
#&gt; Iteration 1340: clusters = 10, births = 60, deaths = 60, changes = 15, hypers = 72, log_mlike = -80368.31
#&gt; Iteration 1350: clusters = 10, births = 60, deaths = 60, changes = 15, hypers = 73, log_mlike = -80368.31
#&gt; Iteration 1360: clusters = 10, births = 60, deaths = 60, changes = 15, hypers = 73, log_mlike = -80368.31
#&gt; Iteration 1370: clusters = 10, births = 60, deaths = 60, changes = 15, hypers = 73, log_mlike = -80368.31
#&gt; Iteration 1380: clusters = 10, births = 60, deaths = 60, changes = 15, hypers = 74, log_mlike = -80368.31
#&gt; Iteration 1390: clusters = 10, births = 60, deaths = 60, changes = 15, hypers = 74, log_mlike = -80368.31
#&gt; Iteration 1400: clusters = 10, births = 60, deaths = 60, changes = 15, hypers = 74, log_mlike = -80368.31
#&gt; Iteration 1410: clusters = 10, births = 60, deaths = 60, changes = 15, hypers = 74, log_mlike = -80368.31
#&gt; Iteration 1420: clusters = 10, births = 60, deaths = 60, changes = 15, hypers = 74, log_mlike = -80368.31
#&gt; Iteration 1430: clusters = 10, births = 60, deaths = 60, changes = 15, hypers = 75, log_mlike = -80368.31
#&gt; Iteration 1440: clusters = 10, births = 60, deaths = 60, changes = 15, hypers = 75, log_mlike = -80368.31
#&gt; Iteration 1450: clusters = 10, births = 60, deaths = 60, changes = 15, hypers = 75, log_mlike = -80368.31
#&gt; Iteration 1460: clusters = 10, births = 60, deaths = 60, changes = 15, hypers = 75, log_mlike = -80368.31
#&gt; Iteration 1470: clusters = 10, births = 60, deaths = 60, changes = 15, hypers = 75, log_mlike = -80368.31
#&gt; Iteration 1480: clusters = 10, births = 60, deaths = 60, changes = 15, hypers = 75, log_mlike = -80368.31
#&gt; Iteration 1490: clusters = 10, births = 60, deaths = 60, changes = 15, hypers = 75, log_mlike = -80368.31
#&gt; Iteration 1500: clusters = 10, births = 60, deaths = 60, changes = 15, hypers = 75, log_mlike = -80368.31
#&gt; Iteration 1510: clusters = 10, births = 60, deaths = 60, changes = 15, hypers = 76, log_mlike = -80368.31
#&gt; Iteration 1520: clusters = 10, births = 60, deaths = 60, changes = 15, hypers = 76, log_mlike = -80368.31
#&gt; Iteration 1530: clusters = 10, births = 60, deaths = 60, changes = 15, hypers = 77, log_mlike = -80368.31
#&gt; Iteration 1540: clusters = 10, births = 60, deaths = 60, changes = 15, hypers = 77, log_mlike = -80368.31
#&gt; Iteration 1550: clusters = 10, births = 60, deaths = 60, changes = 15, hypers = 77, log_mlike = -80368.31
#&gt; Iteration 1560: clusters = 10, births = 60, deaths = 60, changes = 15, hypers = 77, log_mlike = -80368.31
#&gt; Iteration 1570: clusters = 10, births = 60, deaths = 60, changes = 15, hypers = 78, log_mlike = -80368.31
#&gt; Iteration 1580: clusters = 10, births = 60, deaths = 60, changes = 16, hypers = 79, log_mlike = -80368.31
#&gt; Iteration 1590: clusters = 10, births = 60, deaths = 60, changes = 16, hypers = 79, log_mlike = -80368.31
#&gt; Iteration 1600: clusters = 10, births = 60, deaths = 60, changes = 16, hypers = 79, log_mlike = -80368.31
#&gt; Iteration 1610: clusters = 10, births = 60, deaths = 60, changes = 16, hypers = 80, log_mlike = -80368.31
#&gt; Iteration 1620: clusters = 10, births = 60, deaths = 60, changes = 16, hypers = 81, log_mlike = -80368.31
#&gt; Iteration 1630: clusters = 10, births = 60, deaths = 60, changes = 16, hypers = 82, log_mlike = -80368.31
#&gt; Iteration 1640: clusters = 10, births = 60, deaths = 60, changes = 16, hypers = 84, log_mlike = -80368.31
#&gt; Iteration 1650: clusters = 10, births = 60, deaths = 60, changes = 16, hypers = 84, log_mlike = -80368.31
#&gt; Iteration 1660: clusters = 10, births = 60, deaths = 60, changes = 16, hypers = 85, log_mlike = -80368.31
#&gt; Iteration 1670: clusters = 10, births = 60, deaths = 60, changes = 16, hypers = 85, log_mlike = -80368.31
#&gt; Iteration 1680: clusters = 10, births = 60, deaths = 60, changes = 16, hypers = 86, log_mlike = -80368.31
#&gt; Iteration 1690: clusters = 10, births = 60, deaths = 60, changes = 16, hypers = 86, log_mlike = -80368.31
#&gt; Iteration 1700: clusters = 10, births = 60, deaths = 60, changes = 16, hypers = 86, log_mlike = -80368.31
#&gt; Iteration 1710: clusters = 10, births = 60, deaths = 60, changes = 16, hypers = 87, log_mlike = -80368.31
#&gt; Iteration 1720: clusters = 10, births = 60, deaths = 60, changes = 16, hypers = 87, log_mlike = -80368.31
#&gt; Iteration 1730: clusters = 10, births = 60, deaths = 60, changes = 16, hypers = 87, log_mlike = -80368.31
#&gt; Iteration 1740: clusters = 10, births = 60, deaths = 60, changes = 16, hypers = 89, log_mlike = -80368.31
#&gt; Iteration 1750: clusters = 10, births = 60, deaths = 60, changes = 16, hypers = 89, log_mlike = -80368.31
#&gt; Iteration 1760: clusters = 10, births = 60, deaths = 60, changes = 16, hypers = 90, log_mlike = -80368.31
#&gt; Iteration 1770: clusters = 10, births = 60, deaths = 60, changes = 16, hypers = 90, log_mlike = -80368.31
#&gt; Iteration 1780: clusters = 10, births = 60, deaths = 60, changes = 16, hypers = 91, log_mlike = -80368.31
#&gt; Iteration 1790: clusters = 10, births = 60, deaths = 60, changes = 16, hypers = 93, log_mlike = -80368.31
#&gt; Iteration 1800: clusters = 10, births = 60, deaths = 60, changes = 16, hypers = 93, log_mlike = -80368.31
#&gt; Iteration 1810: clusters = 10, births = 60, deaths = 60, changes = 16, hypers = 93, log_mlike = -80368.31
#&gt; Iteration 1820: clusters = 10, births = 60, deaths = 60, changes = 16, hypers = 93, log_mlike = -80368.31
#&gt; Iteration 1830: clusters = 10, births = 60, deaths = 60, changes = 16, hypers = 93, log_mlike = -80368.31
#&gt; Iteration 1840: clusters = 10, births = 60, deaths = 60, changes = 16, hypers = 93, log_mlike = -80368.31
#&gt; Iteration 1850: clusters = 10, births = 60, deaths = 60, changes = 16, hypers = 93, log_mlike = -80368.31
#&gt; Iteration 1860: clusters = 10, births = 60, deaths = 60, changes = 16, hypers = 93, log_mlike = -80368.31
#&gt; Iteration 1870: clusters = 10, births = 60, deaths = 60, changes = 16, hypers = 95, log_mlike = -80368.31
#&gt; Iteration 1880: clusters = 10, births = 60, deaths = 60, changes = 16, hypers = 95, log_mlike = -80368.31
#&gt; Iteration 1890: clusters = 10, births = 60, deaths = 60, changes = 16, hypers = 95, log_mlike = -80368.31
#&gt; Iteration 1900: clusters = 10, births = 60, deaths = 60, changes = 16, hypers = 95, log_mlike = -80368.31
#&gt; Iteration 1910: clusters = 10, births = 60, deaths = 60, changes = 16, hypers = 95, log_mlike = -80368.31
#&gt; Iteration 1920: clusters = 10, births = 60, deaths = 60, changes = 16, hypers = 96, log_mlike = -80368.31
#&gt; Iteration 1930: clusters = 10, births = 60, deaths = 60, changes = 16, hypers = 96, log_mlike = -80368.31
#&gt; Iteration 1940: clusters = 10, births = 60, deaths = 60, changes = 16, hypers = 97, log_mlike = -80368.31
#&gt; Iteration 1950: clusters = 10, births = 60, deaths = 60, changes = 16, hypers = 97, log_mlike = -80368.31
#&gt; Iteration 1960: clusters = 10, births = 60, deaths = 60, changes = 16, hypers = 97, log_mlike = -80368.31
#&gt; Iteration 1970: clusters = 10, births = 60, deaths = 60, changes = 16, hypers = 97, log_mlike = -80368.31
#&gt; Iteration 1980: clusters = 10, births = 60, deaths = 60, changes = 16, hypers = 98, log_mlike = -80368.31
#&gt; Iteration 1990: clusters = 10, births = 60, deaths = 60, changes = 16, hypers = 98, log_mlike = -80368.31
#&gt; Iteration 2000: clusters = 10, births = 60, deaths = 60, changes = 16, hypers = 98, log_mlike = -80368.31</code></pre>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;      user    system   elapsed 
#&gt; 12088.509  2816.843  2850.182</code></pre>
</div>
