---
title: "Spatial functional clustering: generalized linear model"
---



<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data, and source custom scripts</h2>
<pre class="r"><code>message(&quot;Maldito: &quot;, 10)
# rm(list = ls())

# library(sf)
# library(ggplot2)
# library(dplyr)
# library(igraph)
#
# path_proj = day2day::git_path()
# path_data = file.path(path_proj, &quot;data&quot;)
# path_sim = file.path(path_data, &quot;simulated&quot;)
# devtools::load_all(&quot;/home/rstudio/documents/repositories/spfc&quot;)
#
# domain &lt;- readRDS(file.path(path_sim, &quot;spatial-domain-clusters.rds&quot;))
# tdata &lt;- readRDS(file.path(path_sim, &quot;spatial-data-glm.rds&quot;))
#
# tdata$time &lt;- seq(0, 1, length.out = 100)
# tdata$X &lt;- poly(tdata$time, 2, raw = TRUE, simple = TRUE)
# ntime &lt;- length(tdata$time)</code></pre>
</div>
<div id="create-graph-components" class="section level2">
<h2>Create graph components</h2>
<pre class="r"><code># set.seed(123)

# # create graph
# adj_mat = st_touches(domain) %&gt;% as(&quot;matrix&quot;)
# adj_mat_weighted = adj_mat * runif(length(adj_mat))
# graph = graph_from_adjacency_matrix(adj_mat_weighted, mode = &quot;upper&quot;, weighted = TRUE)
# plot(graph)
#
# # obtain minimum spaning tree
# mstgraph = mst(graph)
# V(mstgraph)$vid = 1:gorder(mstgraph)
# plot(mstgraph)
#
# # obtain initial clusters
# ncluster = 10
# rmid = order(E(mstgraph)$weight, decreasing = TRUE)[1:(ncluster-1)]
# graph_comp = components(delete_edges(mstgraph, rmid))
# membership = graph_comp$membership
#
# graphdata = list(graph = graph, mst = mstgraph, cluster = membership)</code></pre>
</div>
<div id="spatial-clustering-for-gaussian-data" class="section level2">
<h2>Spatial clustering for Gaussian data</h2>
<pre class="r"><code># path_normal_out = file.path(&quot;bsfc-glm-normal.rds&quot;)
# out = bsfc(tdata$eta, graphdata, X = tdata$X, formula = Yk ~ 1 + Xk, family = &quot;normal&quot;,
#     hyperpar = list(c = 0.5), niter = 100, burnin = 0, thin = 1, path_save = path_normal_out)</code></pre>
</div>
<div id="spatial-clustering-for-poisson-data" class="section level2">
<h2>Spatial clustering for Poisson data</h2>
<pre class="r"><code># path_poisson_out = file.path(&quot;bsfc-glm-poisson.rds&quot;)
# out = bsfc(tdata$Y, graphdata, X = tdata$X, N = domain$population,
#     formula = Yk ~ 1 + Xk + f(id, model = &#39;iid&#39;), family = &quot;poisson&quot;,
#     hyperpar = list(c = 0.5), niter = 2000, burnin = 0, thin = 1, path_save = path_poisson_out)</code></pre>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;   0.285   0.320   0.286</code></pre>
</div>
