---
title: "Spatial functional clustering: smoothing model"
prerequisites:
    - data/simulated/spatial-domain-clusters.rds
    - data/simulated/spatial-data-gam.rds
targets:
    - data/simulated/bsfc-gam-poisson.rds
    - data/simulated/bsfc-gam-normal.rds
---



<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data, and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())

library(sf)</code></pre>
<pre><code>#&gt; Linking to GEOS 3.10.2, GDAL 3.4.1, PROJ 8.2.1; sf_use_s2() is TRUE</code></pre>
<pre class="r"><code>library(ggplot2)
library(dplyr)</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;dplyr&#39;</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:stats&#39;:
#&gt; 
#&gt;     filter, lag</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:base&#39;:
#&gt; 
#&gt;     intersect, setdiff, setequal, union</code></pre>
<pre class="r"><code>library(igraph)</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;igraph&#39;</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:dplyr&#39;:
#&gt; 
#&gt;     as_data_frame, groups, union</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:stats&#39;:
#&gt; 
#&gt;     decompose, spectrum</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:base&#39;:
#&gt; 
#&gt;     union</code></pre>
<pre class="r"><code>path_proj = day2day::git_path()
path_data = file.path(path_proj, &quot;data&quot;)
path_sim = file.path(path_data, &quot;simulated&quot;)
devtools::load_all(&quot;/home/rstudio/documents/repositories/spfc&quot;)</code></pre>
<pre><code>#&gt; ℹ Loading bsfc</code></pre>
<pre class="r"><code>domain &lt;- readRDS(file.path(path_sim, &quot;spatial-domain-clusters.rds&quot;))
tdata &lt;- readRDS(file.path(path_sim, &quot;spatial-data-gam.rds&quot;))

tdata$time &lt;- seq(0, 1, length.out = 100)
tdata$X &lt;- poly(tdata$time, 2, raw = TRUE, simple = TRUE)
ntime &lt;- length(tdata$time)</code></pre>
</div>
<div id="create-graph-components" class="section level2">
<h2>Create graph components</h2>
<pre class="r"><code>set.seed(1234)

# create graph
adj_mat = st_touches(domain) %&gt;% as(&quot;matrix&quot;)
adj_mat_weighted = adj_mat * runif(length(adj_mat))
graph = graph_from_adjacency_matrix(adj_mat_weighted, mode = &quot;upper&quot;, weighted = TRUE)
plot(graph)</code></pre>
<p><img src="/spatial-functional-clustering/50-simulate/44-fit-bsfc-gam_files/figure-html/unnamed-chunk-2-1.png" width="672" style="display: block; margin: auto;" /></p>
<pre class="r"><code># obtain minimum spaning tree
mstgraph = mst(graph)
V(mstgraph)$vid = 1:gorder(mstgraph)
plot(mstgraph)</code></pre>
<p><img src="/spatial-functional-clustering/50-simulate/44-fit-bsfc-gam_files/figure-html/unnamed-chunk-2-2.png" width="672" style="display: block; margin: auto;" /></p>
<pre class="r"><code># obtain initial clusters
ncluster = 11
rmid = order(E(mstgraph)$weight, decreasing = TRUE)[1:(ncluster-1)]
graph_comp = components(delete_edges(mstgraph, rmid))
membership = graph_comp$membership

graphdata = list(graph = graph, mst = mstgraph, cluster = membership)</code></pre>
</div>
<div id="spatial-clustering-for-gaussian-data" class="section level2">
<h2>Spatial clustering for Gaussian data</h2>
<pre class="r"><code>path_normal_out = file.path(path_sim, &quot;bsfc-gam-normal.rds&quot;)
out = bsfc(tdata$eta, graphdata,
    formula = Yk ~ 1 + f(idt, model = &#39;rw1&#39;), family = &quot;normal&quot;,
    hyperpar = list(c = 0.5), niter = 2000, burnin = 0, thin = 1, path_save = path_normal_out)</code></pre>
<pre><code>#&gt; Iteration 10: clusters = 13, births = 2, deaths = 0, changes = 0, hypers = 1, log_mlike = -1486.668
#&gt; Iteration 20: clusters = 20, births = 9, deaths = 0, changes = 0, hypers = 1, log_mlike = 60.68032
#&gt; Iteration 30: clusters = 22, births = 12, deaths = 1, changes = 1, hypers = 2, log_mlike = 820.9847
#&gt; Iteration 40: clusters = 22, births = 13, deaths = 2, changes = 2, hypers = 2, log_mlike = 1006.684
#&gt; Iteration 50: clusters = 25, births = 16, deaths = 2, changes = 3, hypers = 4, log_mlike = 1815.742
#&gt; Iteration 60: clusters = 32, births = 23, deaths = 2, changes = 3, hypers = 4, log_mlike = 2792.231
#&gt; Iteration 70: clusters = 33, births = 25, deaths = 3, changes = 4, hypers = 5, log_mlike = 3689.338
#&gt; Iteration 80: clusters = 35, births = 27, deaths = 3, changes = 5, hypers = 6, log_mlike = 3817.249
#&gt; Iteration 90: clusters = 37, births = 29, deaths = 3, changes = 5, hypers = 6, log_mlike = 3985.311
#&gt; Iteration 100: clusters = 37, births = 30, deaths = 4, changes = 6, hypers = 7, log_mlike = 4149.175
#&gt; Iteration 110: clusters = 37, births = 31, deaths = 5, changes = 6, hypers = 7, log_mlike = 4276.737
#&gt; Iteration 120: clusters = 38, births = 33, deaths = 6, changes = 7, hypers = 8, log_mlike = 4640.401
#&gt; Iteration 130: clusters = 38, births = 34, deaths = 7, changes = 8, hypers = 8, log_mlike = 5105.326
#&gt; Iteration 140: clusters = 38, births = 34, deaths = 7, changes = 8, hypers = 9, log_mlike = 5105.326
#&gt; Iteration 150: clusters = 38, births = 35, deaths = 8, changes = 8, hypers = 10, log_mlike = 5952.393
#&gt; Iteration 160: clusters = 39, births = 36, deaths = 8, changes = 8, hypers = 10, log_mlike = 6092.946
#&gt; Iteration 170: clusters = 39, births = 37, deaths = 9, changes = 8, hypers = 10, log_mlike = 6206.028
#&gt; 
#&gt;  *** inla.core.safe:  The inla program failed, but will rerun in case better initial values may help. try=1/1 
#&gt; 
#&gt;  *** inla.core.safe:  rerun with improved initial values 
#&gt; Iteration 180: clusters = 39, births = 38, deaths = 10, changes = 9, hypers = 10, log_mlike = 6416.704
#&gt; Iteration 190: clusters = 38, births = 38, deaths = 11, changes = 9, hypers = 11, log_mlike = 6513
#&gt; Iteration 200: clusters = 40, births = 42, deaths = 13, changes = 9, hypers = 11, log_mlike = 6820.323
#&gt; Iteration 210: clusters = 39, births = 43, deaths = 15, changes = 9, hypers = 11, log_mlike = 7033.603
#&gt; Iteration 220: clusters = 40, births = 44, deaths = 15, changes = 9, hypers = 11, log_mlike = 7089.683
#&gt; Iteration 230: clusters = 40, births = 46, deaths = 17, changes = 9, hypers = 12, log_mlike = 7545.103
#&gt; Iteration 240: clusters = 41, births = 48, deaths = 18, changes = 9, hypers = 12, log_mlike = 7688.211
#&gt; Iteration 250: clusters = 42, births = 49, deaths = 18, changes = 10, hypers = 12, log_mlike = 8377.408
#&gt; Iteration 260: clusters = 43, births = 50, deaths = 18, changes = 12, hypers = 12, log_mlike = 8515.203
#&gt; Iteration 270: clusters = 44, births = 52, deaths = 19, changes = 13, hypers = 12, log_mlike = 8838.1
#&gt; Iteration 280: clusters = 46, births = 54, deaths = 19, changes = 13, hypers = 13, log_mlike = 9510.725
#&gt; Iteration 290: clusters = 45, births = 54, deaths = 20, changes = 13, hypers = 13, log_mlike = 9559.554
#&gt; Iteration 300: clusters = 46, births = 55, deaths = 20, changes = 13, hypers = 14, log_mlike = 9717.425
#&gt; Iteration 310: clusters = 46, births = 56, deaths = 21, changes = 13, hypers = 15, log_mlike = 9870.946
#&gt; Iteration 320: clusters = 45, births = 57, deaths = 23, changes = 13, hypers = 17, log_mlike = 10250.64
#&gt; Iteration 330: clusters = 43, births = 57, deaths = 25, changes = 13, hypers = 17, log_mlike = 10384.08
#&gt; Iteration 340: clusters = 41, births = 57, deaths = 27, changes = 13, hypers = 18, log_mlike = 10508.26
#&gt; Iteration 350: clusters = 41, births = 57, deaths = 27, changes = 13, hypers = 20, log_mlike = 10508.26
#&gt; Iteration 360: clusters = 41, births = 57, deaths = 27, changes = 13, hypers = 20, log_mlike = 10508.26
#&gt; Iteration 370: clusters = 39, births = 57, deaths = 29, changes = 13, hypers = 20, log_mlike = 10582.13
#&gt; Iteration 380: clusters = 40, births = 58, deaths = 29, changes = 13, hypers = 20, log_mlike = 10755.67
#&gt; Iteration 390: clusters = 38, births = 58, deaths = 31, changes = 13, hypers = 20, log_mlike = 10894.13
#&gt; Iteration 400: clusters = 35, births = 58, deaths = 34, changes = 14, hypers = 21, log_mlike = 11199.3
#&gt; Iteration 410: clusters = 35, births = 58, deaths = 34, changes = 14, hypers = 22, log_mlike = 11199.3
#&gt; Iteration 420: clusters = 34, births = 58, deaths = 35, changes = 15, hypers = 22, log_mlike = 11325.59
#&gt; Iteration 430: clusters = 32, births = 58, deaths = 37, changes = 15, hypers = 22, log_mlike = 11422.55
#&gt; Iteration 440: clusters = 32, births = 59, deaths = 38, changes = 15, hypers = 23, log_mlike = 11728.88
#&gt; Iteration 450: clusters = 30, births = 59, deaths = 40, changes = 15, hypers = 23, log_mlike = 11855.18
#&gt; Iteration 460: clusters = 28, births = 59, deaths = 42, changes = 15, hypers = 23, log_mlike = 11929.84
#&gt; Iteration 470: clusters = 28, births = 59, deaths = 42, changes = 15, hypers = 23, log_mlike = 11929.84
#&gt; Iteration 480: clusters = 26, births = 59, deaths = 44, changes = 15, hypers = 23, log_mlike = 12009.97
#&gt; Iteration 490: clusters = 27, births = 60, deaths = 44, changes = 15, hypers = 24, log_mlike = 12182.16
#&gt; Iteration 500: clusters = 27, births = 60, deaths = 44, changes = 15, hypers = 24, log_mlike = 12182.16
#&gt; Iteration 510: clusters = 26, births = 60, deaths = 45, changes = 15, hypers = 25, log_mlike = 12226.18
#&gt; Iteration 520: clusters = 26, births = 60, deaths = 45, changes = 15, hypers = 26, log_mlike = 12226.18
#&gt; Iteration 530: clusters = 27, births = 61, deaths = 45, changes = 15, hypers = 28, log_mlike = 12377.47
#&gt; Iteration 540: clusters = 27, births = 62, deaths = 46, changes = 16, hypers = 30, log_mlike = 12657.55
#&gt; Iteration 550: clusters = 26, births = 62, deaths = 47, changes = 16, hypers = 30, log_mlike = 12699.72
#&gt; Iteration 560: clusters = 23, births = 62, deaths = 50, changes = 16, hypers = 30, log_mlike = 12897.44
#&gt; Iteration 570: clusters = 22, births = 62, deaths = 51, changes = 16, hypers = 31, log_mlike = 12939.6
#&gt; Iteration 580: clusters = 22, births = 62, deaths = 51, changes = 16, hypers = 31, log_mlike = 12939.6
#&gt; Iteration 590: clusters = 20, births = 62, deaths = 53, changes = 16, hypers = 31, log_mlike = 13110.09
#&gt; Iteration 600: clusters = 20, births = 62, deaths = 53, changes = 16, hypers = 31, log_mlike = 13110.09
#&gt; Iteration 610: clusters = 20, births = 62, deaths = 53, changes = 16, hypers = 32, log_mlike = 13110.09
#&gt; Iteration 620: clusters = 18, births = 62, deaths = 55, changes = 16, hypers = 34, log_mlike = 13221.93
#&gt; Iteration 630: clusters = 19, births = 63, deaths = 55, changes = 16, hypers = 34, log_mlike = 13507.76
#&gt; Iteration 640: clusters = 19, births = 63, deaths = 55, changes = 16, hypers = 35, log_mlike = 13507.76
#&gt; Iteration 650: clusters = 19, births = 63, deaths = 55, changes = 16, hypers = 35, log_mlike = 13507.76
#&gt; Iteration 660: clusters = 19, births = 63, deaths = 55, changes = 16, hypers = 35, log_mlike = 13507.76
#&gt; Iteration 670: clusters = 18, births = 63, deaths = 56, changes = 16, hypers = 35, log_mlike = 13577.67
#&gt; Iteration 680: clusters = 17, births = 63, deaths = 57, changes = 16, hypers = 35, log_mlike = 13614.19
#&gt; Iteration 690: clusters = 17, births = 63, deaths = 57, changes = 16, hypers = 36, log_mlike = 13614.19
#&gt; Iteration 700: clusters = 17, births = 63, deaths = 57, changes = 16, hypers = 36, log_mlike = 13614.19
#&gt; Iteration 710: clusters = 16, births = 63, deaths = 58, changes = 16, hypers = 37, log_mlike = 13658.2
#&gt; Iteration 720: clusters = 15, births = 63, deaths = 59, changes = 16, hypers = 37, log_mlike = 13698.33
#&gt; Iteration 730: clusters = 16, births = 64, deaths = 59, changes = 16, hypers = 37, log_mlike = 13955.01
#&gt; Iteration 740: clusters = 16, births = 64, deaths = 59, changes = 16, hypers = 38, log_mlike = 13955.01
#&gt; Iteration 750: clusters = 15, births = 64, deaths = 60, changes = 16, hypers = 38, log_mlike = 14023.39
#&gt; Iteration 760: clusters = 15, births = 64, deaths = 60, changes = 16, hypers = 38, log_mlike = 14023.39
#&gt; Iteration 770: clusters = 15, births = 64, deaths = 60, changes = 16, hypers = 40, log_mlike = 14023.39
#&gt; Iteration 780: clusters = 15, births = 64, deaths = 60, changes = 16, hypers = 41, log_mlike = 14023.39
#&gt; Iteration 790: clusters = 15, births = 64, deaths = 60, changes = 16, hypers = 41, log_mlike = 14023.39
#&gt; Iteration 800: clusters = 15, births = 64, deaths = 60, changes = 16, hypers = 42, log_mlike = 14023.39
#&gt; Iteration 810: clusters = 15, births = 64, deaths = 60, changes = 16, hypers = 43, log_mlike = 14023.39
#&gt; Iteration 820: clusters = 14, births = 64, deaths = 61, changes = 16, hypers = 44, log_mlike = 14068.49
#&gt; Iteration 830: clusters = 14, births = 64, deaths = 61, changes = 16, hypers = 45, log_mlike = 14068.49
#&gt; Iteration 840: clusters = 13, births = 64, deaths = 62, changes = 16, hypers = 45, log_mlike = 14187.48
#&gt; Iteration 850: clusters = 13, births = 64, deaths = 62, changes = 16, hypers = 46, log_mlike = 14187.48
#&gt; Iteration 860: clusters = 13, births = 64, deaths = 62, changes = 16, hypers = 47, log_mlike = 14187.48
#&gt; Iteration 870: clusters = 13, births = 64, deaths = 62, changes = 16, hypers = 48, log_mlike = 14187.48
#&gt; Iteration 880: clusters = 13, births = 64, deaths = 62, changes = 16, hypers = 48, log_mlike = 14187.48
#&gt; Iteration 890: clusters = 13, births = 64, deaths = 62, changes = 16, hypers = 48, log_mlike = 14187.48
#&gt; Iteration 900: clusters = 13, births = 64, deaths = 62, changes = 16, hypers = 48, log_mlike = 14187.48
#&gt; Iteration 910: clusters = 13, births = 64, deaths = 62, changes = 16, hypers = 48, log_mlike = 14187.48
#&gt; Iteration 920: clusters = 13, births = 64, deaths = 62, changes = 16, hypers = 48, log_mlike = 14187.48
#&gt; Iteration 930: clusters = 13, births = 64, deaths = 62, changes = 16, hypers = 48, log_mlike = 14187.48
#&gt; Iteration 940: clusters = 13, births = 64, deaths = 62, changes = 16, hypers = 48, log_mlike = 14187.48
#&gt; Iteration 950: clusters = 13, births = 64, deaths = 62, changes = 16, hypers = 48, log_mlike = 14187.48
#&gt; Iteration 960: clusters = 13, births = 64, deaths = 62, changes = 16, hypers = 51, log_mlike = 14187.48
#&gt; Iteration 970: clusters = 12, births = 64, deaths = 63, changes = 16, hypers = 51, log_mlike = 14240.26
#&gt; Iteration 980: clusters = 12, births = 64, deaths = 63, changes = 16, hypers = 52, log_mlike = 14240.26
#&gt; Iteration 990: clusters = 11, births = 64, deaths = 64, changes = 16, hypers = 54, log_mlike = 14290.26
#&gt; Iteration 1000: clusters = 11, births = 64, deaths = 64, changes = 16, hypers = 54, log_mlike = 14290.26
#&gt; Iteration 1010: clusters = 11, births = 64, deaths = 64, changes = 16, hypers = 55, log_mlike = 14290.26
#&gt; Iteration 1020: clusters = 11, births = 64, deaths = 64, changes = 16, hypers = 56, log_mlike = 14290.26
#&gt; Iteration 1030: clusters = 11, births = 64, deaths = 64, changes = 16, hypers = 56, log_mlike = 14290.26
#&gt; Iteration 1040: clusters = 11, births = 64, deaths = 64, changes = 16, hypers = 56, log_mlike = 14290.26
#&gt; Iteration 1050: clusters = 11, births = 64, deaths = 64, changes = 16, hypers = 56, log_mlike = 14290.26
#&gt; Iteration 1060: clusters = 11, births = 64, deaths = 64, changes = 16, hypers = 57, log_mlike = 14290.26
#&gt; Iteration 1070: clusters = 11, births = 64, deaths = 64, changes = 16, hypers = 57, log_mlike = 14290.26
#&gt; Iteration 1080: clusters = 11, births = 64, deaths = 64, changes = 16, hypers = 57, log_mlike = 14290.26
#&gt; Iteration 1090: clusters = 11, births = 64, deaths = 64, changes = 16, hypers = 57, log_mlike = 14290.26
#&gt; Iteration 1100: clusters = 11, births = 64, deaths = 64, changes = 16, hypers = 57, log_mlike = 14290.26
#&gt; Iteration 1110: clusters = 11, births = 64, deaths = 64, changes = 16, hypers = 57, log_mlike = 14290.26
#&gt; Iteration 1120: clusters = 11, births = 64, deaths = 64, changes = 16, hypers = 58, log_mlike = 14290.26
#&gt; Iteration 1130: clusters = 11, births = 64, deaths = 64, changes = 16, hypers = 59, log_mlike = 14290.26
#&gt; Iteration 1140: clusters = 11, births = 64, deaths = 64, changes = 16, hypers = 59, log_mlike = 14290.26
#&gt; Iteration 1150: clusters = 11, births = 64, deaths = 64, changes = 16, hypers = 59, log_mlike = 14290.26
#&gt; Iteration 1160: clusters = 11, births = 64, deaths = 64, changes = 16, hypers = 60, log_mlike = 14290.26
#&gt; Iteration 1170: clusters = 11, births = 64, deaths = 64, changes = 16, hypers = 61, log_mlike = 14290.26
#&gt; Iteration 1180: clusters = 11, births = 64, deaths = 64, changes = 16, hypers = 63, log_mlike = 14290.26
#&gt; Iteration 1190: clusters = 11, births = 64, deaths = 64, changes = 16, hypers = 64, log_mlike = 14290.26
#&gt; Iteration 1200: clusters = 11, births = 64, deaths = 64, changes = 16, hypers = 65, log_mlike = 14290.26
#&gt; Iteration 1210: clusters = 11, births = 64, deaths = 64, changes = 16, hypers = 65, log_mlike = 14290.26
#&gt; Iteration 1220: clusters = 11, births = 64, deaths = 64, changes = 16, hypers = 66, log_mlike = 14290.26
#&gt; Iteration 1230: clusters = 11, births = 64, deaths = 64, changes = 16, hypers = 66, log_mlike = 14290.26
#&gt; Iteration 1240: clusters = 11, births = 64, deaths = 64, changes = 16, hypers = 66, log_mlike = 14290.26
#&gt; Iteration 1250: clusters = 11, births = 64, deaths = 64, changes = 16, hypers = 66, log_mlike = 14290.26
#&gt; Iteration 1260: clusters = 11, births = 64, deaths = 64, changes = 16, hypers = 66, log_mlike = 14290.26
#&gt; Iteration 1270: clusters = 11, births = 64, deaths = 64, changes = 16, hypers = 67, log_mlike = 14290.26
#&gt; Iteration 1280: clusters = 11, births = 64, deaths = 64, changes = 16, hypers = 67, log_mlike = 14290.26
#&gt; Iteration 1290: clusters = 11, births = 64, deaths = 64, changes = 16, hypers = 67, log_mlike = 14290.26
#&gt; Iteration 1300: clusters = 11, births = 64, deaths = 64, changes = 16, hypers = 68, log_mlike = 14290.26
#&gt; Iteration 1310: clusters = 11, births = 64, deaths = 64, changes = 16, hypers = 69, log_mlike = 14290.26
#&gt; Iteration 1320: clusters = 11, births = 64, deaths = 64, changes = 16, hypers = 70, log_mlike = 14290.26
#&gt; Iteration 1330: clusters = 11, births = 64, deaths = 64, changes = 17, hypers = 70, log_mlike = 14290.26
#&gt; Iteration 1340: clusters = 11, births = 64, deaths = 64, changes = 17, hypers = 70, log_mlike = 14290.26
#&gt; Iteration 1350: clusters = 11, births = 64, deaths = 64, changes = 17, hypers = 70, log_mlike = 14290.26
#&gt; Iteration 1360: clusters = 11, births = 64, deaths = 64, changes = 17, hypers = 70, log_mlike = 14290.26
#&gt; Iteration 1370: clusters = 11, births = 64, deaths = 64, changes = 17, hypers = 71, log_mlike = 14290.26
#&gt; Iteration 1380: clusters = 11, births = 64, deaths = 64, changes = 17, hypers = 72, log_mlike = 14290.26
#&gt; Iteration 1390: clusters = 11, births = 64, deaths = 64, changes = 17, hypers = 72, log_mlike = 14290.26
#&gt; Iteration 1400: clusters = 11, births = 64, deaths = 64, changes = 17, hypers = 72, log_mlike = 14290.26
#&gt; Iteration 1410: clusters = 11, births = 64, deaths = 64, changes = 17, hypers = 72, log_mlike = 14290.26
#&gt; Iteration 1420: clusters = 11, births = 64, deaths = 64, changes = 17, hypers = 72, log_mlike = 14290.26
#&gt; Iteration 1430: clusters = 11, births = 64, deaths = 64, changes = 17, hypers = 74, log_mlike = 14290.26
#&gt; Iteration 1440: clusters = 11, births = 64, deaths = 64, changes = 17, hypers = 75, log_mlike = 14290.26
#&gt; Iteration 1450: clusters = 11, births = 64, deaths = 64, changes = 17, hypers = 76, log_mlike = 14290.26
#&gt; Iteration 1460: clusters = 11, births = 64, deaths = 64, changes = 17, hypers = 77, log_mlike = 14290.26
#&gt; Iteration 1470: clusters = 11, births = 64, deaths = 64, changes = 17, hypers = 77, log_mlike = 14290.26
#&gt; Iteration 1480: clusters = 11, births = 64, deaths = 64, changes = 17, hypers = 77, log_mlike = 14290.26
#&gt; Iteration 1490: clusters = 10, births = 64, deaths = 65, changes = 17, hypers = 78, log_mlike = 14331.86
#&gt; Iteration 1500: clusters = 10, births = 64, deaths = 65, changes = 17, hypers = 79, log_mlike = 14331.86
#&gt; Iteration 1510: clusters = 10, births = 64, deaths = 65, changes = 17, hypers = 80, log_mlike = 14331.86
#&gt; Iteration 1520: clusters = 10, births = 64, deaths = 65, changes = 17, hypers = 81, log_mlike = 14331.86
#&gt; Iteration 1530: clusters = 10, births = 64, deaths = 65, changes = 17, hypers = 81, log_mlike = 14331.86
#&gt; Iteration 1540: clusters = 10, births = 64, deaths = 65, changes = 17, hypers = 81, log_mlike = 14331.86
#&gt; Iteration 1550: clusters = 10, births = 64, deaths = 65, changes = 17, hypers = 81, log_mlike = 14331.86
#&gt; Iteration 1560: clusters = 10, births = 64, deaths = 65, changes = 17, hypers = 81, log_mlike = 14331.86
#&gt; Iteration 1570: clusters = 10, births = 64, deaths = 65, changes = 17, hypers = 81, log_mlike = 14331.86
#&gt; Iteration 1580: clusters = 10, births = 64, deaths = 65, changes = 17, hypers = 82, log_mlike = 14331.86
#&gt; Iteration 1590: clusters = 10, births = 64, deaths = 65, changes = 17, hypers = 82, log_mlike = 14331.86
#&gt; Iteration 1600: clusters = 10, births = 64, deaths = 65, changes = 17, hypers = 83, log_mlike = 14331.86
#&gt; Iteration 1610: clusters = 10, births = 64, deaths = 65, changes = 17, hypers = 83, log_mlike = 14331.86
#&gt; Iteration 1620: clusters = 10, births = 64, deaths = 65, changes = 17, hypers = 84, log_mlike = 14331.86
#&gt; Iteration 1630: clusters = 10, births = 64, deaths = 65, changes = 17, hypers = 84, log_mlike = 14331.86
#&gt; Iteration 1640: clusters = 10, births = 64, deaths = 65, changes = 17, hypers = 85, log_mlike = 14331.86
#&gt; Iteration 1650: clusters = 10, births = 64, deaths = 65, changes = 17, hypers = 86, log_mlike = 14331.86
#&gt; Iteration 1660: clusters = 10, births = 64, deaths = 65, changes = 17, hypers = 87, log_mlike = 14331.86
#&gt; Iteration 1670: clusters = 10, births = 64, deaths = 65, changes = 17, hypers = 87, log_mlike = 14331.86
#&gt; Iteration 1680: clusters = 10, births = 64, deaths = 65, changes = 17, hypers = 88, log_mlike = 14331.86
#&gt; Iteration 1690: clusters = 10, births = 64, deaths = 65, changes = 17, hypers = 89, log_mlike = 14331.86
#&gt; Iteration 1700: clusters = 10, births = 64, deaths = 65, changes = 17, hypers = 89, log_mlike = 14331.86
#&gt; Iteration 1710: clusters = 10, births = 64, deaths = 65, changes = 17, hypers = 90, log_mlike = 14331.86
#&gt; Iteration 1720: clusters = 10, births = 64, deaths = 65, changes = 17, hypers = 91, log_mlike = 14331.86
#&gt; Iteration 1730: clusters = 10, births = 64, deaths = 65, changes = 17, hypers = 92, log_mlike = 14331.86
#&gt; Iteration 1740: clusters = 10, births = 64, deaths = 65, changes = 17, hypers = 92, log_mlike = 14331.86
#&gt; Iteration 1750: clusters = 10, births = 64, deaths = 65, changes = 17, hypers = 92, log_mlike = 14331.86
#&gt; Iteration 1760: clusters = 10, births = 64, deaths = 65, changes = 17, hypers = 93, log_mlike = 14331.86
#&gt; Iteration 1770: clusters = 10, births = 64, deaths = 65, changes = 17, hypers = 95, log_mlike = 14331.86
#&gt; Iteration 1780: clusters = 10, births = 64, deaths = 65, changes = 17, hypers = 96, log_mlike = 14331.86
#&gt; Iteration 1790: clusters = 10, births = 64, deaths = 65, changes = 17, hypers = 96, log_mlike = 14331.86
#&gt; Iteration 1800: clusters = 10, births = 64, deaths = 65, changes = 17, hypers = 96, log_mlike = 14331.86
#&gt; Iteration 1810: clusters = 10, births = 64, deaths = 65, changes = 17, hypers = 96, log_mlike = 14331.86
#&gt; Iteration 1820: clusters = 10, births = 64, deaths = 65, changes = 17, hypers = 96, log_mlike = 14331.86
#&gt; Iteration 1830: clusters = 10, births = 64, deaths = 65, changes = 17, hypers = 97, log_mlike = 14331.86
#&gt; Iteration 1840: clusters = 10, births = 64, deaths = 65, changes = 17, hypers = 98, log_mlike = 14331.86
#&gt; Iteration 1850: clusters = 10, births = 64, deaths = 65, changes = 17, hypers = 99, log_mlike = 14331.86
#&gt; Iteration 1860: clusters = 10, births = 64, deaths = 65, changes = 17, hypers = 101, log_mlike = 14331.86
#&gt; Iteration 1870: clusters = 10, births = 64, deaths = 65, changes = 17, hypers = 101, log_mlike = 14331.86
#&gt; Iteration 1880: clusters = 10, births = 64, deaths = 65, changes = 17, hypers = 102, log_mlike = 14331.86
#&gt; Iteration 1890: clusters = 10, births = 64, deaths = 65, changes = 17, hypers = 102, log_mlike = 14331.86
#&gt; Iteration 1900: clusters = 10, births = 64, deaths = 65, changes = 17, hypers = 102, log_mlike = 14331.86
#&gt; Iteration 1910: clusters = 10, births = 64, deaths = 65, changes = 17, hypers = 104, log_mlike = 14331.86
#&gt; Iteration 1920: clusters = 10, births = 64, deaths = 65, changes = 17, hypers = 106, log_mlike = 14331.86
#&gt; Iteration 1930: clusters = 10, births = 64, deaths = 65, changes = 17, hypers = 106, log_mlike = 14331.86
#&gt; Iteration 1940: clusters = 10, births = 64, deaths = 65, changes = 17, hypers = 107, log_mlike = 14331.86
#&gt; Iteration 1950: clusters = 10, births = 64, deaths = 65, changes = 17, hypers = 109, log_mlike = 14331.86
#&gt; Iteration 1960: clusters = 10, births = 64, deaths = 65, changes = 17, hypers = 110, log_mlike = 14331.86
#&gt; Iteration 1970: clusters = 10, births = 64, deaths = 65, changes = 18, hypers = 110, log_mlike = 14331.86
#&gt; Iteration 1980: clusters = 10, births = 64, deaths = 65, changes = 18, hypers = 110, log_mlike = 14331.86
#&gt; Iteration 1990: clusters = 10, births = 64, deaths = 65, changes = 18, hypers = 110, log_mlike = 14331.86
#&gt; Iteration 2000: clusters = 10, births = 64, deaths = 65, changes = 18, hypers = 110, log_mlike = 14331.86</code></pre>
</div>
<div id="spatial-clustering-for-poisson-data" class="section level2">
<h2>Spatial clustering for Poisson data</h2>
<pre class="r"><code>path_poisson_out = file.path(path_sim, &quot;bsfc-gam-poisson.rds&quot;)
out = bsfc(tdata$Y, graphdata, N = domain$population,
    formula = Yk ~ 1 + f(id, model = &#39;iid&#39;) + f(idt, model = &quot;rw1&quot;), family = &quot;poisson&quot;,
    hyperpar = list(c = 0.5), niter = 2000, burnin = 0, thin = 1, path_save = path_poisson_out)</code></pre>
<pre><code>#&gt; Iteration 10: clusters = 14, births = 3, deaths = 0, changes = 1, hypers = 0, log_mlike = -101536.7
#&gt; Iteration 20: clusters = 19, births = 8, deaths = 0, changes = 1, hypers = 2, log_mlike = -100609.1
#&gt; Iteration 30: clusters = 25, births = 14, deaths = 0, changes = 2, hypers = 3, log_mlike = -98936.13
#&gt; Iteration 40: clusters = 30, births = 19, deaths = 0, changes = 2, hypers = 3, log_mlike = -98426.67
#&gt; Iteration 50: clusters = 32, births = 21, deaths = 0, changes = 4, hypers = 3, log_mlike = -98152.77
#&gt; Iteration 60: clusters = 33, births = 23, deaths = 1, changes = 4, hypers = 3, log_mlike = -97885.01
#&gt; Iteration 70: clusters = 37, births = 27, deaths = 1, changes = 4, hypers = 3, log_mlike = -97404.81
#&gt; Iteration 80: clusters = 38, births = 29, deaths = 2, changes = 5, hypers = 4, log_mlike = -96709.84
#&gt; Iteration 90: clusters = 40, births = 32, deaths = 3, changes = 5, hypers = 4, log_mlike = -96013.33
#&gt; Iteration 100: clusters = 41, births = 34, deaths = 4, changes = 5, hypers = 5, log_mlike = -95849.54
#&gt; Iteration 110: clusters = 45, births = 39, deaths = 5, changes = 6, hypers = 5, log_mlike = -95034.24
#&gt; Iteration 120: clusters = 46, births = 41, deaths = 6, changes = 6, hypers = 6, log_mlike = -94800.85
#&gt; Iteration 130: clusters = 46, births = 44, deaths = 9, changes = 6, hypers = 6, log_mlike = -93998.9
#&gt; Iteration 140: clusters = 44, births = 45, deaths = 12, changes = 6, hypers = 6, log_mlike = -93631.53
#&gt; Iteration 150: clusters = 44, births = 47, deaths = 14, changes = 6, hypers = 6, log_mlike = -93352.85
#&gt; Iteration 160: clusters = 45, births = 48, deaths = 14, changes = 6, hypers = 7, log_mlike = -93026.21
#&gt; Iteration 170: clusters = 47, births = 51, deaths = 15, changes = 6, hypers = 7, log_mlike = -92284.52
#&gt; Iteration 180: clusters = 48, births = 53, deaths = 16, changes = 6, hypers = 7, log_mlike = -91698.98
#&gt; Iteration 190: clusters = 47, births = 54, deaths = 18, changes = 6, hypers = 7, log_mlike = -91473.25
#&gt; Iteration 200: clusters = 47, births = 55, deaths = 19, changes = 7, hypers = 9, log_mlike = -91027.16
#&gt; Iteration 210: clusters = 45, births = 56, deaths = 22, changes = 8, hypers = 9, log_mlike = -90507.05
#&gt; Iteration 220: clusters = 45, births = 56, deaths = 22, changes = 8, hypers = 9, log_mlike = -90507.05
#&gt; Iteration 230: clusters = 42, births = 56, deaths = 25, changes = 8, hypers = 10, log_mlike = -90316.8
#&gt; Iteration 240: clusters = 43, births = 58, deaths = 26, changes = 8, hypers = 10, log_mlike = -90152.82
#&gt; Iteration 250: clusters = 43, births = 59, deaths = 27, changes = 8, hypers = 10, log_mlike = -89833.94
#&gt; Iteration 260: clusters = 43, births = 60, deaths = 28, changes = 8, hypers = 10, log_mlike = -89539.21
#&gt; Iteration 270: clusters = 44, births = 61, deaths = 28, changes = 8, hypers = 11, log_mlike = -89491.55
#&gt; Iteration 280: clusters = 43, births = 61, deaths = 29, changes = 8, hypers = 12, log_mlike = -89411.96
#&gt; Iteration 290: clusters = 42, births = 62, deaths = 31, changes = 8, hypers = 13, log_mlike = -89149.49
#&gt; Iteration 300: clusters = 40, births = 62, deaths = 33, changes = 8, hypers = 13, log_mlike = -89075.21
#&gt; Iteration 310: clusters = 38, births = 62, deaths = 35, changes = 8, hypers = 15, log_mlike = -88962.66
#&gt; Iteration 320: clusters = 37, births = 62, deaths = 36, changes = 8, hypers = 15, log_mlike = -88920.29
#&gt; Iteration 330: clusters = 36, births = 62, deaths = 37, changes = 9, hypers = 15, log_mlike = -88830.13
#&gt; Iteration 340: clusters = 33, births = 62, deaths = 40, changes = 9, hypers = 16, log_mlike = -88712.22
#&gt; Iteration 350: clusters = 32, births = 62, deaths = 41, changes = 9, hypers = 16, log_mlike = -88671.08
#&gt; Iteration 360: clusters = 32, births = 63, deaths = 42, changes = 9, hypers = 18, log_mlike = -88495.02
#&gt; Iteration 370: clusters = 33, births = 64, deaths = 42, changes = 9, hypers = 19, log_mlike = -88307.88
#&gt; Iteration 380: clusters = 32, births = 64, deaths = 43, changes = 9, hypers = 21, log_mlike = -88239.43
#&gt; Iteration 390: clusters = 29, births = 64, deaths = 46, changes = 9, hypers = 21, log_mlike = -88092.33
#&gt; Iteration 400: clusters = 30, births = 65, deaths = 46, changes = 9, hypers = 22, log_mlike = -87873.28
#&gt; Iteration 410: clusters = 29, births = 65, deaths = 47, changes = 9, hypers = 24, log_mlike = -87805.52
#&gt; Iteration 420: clusters = 29, births = 65, deaths = 47, changes = 9, hypers = 24, log_mlike = -87805.52
#&gt; Iteration 430: clusters = 29, births = 65, deaths = 47, changes = 9, hypers = 25, log_mlike = -87805.52
#&gt; Iteration 440: clusters = 28, births = 65, deaths = 48, changes = 9, hypers = 26, log_mlike = -87686.03
#&gt; Iteration 450: clusters = 28, births = 65, deaths = 48, changes = 9, hypers = 26, log_mlike = -87686.03
#&gt; Iteration 460: clusters = 27, births = 65, deaths = 49, changes = 9, hypers = 26, log_mlike = -87642.33
#&gt; Iteration 470: clusters = 27, births = 65, deaths = 49, changes = 9, hypers = 26, log_mlike = -87642.33
#&gt; Iteration 480: clusters = 27, births = 65, deaths = 49, changes = 9, hypers = 27, log_mlike = -87642.33
#&gt; Iteration 490: clusters = 26, births = 65, deaths = 50, changes = 9, hypers = 29, log_mlike = -87571.87
#&gt; Iteration 500: clusters = 25, births = 65, deaths = 51, changes = 9, hypers = 31, log_mlike = -87518.55
#&gt; Iteration 510: clusters = 24, births = 65, deaths = 52, changes = 9, hypers = 31, log_mlike = -87450.67
#&gt; Iteration 520: clusters = 23, births = 65, deaths = 53, changes = 9, hypers = 31, log_mlike = -87402.19
#&gt; Iteration 530: clusters = 22, births = 66, deaths = 55, changes = 9, hypers = 32, log_mlike = -87067.04
#&gt; Iteration 540: clusters = 22, births = 66, deaths = 55, changes = 9, hypers = 32, log_mlike = -87067.04
#&gt; Iteration 550: clusters = 22, births = 66, deaths = 55, changes = 9, hypers = 32, log_mlike = -87067.04
#&gt; Iteration 560: clusters = 22, births = 66, deaths = 55, changes = 9, hypers = 32, log_mlike = -87067.04
#&gt; Iteration 570: clusters = 22, births = 66, deaths = 55, changes = 9, hypers = 32, log_mlike = -87067.04
#&gt; Iteration 580: clusters = 22, births = 66, deaths = 55, changes = 9, hypers = 32, log_mlike = -87067.04
#&gt; Iteration 590: clusters = 22, births = 66, deaths = 55, changes = 9, hypers = 32, log_mlike = -87067.04
#&gt; Iteration 600: clusters = 20, births = 66, deaths = 57, changes = 9, hypers = 33, log_mlike = -86973.33
#&gt; Iteration 610: clusters = 18, births = 66, deaths = 59, changes = 9, hypers = 33, log_mlike = -86797.4
#&gt; Iteration 620: clusters = 17, births = 66, deaths = 60, changes = 9, hypers = 35, log_mlike = -86748.45
#&gt; Iteration 630: clusters = 17, births = 66, deaths = 60, changes = 9, hypers = 36, log_mlike = -86748.45
#&gt; Iteration 640: clusters = 17, births = 66, deaths = 60, changes = 9, hypers = 36, log_mlike = -86748.45
#&gt; Iteration 650: clusters = 16, births = 66, deaths = 61, changes = 9, hypers = 37, log_mlike = -86627.6
#&gt; Iteration 660: clusters = 16, births = 66, deaths = 61, changes = 10, hypers = 37, log_mlike = -86627.6
#&gt; Iteration 670: clusters = 16, births = 66, deaths = 61, changes = 10, hypers = 37, log_mlike = -86627.6
#&gt; Iteration 680: clusters = 16, births = 66, deaths = 61, changes = 10, hypers = 38, log_mlike = -86627.6
#&gt; Iteration 690: clusters = 16, births = 66, deaths = 61, changes = 10, hypers = 38, log_mlike = -86627.6
#&gt; Iteration 700: clusters = 16, births = 66, deaths = 61, changes = 10, hypers = 39, log_mlike = -86627.6
#&gt; Iteration 710: clusters = 14, births = 66, deaths = 63, changes = 10, hypers = 39, log_mlike = -86530.69
#&gt; Iteration 720: clusters = 13, births = 66, deaths = 64, changes = 10, hypers = 39, log_mlike = -86462.11
#&gt; Iteration 730: clusters = 12, births = 66, deaths = 65, changes = 10, hypers = 41, log_mlike = -86416.65
#&gt; Iteration 740: clusters = 12, births = 66, deaths = 65, changes = 10, hypers = 41, log_mlike = -86416.65
#&gt; Iteration 750: clusters = 12, births = 66, deaths = 65, changes = 10, hypers = 41, log_mlike = -86416.65
#&gt; Iteration 760: clusters = 12, births = 66, deaths = 65, changes = 10, hypers = 42, log_mlike = -86416.65
#&gt; Iteration 770: clusters = 12, births = 66, deaths = 65, changes = 11, hypers = 42, log_mlike = -86416.65
#&gt; Iteration 780: clusters = 12, births = 66, deaths = 65, changes = 11, hypers = 43, log_mlike = -86416.65
#&gt; Iteration 790: clusters = 12, births = 66, deaths = 65, changes = 11, hypers = 43, log_mlike = -86416.65
#&gt; Iteration 800: clusters = 12, births = 66, deaths = 65, changes = 11, hypers = 43, log_mlike = -86416.65
#&gt; Iteration 810: clusters = 12, births = 66, deaths = 65, changes = 11, hypers = 44, log_mlike = -86416.65
#&gt; Iteration 820: clusters = 11, births = 66, deaths = 66, changes = 11, hypers = 45, log_mlike = -86371.15
#&gt; Iteration 830: clusters = 11, births = 66, deaths = 66, changes = 11, hypers = 46, log_mlike = -86371.15
#&gt; Iteration 840: clusters = 11, births = 66, deaths = 66, changes = 11, hypers = 46, log_mlike = -86371.15
#&gt; Iteration 850: clusters = 11, births = 66, deaths = 66, changes = 11, hypers = 47, log_mlike = -86371.15
#&gt; Iteration 860: clusters = 11, births = 66, deaths = 66, changes = 11, hypers = 47, log_mlike = -86371.15
#&gt; Iteration 870: clusters = 11, births = 66, deaths = 66, changes = 11, hypers = 47, log_mlike = -86371.15
#&gt; Iteration 880: clusters = 11, births = 66, deaths = 66, changes = 11, hypers = 48, log_mlike = -86371.15
#&gt; Iteration 890: clusters = 11, births = 66, deaths = 66, changes = 11, hypers = 49, log_mlike = -86371.15
#&gt; Iteration 900: clusters = 11, births = 66, deaths = 66, changes = 11, hypers = 49, log_mlike = -86371.15
#&gt; Iteration 910: clusters = 11, births = 66, deaths = 66, changes = 11, hypers = 49, log_mlike = -86371.15
#&gt; Iteration 920: clusters = 11, births = 66, deaths = 66, changes = 11, hypers = 49, log_mlike = -86371.15
#&gt; Iteration 930: clusters = 11, births = 66, deaths = 66, changes = 11, hypers = 51, log_mlike = -86371.15
#&gt; Iteration 940: clusters = 11, births = 66, deaths = 66, changes = 11, hypers = 51, log_mlike = -86371.15
#&gt; Iteration 950: clusters = 11, births = 66, deaths = 66, changes = 11, hypers = 51, log_mlike = -86371.15
#&gt; Iteration 960: clusters = 11, births = 66, deaths = 66, changes = 11, hypers = 52, log_mlike = -86371.15
#&gt; Iteration 970: clusters = 11, births = 66, deaths = 66, changes = 11, hypers = 52, log_mlike = -86371.15
#&gt; Iteration 980: clusters = 11, births = 66, deaths = 66, changes = 11, hypers = 52, log_mlike = -86371.15
#&gt; Iteration 990: clusters = 11, births = 66, deaths = 66, changes = 11, hypers = 52, log_mlike = -86371.15
#&gt; Iteration 1000: clusters = 11, births = 66, deaths = 66, changes = 11, hypers = 52, log_mlike = -86371.15
#&gt; Iteration 1010: clusters = 11, births = 66, deaths = 66, changes = 11, hypers = 52, log_mlike = -86371.15
#&gt; Iteration 1020: clusters = 11, births = 66, deaths = 66, changes = 11, hypers = 54, log_mlike = -86371.15
#&gt; Iteration 1030: clusters = 11, births = 66, deaths = 66, changes = 11, hypers = 54, log_mlike = -86371.15
#&gt; Iteration 1040: clusters = 11, births = 66, deaths = 66, changes = 11, hypers = 55, log_mlike = -86371.15
#&gt; Iteration 1050: clusters = 11, births = 66, deaths = 66, changes = 11, hypers = 55, log_mlike = -86371.15
#&gt; Iteration 1060: clusters = 11, births = 66, deaths = 66, changes = 11, hypers = 55, log_mlike = -86371.15
#&gt; Iteration 1070: clusters = 11, births = 66, deaths = 66, changes = 12, hypers = 55, log_mlike = -86371.15
#&gt; Iteration 1080: clusters = 11, births = 66, deaths = 66, changes = 12, hypers = 55, log_mlike = -86371.15
#&gt; Iteration 1090: clusters = 11, births = 66, deaths = 66, changes = 12, hypers = 55, log_mlike = -86371.15
#&gt; Iteration 1100: clusters = 11, births = 66, deaths = 66, changes = 12, hypers = 56, log_mlike = -86371.15
#&gt; Iteration 1110: clusters = 11, births = 66, deaths = 66, changes = 12, hypers = 56, log_mlike = -86371.15
#&gt; Iteration 1120: clusters = 11, births = 66, deaths = 66, changes = 12, hypers = 56, log_mlike = -86371.15
#&gt; Iteration 1130: clusters = 11, births = 66, deaths = 66, changes = 12, hypers = 56, log_mlike = -86371.15
#&gt; Iteration 1140: clusters = 11, births = 66, deaths = 66, changes = 12, hypers = 58, log_mlike = -86371.15
#&gt; Iteration 1150: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 58, log_mlike = -86245.92
#&gt; Iteration 1160: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 58, log_mlike = -86245.92
#&gt; Iteration 1170: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 58, log_mlike = -86245.92
#&gt; Iteration 1180: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 58, log_mlike = -86245.92
#&gt; Iteration 1190: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 58, log_mlike = -86245.92
#&gt; Iteration 1200: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 60, log_mlike = -86245.92
#&gt; Iteration 1210: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 61, log_mlike = -86245.92
#&gt; Iteration 1220: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 62, log_mlike = -86245.92
#&gt; Iteration 1230: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 63, log_mlike = -86245.92
#&gt; Iteration 1240: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 63, log_mlike = -86245.92
#&gt; Iteration 1250: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 63, log_mlike = -86245.92
#&gt; Iteration 1260: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 64, log_mlike = -86245.92
#&gt; Iteration 1270: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 64, log_mlike = -86245.92
#&gt; Iteration 1280: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 64, log_mlike = -86245.92
#&gt; Iteration 1290: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 66, log_mlike = -86245.92
#&gt; Iteration 1300: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 66, log_mlike = -86245.92
#&gt; Iteration 1310: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 66, log_mlike = -86245.92
#&gt; Iteration 1320: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 66, log_mlike = -86245.92
#&gt; Iteration 1330: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 66, log_mlike = -86245.92
#&gt; Iteration 1340: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 68, log_mlike = -86245.92
#&gt; Iteration 1350: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 71, log_mlike = -86245.92
#&gt; Iteration 1360: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 71, log_mlike = -86245.92
#&gt; Iteration 1370: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 71, log_mlike = -86245.92
#&gt; Iteration 1380: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 71, log_mlike = -86245.92
#&gt; Iteration 1390: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 72, log_mlike = -86245.92
#&gt; Iteration 1400: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 73, log_mlike = -86245.92
#&gt; Iteration 1410: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 73, log_mlike = -86245.92
#&gt; Iteration 1420: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 73, log_mlike = -86245.92
#&gt; Iteration 1430: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 73, log_mlike = -86245.92
#&gt; Iteration 1440: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 74, log_mlike = -86245.92
#&gt; Iteration 1450: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 74, log_mlike = -86245.92
#&gt; Iteration 1460: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 77, log_mlike = -86245.92
#&gt; Iteration 1470: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 78, log_mlike = -86245.92
#&gt; Iteration 1480: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 78, log_mlike = -86245.92
#&gt; Iteration 1490: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 78, log_mlike = -86245.92
#&gt; Iteration 1500: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 79, log_mlike = -86245.92
#&gt; Iteration 1510: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 80, log_mlike = -86245.92
#&gt; Iteration 1520: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 80, log_mlike = -86245.92
#&gt; Iteration 1530: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 80, log_mlike = -86245.92
#&gt; Iteration 1540: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 80, log_mlike = -86245.92
#&gt; Iteration 1550: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 80, log_mlike = -86245.92
#&gt; Iteration 1560: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 80, log_mlike = -86245.92
#&gt; Iteration 1570: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 80, log_mlike = -86245.92
#&gt; Iteration 1580: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 80, log_mlike = -86245.92
#&gt; Iteration 1590: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 80, log_mlike = -86245.92
#&gt; Iteration 1600: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 80, log_mlike = -86245.92
#&gt; Iteration 1610: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 81, log_mlike = -86245.92
#&gt; Iteration 1620: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 81, log_mlike = -86245.92
#&gt; Iteration 1630: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 82, log_mlike = -86245.92
#&gt; Iteration 1640: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 84, log_mlike = -86245.92
#&gt; Iteration 1650: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 84, log_mlike = -86245.92
#&gt; Iteration 1660: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 84, log_mlike = -86245.92
#&gt; Iteration 1670: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 86, log_mlike = -86245.92
#&gt; Iteration 1680: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 86, log_mlike = -86245.92
#&gt; Iteration 1690: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 86, log_mlike = -86245.92
#&gt; Iteration 1700: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 86, log_mlike = -86245.92
#&gt; Iteration 1710: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 87, log_mlike = -86245.92
#&gt; Iteration 1720: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 87, log_mlike = -86245.92
#&gt; Iteration 1730: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 87, log_mlike = -86245.92
#&gt; Iteration 1740: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 87, log_mlike = -86245.92
#&gt; Iteration 1750: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 87, log_mlike = -86245.92
#&gt; Iteration 1760: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 87, log_mlike = -86245.92
#&gt; Iteration 1770: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 87, log_mlike = -86245.92
#&gt; Iteration 1780: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 87, log_mlike = -86245.92
#&gt; Iteration 1790: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 88, log_mlike = -86245.92
#&gt; Iteration 1800: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 88, log_mlike = -86245.92
#&gt; Iteration 1810: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 88, log_mlike = -86245.92
#&gt; Iteration 1820: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 88, log_mlike = -86245.92
#&gt; Iteration 1830: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 88, log_mlike = -86245.92
#&gt; Iteration 1840: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 89, log_mlike = -86245.92
#&gt; Iteration 1850: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 89, log_mlike = -86245.92
#&gt; Iteration 1860: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 92, log_mlike = -86245.92
#&gt; Iteration 1870: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 92, log_mlike = -86245.92
#&gt; Iteration 1880: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 92, log_mlike = -86245.92
#&gt; Iteration 1890: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 92, log_mlike = -86245.92
#&gt; Iteration 1900: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 92, log_mlike = -86245.92
#&gt; Iteration 1910: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 93, log_mlike = -86245.92
#&gt; Iteration 1920: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 93, log_mlike = -86245.92
#&gt; Iteration 1930: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 93, log_mlike = -86245.92
#&gt; Iteration 1940: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 93, log_mlike = -86245.92
#&gt; Iteration 1950: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 94, log_mlike = -86245.92
#&gt; Iteration 1960: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 94, log_mlike = -86245.92
#&gt; Iteration 1970: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 94, log_mlike = -86245.92
#&gt; Iteration 1980: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 94, log_mlike = -86245.92
#&gt; Iteration 1990: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 94, log_mlike = -86245.92
#&gt; Iteration 2000: clusters = 10, births = 66, deaths = 67, changes = 12, hypers = 94, log_mlike = -86245.92</code></pre>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;      user    system   elapsed 
#&gt; 14977.396  3045.854  3415.216</code></pre>
</div>
