---
title: "Summarise bsfc results: smoothing model"
prerequisites:
    - data/simulated/spatial-domain-clusters.rds
    - data/simulated/spatial-data-gam.rds
    - data/simulated/bsfc-gam-poisson.rds
    - data/simulated/bsfc-gam-normal.rds
---



<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data, and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())

library(sf)</code></pre>
<pre><code>#&gt; Linking to GEOS 3.10.2, GDAL 3.4.1, PROJ 8.2.1; sf_use_s2() is TRUE</code></pre>
<pre class="r"><code>library(ggplot2)
library(dplyr)</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;dplyr&#39;</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:stats&#39;:
#&gt; 
#&gt;     filter, lag</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:base&#39;:
#&gt; 
#&gt;     intersect, setdiff, setequal, union</code></pre>
<pre class="r"><code>library(igraph)</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;igraph&#39;</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:dplyr&#39;:
#&gt; 
#&gt;     as_data_frame, groups, union</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:stats&#39;:
#&gt; 
#&gt;     decompose, spectrum</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:base&#39;:
#&gt; 
#&gt;     union</code></pre>
<pre class="r"><code>library(purrr)</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;purrr&#39;</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:igraph&#39;:
#&gt; 
#&gt;     compose, simplify</code></pre>
<pre class="r"><code>path_proj = day2day::git_path()
path_data = file.path(path_proj, &quot;data&quot;)
path_sim = file.path(path_data, &quot;simulated&quot;)
devtools::load_all(&quot;/home/rstudio/documents/repositories/spfc&quot;)</code></pre>
<pre><code>#&gt; ℹ Loading bsfc</code></pre>
<pre class="r"><code>domain = readRDS(file.path(path_sim, &quot;spatial-domain-clusters.rds&quot;))
tdata = readRDS(file.path(path_sim, &quot;spatial-data-gam.rds&quot;))
mod_normal = readRDS(file.path(path_sim, &quot;bsfc-gam-normal.rds&quot;))
mod_poisson = readRDS(file.path(path_sim, &quot;bsfc-gam-poisson.rds&quot;))

tdata$time = seq(0, 1, length.out = 100)
tdata$X = poly(tdata$time, 2, raw = TRUE, simple = TRUE)
ntime = length(tdata$time)</code></pre>
</div>
<div id="gaussian-results" class="section level2">
<h2>Gaussian results</h2>
<div id="diagnostic" class="section level3">
<h3>Diagnostic</h3>
<pre class="r"><code>data.frame(id = 1:length(mod_normal$log_mlike), log_mlike = mod_normal$log_mlike) |&gt;
    ggplot() +
        geom_line(aes(id, log_mlike)) +
        labs(x = &quot;iteration&quot;, y = &quot;log marginal likelihood&quot;)</code></pre>
<p><img src="/spatial-functional-clustering/50-simulate/64-result-bsfc-gam_files/figure-html/unnamed-chunk-2-1.png" width="672" style="display: block; margin: auto;" /></p>
<pre class="r"><code>cluster_out = mod_normal$cluster
fields::image.plot(1:ncol(cluster_out), 1:nrow(cluster_out), t(cluster_out),
    xlab = &quot;Region&quot;, ylab = &quot;Iteration&quot;)</code></pre>
<p><img src="/spatial-functional-clustering/50-simulate/64-result-bsfc-gam_files/figure-html/unnamed-chunk-3-1.png" width="672" style="display: block; margin: auto;" /></p>
<pre class="r"><code>cluster_out = mod_normal$cluster[1000:2000,]
fields::image.plot(1:ncol(cluster_out), 1:nrow(cluster_out), t(cluster_out),
    xlab = &quot;Region&quot;, ylab = &quot;Iteration&quot;)</code></pre>
<p><img src="/spatial-functional-clustering/50-simulate/64-result-bsfc-gam_files/figure-html/unnamed-chunk-3-2.png" width="672" style="display: block; margin: auto;" /></p>
<pre class="r"><code>table(domain$cluster, mod_normal$cluster[2000,])</code></pre>
<pre><code>#&gt;     
#&gt;       1  2  3  4  5  6  7  8  9 10
#&gt;   1  27  0  0  0  0  0  0  0  0  0
#&gt;   2   0  9  0  0  0  0  0  0  0  0
#&gt;   3   0  0 12  0  0  0  0  0  0  0
#&gt;   4   0  0  0  0  0  9  0  0  0  0
#&gt;   5   0  0  0  6  0  0  0  0  0  0
#&gt;   6   0  0  0  0  3  0  0  0  0  0
#&gt;   7   0  0  0  0  0  0  0  0  0 11
#&gt;   8   0  0  0  0  0  0  0  0  1  0
#&gt;   9   0  0  0  0  0  0 20  0  0  0
#&gt;   10  0  0  0  0  0  0  0  2  0  0</code></pre>
</div>
<div id="prediction" class="section level3">
<h3>Prediction</h3>
<pre class="r"><code>k = max(mod_normal$cluster[2000,])
mods = lapply(1:k, log_mlik_each, tdata$eta, mod_normal$cluster[2000,], tdata$X, NULL,
    formula = Yk ~ 1 + f(idt, model = &#39;rw1&#39;), family = &quot;normal&quot;,
    correction = FALSE, detailed = TRUE)

ydf = setNames(as.data.frame(tdata$eta), 1:nrow(domain)) |&gt;
    mutate(time = tdata$time) |&gt;
    tidyr::pivot_longer(1:100, names_to = &quot;region&quot;, names_transform = as.numeric) |&gt;
    mutate(cluster = mod_normal$cluster[2000,][region])

preddf = do.call(cbind, lapply(1:10, function(x) mods[[x]]$summary.fitted.values$mean[1:100])) |&gt;
    as.data.frame() |&gt;
    setNames(1:10) |&gt;
    mutate(time = tdata$time) |&gt;
    tidyr::pivot_longer(1:10, names_to = &quot;cluster&quot;, names_transform = as.numeric) |&gt;
    mutate(cluster = factor(cluster))
    # mutate(cluster = factor(cluster, levels = as.numeric(matrix(1:10, nrow = 2, byrow = TRUE))))

mutate(ydf, cluster = factor(cluster)) |&gt;
    ggplot() +
    geom_line(aes(x = time, y = value, group = region), color = &quot;gray&quot;, linewidth = 0.5) +
    geom_line(aes(x = time, y = value), preddf, color = &quot;red&quot;, linewidth = 0.6,
    linetype = 2) +
    facet_wrap(~ cluster, ncol = 2) +
    theme_bw() +
    theme(legend.position = &quot;none&quot;, legend.text = element_text(size = 7)) +
    labs(title = &quot;Number of cases by cluster per region&quot;, color = &quot;Cluster&quot;,
    y = &quot;Number of cases&quot;, x = &quot;Time&quot;)</code></pre>
<p><img src="/spatial-functional-clustering/50-simulate/64-result-bsfc-gam_files/figure-html/unnamed-chunk-5-1.png" width="672" style="display: block; margin: auto;" /></p>
</div>
</div>
<div id="poisson-results" class="section level2">
<h2>Poisson results</h2>
<div id="diagnostic-1" class="section level3">
<h3>Diagnostic</h3>
<pre class="r"><code>data.frame(id = 1:length(mod_poisson$log_mlike), log_mlike = mod_poisson$log_mlike) |&gt;
    ggplot() +
        geom_line(aes(id, log_mlike)) +
        labs(x = &quot;iteration&quot;, y = &quot;log marginal likelihood&quot;)</code></pre>
<p><img src="/spatial-functional-clustering/50-simulate/64-result-bsfc-gam_files/figure-html/unnamed-chunk-6-1.png" width="672" style="display: block; margin: auto;" /></p>
<pre class="r"><code>cluster_out = mod_poisson$cluster
fields::image.plot(1:ncol(cluster_out), 1:nrow(cluster_out), t(cluster_out),
    xlab = &quot;Region&quot;, ylab = &quot;Iteration&quot;)</code></pre>
<p><img src="/spatial-functional-clustering/50-simulate/64-result-bsfc-gam_files/figure-html/unnamed-chunk-7-1.png" width="672" style="display: block; margin: auto;" /></p>
<pre class="r"><code>cluster_out = mod_poisson$cluster[1000:2000,]
fields::image.plot(1:ncol(cluster_out), 1:nrow(cluster_out), t(cluster_out),
    xlab = &quot;Region&quot;, ylab = &quot;Iteration&quot;)</code></pre>
<p><img src="/spatial-functional-clustering/50-simulate/64-result-bsfc-gam_files/figure-html/unnamed-chunk-7-2.png" width="672" style="display: block; margin: auto;" /></p>
<pre class="r"><code>table(domain$cluster, mod_poisson$cluster[2000,])</code></pre>
<pre><code>#&gt;     
#&gt;       1  2  3  4  5  6  7  8  9 10
#&gt;   1  27  0  0  0  0  0  0  0  0  0
#&gt;   2   0  9  0  0  0  0  0  0  0  0
#&gt;   3   0  0  0  0  0 12  0  0  0  0
#&gt;   4   0  0  9  0  0  0  0  0  0  0
#&gt;   5   0  0  0  0  0  0  0  0  6  0
#&gt;   6   0  0  0  0  0  0  3  0  0  0
#&gt;   7   0  0  0 11  0  0  0  0  0  0
#&gt;   8   0  0  0  0  0  0  0  1  0  0
#&gt;   9   0  0  0  0 20  0  0  0  0  0
#&gt;   10  0  0  0  0  0  0  0  0  0  2</code></pre>
</div>
<div id="prediction-1" class="section level3">
<h3>Prediction</h3>
<pre class="r"><code>k = max(mod_poisson$cluster[2000,])
mods = lapply(1:k, log_mlik_each, tdata$Y, mod_poisson$cluster[2000,], tdata$X, domain$population,
    formula = Yk ~ 1 + f(id, model = &#39;iid&#39;) + f(idt, model = &quot;rw1&quot;), family = &quot;poisson&quot;,
    correction = FALSE, detailed = TRUE)

ydf = setNames(as.data.frame(tdata$Y / rep(domain$population, each = 100)), 1:nrow(domain)) |&gt;
    mutate(time = tdata$time) |&gt;
    tidyr::pivot_longer(1:100, names_to = &quot;region&quot;, names_transform = as.numeric) |&gt;
    mutate(cluster = mod_poisson$cluster[2000,][region])

cluster2 = rep(1:k, table(mod_poisson$cluster[2000,]))

preddf = map(1:10, function(x) mods[[x]]$summary.fitted.values$mean / exp(mods[[x]]$summary.random[[1]]$mean)) %&gt;%
    map(~ matrix(., nrow = 100)) %&gt;%
    do.call(cbind, .) |&gt;
    as.data.frame() |&gt;
    setNames(1:100) |&gt;
    mutate(time = tdata$time) |&gt;
    tidyr::pivot_longer(1:100, names_to = &quot;newregion&quot;, names_transform = as.numeric) |&gt;
    mutate(cluster = factor(cluster2[newregion]))

mutate(ydf, cluster = factor(cluster)) |&gt;
    ggplot() +
    geom_line(aes(x = time, y = value, group = region), color = &quot;gray&quot;, linewidth = 0.5) +
    geom_line(aes(x = time, y = value, group = newregion), preddf, color = &quot;red&quot;, linewidth = 0.6,
    linetype = 2) +
    facet_wrap(~ cluster, ncol = 2) +
    theme_bw() +
    theme(legend.position = &quot;none&quot;, legend.text = element_text(size = 7)) +
    labs(title = &quot;Number of cases by cluster per region&quot;, color = &quot;Cluster&quot;,
    y = &quot;Number of cases&quot;, x = &quot;Time&quot;)</code></pre>
<p><img src="/spatial-functional-clustering/50-simulate/64-result-bsfc-gam_files/figure-html/unnamed-chunk-9-1.png" width="672" style="display: block; margin: auto;" /></p>
<pre class="r"><code>preddf = map(1:10, function(x) mods[[x]]$summary.fitted.values$mean) %&gt;%
    map(~ matrix(., nrow = 100)) %&gt;%
    do.call(cbind, .) |&gt;
    as.data.frame() |&gt;
    setNames(1:100) |&gt;
    mutate(time = tdata$time) |&gt;
    tidyr::pivot_longer(1:100, names_to = &quot;newregion&quot;, names_transform = as.numeric) |&gt;
    mutate(cluster = factor(cluster2[newregion]))

mutate(ydf, cluster = factor(cluster)) |&gt;
    ggplot() +
    geom_line(aes(x = time, y = value, group = region), color = &quot;gray&quot;, linewidth = 0.5) +
    geom_line(aes(x = time, y = value, group = newregion), preddf, color = &quot;red&quot;, linewidth = 0.6,
    linetype = 2) +
    facet_wrap(~ cluster, ncol = 2) +
    theme_bw() +
    theme(legend.position = &quot;none&quot;, legend.text = element_text(size = 7)) +
    labs(title = &quot;Number of cases by cluster per region&quot;, color = &quot;Cluster&quot;,
    y = &quot;Number of cases&quot;, x = &quot;Time&quot;)</code></pre>
<p><img src="/spatial-functional-clustering/50-simulate/64-result-bsfc-gam_files/figure-html/unnamed-chunk-9-2.png" width="672" style="display: block; margin: auto;" /></p>
</div>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;  51.541   9.995  18.236</code></pre>
</div>
