---
title: "Summarise bsfc results: fuzy glm"
prerequisites:
    - data/simulated/spatial-domain-clusters.rds
    - data/simulated/spatial-data-fuzzy-glm.rds
    - data/simulated/bsfc-fuzzy-glm-poisson.rds
    - data/simulated/bsfc-fuzzy-glm-normal.rds
---



<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data, and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())

library(sf)</code></pre>
<pre><code>#&gt; Linking to GEOS 3.10.2, GDAL 3.4.1, PROJ 8.2.1; sf_use_s2() is TRUE</code></pre>
<pre class="r"><code>library(ggplot2)
library(dplyr)</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;dplyr&#39;</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:stats&#39;:
#&gt; 
#&gt;     filter, lag</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:base&#39;:
#&gt; 
#&gt;     intersect, setdiff, setequal, union</code></pre>
<pre class="r"><code>library(igraph)</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;igraph&#39;</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:dplyr&#39;:
#&gt; 
#&gt;     as_data_frame, groups, union</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:stats&#39;:
#&gt; 
#&gt;     decompose, spectrum</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:base&#39;:
#&gt; 
#&gt;     union</code></pre>
<pre class="r"><code>library(purrr)</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;purrr&#39;</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:igraph&#39;:
#&gt; 
#&gt;     compose, simplify</code></pre>
<pre class="r"><code>path_proj = day2day::git_path()
path_data = file.path(path_proj, &quot;data&quot;)
path_sim = file.path(path_data, &quot;simulated&quot;)
devtools::load_all(&quot;/home/rstudio/documents/repositories/spfc&quot;)</code></pre>
<pre><code>#&gt; ℹ Loading bsfc</code></pre>
<pre class="r"><code>domain = readRDS(file.path(path_sim, &quot;spatial-domain-clusters.rds&quot;))
tdata = readRDS(file.path(path_sim, &quot;spatial-data-fuzzy-glm.rds&quot;))
mod_normal = readRDS(file.path(path_sim, &quot;bsfc-fuzzy-glm-normal.rds&quot;))
mod_poisson = readRDS(file.path(path_sim, &quot;bsfc-fuzzy-glm-poisson.rds&quot;))

tdata$time = seq(0, 1, length.out = 100)
tdata$X = poly(tdata$time, 2, raw = TRUE, simple = TRUE)
ntime = length(tdata$time)</code></pre>
<pre class="r"><code>c_seq = seq(0, 1, length.out = 100)
plot(c_seq, log(1-c_seq))</code></pre>
<p><img src="/spatial-functional-clustering/50-simulate/66-result-bsfc-fuzzy-glm_files/figure-html/unnamed-chunk-2-1.png" width="672" style="display: block; margin: auto;" /></p>
<pre class="r"><code>k_seq = 0:10
plot(k_seq, (1-0.5)^k_seq)</code></pre>
<p><img src="/spatial-functional-clustering/50-simulate/66-result-bsfc-fuzzy-glm_files/figure-html/unnamed-chunk-2-2.png" width="672" style="display: block; margin: auto;" /></p>
</div>
<div id="gaussian-results" class="section level2">
<h2>Gaussian results</h2>
<div id="diagnostic" class="section level3">
<h3>Diagnostic</h3>
<pre class="r"><code>start = 1
data.frame(id = 1:length(mod_normal$log_mlike[start:5000]), log_mlike = mod_normal$log_mlike[start:5000]) |&gt;
    ggplot() +
        geom_line(aes(id, log_mlike)) +
        labs(x = &quot;iteration&quot;, y = &quot;log marginal likelihood&quot;)</code></pre>
<p><img src="/spatial-functional-clustering/50-simulate/66-result-bsfc-fuzzy-glm_files/figure-html/unnamed-chunk-3-1.png" width="672" style="display: block; margin: auto;" /></p>
<pre class="r"><code>plop = lapply(1:10, log_mlik_each, tdata$eta, domain$cluster, tdata$X, NULL, formula = Yk ~ 1 + Xk,
    family = &quot;normal&quot;, correction = FALSE, detailed = FALSE)
sum(sapply(plop, identity))</code></pre>
<pre><code>#&gt; [1] 20491.45</code></pre>
<pre class="r"><code>niter = nrow(mod_normal$cluster)
cluster_out = mod_normal$cluster
fields::image.plot(1:ncol(cluster_out), 1:nrow(cluster_out), t(cluster_out),
    xlab = &quot;Region&quot;, ylab = &quot;Iteration&quot;)</code></pre>
<p><img src="/spatial-functional-clustering/50-simulate/66-result-bsfc-fuzzy-glm_files/figure-html/unnamed-chunk-4-1.png" width="672" style="display: block; margin: auto;" /></p>
<pre class="r"><code>cluster_out = mod_normal$cluster[(niter-1000):niter,]
fields::image.plot(1:ncol(cluster_out), 1:nrow(cluster_out), t(cluster_out),
    xlab = &quot;Region&quot;, ylab = &quot;Iteration&quot;)</code></pre>
<p><img src="/spatial-functional-clustering/50-simulate/66-result-bsfc-fuzzy-glm_files/figure-html/unnamed-chunk-4-2.png" width="672" style="display: block; margin: auto;" /></p>
<pre class="r"><code>table(domain$cluster, mod_normal$cluster[niter,])</code></pre>
<pre><code>#&gt;     
#&gt;       1  2  3  4  5  6  7  8  9 10
#&gt;   1  26  0  0  0  0  0  0  0  1  0
#&gt;   2   0  0  0  0  0  0  0  0  0  9
#&gt;   3   1  0  0  0  0  0  0  0 11  0
#&gt;   4   0  9  0  0  0  0  0  0  0  0
#&gt;   5   0  0  0  0  0  6  0  0  0  0
#&gt;   6   0  0  0  0  0  0  3  0  0  0
#&gt;   7   0  0 11  0  0  0  0  0  0  0
#&gt;   8   0  0  0  1  0  0  0  0  0  0
#&gt;   9   0  0  0  0 20  0  0  0  0  0
#&gt;   10  0  0  0  0  0  0  0  2  0  0</code></pre>
<pre class="r"><code>nclusters = length(unique(mod_normal$cluster[niter,]))</code></pre>
</div>
<div id="prediction" class="section level3">
<h3>Prediction</h3>
<pre class="r"><code>k = max(mod_normal$cluster[niter,])
mods = lapply(1:k, log_mlik_each, tdata$eta, mod_normal$cluster[niter,], tdata$X, NULL, formula = Yk ~ 1 + Xk,
    family = &quot;normal&quot;, correction = FALSE, detailed = TRUE)

map(mods, summary)</code></pre>
<pre><code>#&gt; [[1]]
#&gt; 
#&gt; Call:
#&gt;    c(&quot;inla.core(formula = formula, family = family, contrasts = contrasts, &quot;, &quot; data = data, 
#&gt;    quantiles = quantiles, E = E, offset = offset, &quot;, &quot; scale = scale, weights = weights, 
#&gt;    Ntrials = Ntrials, strata = strata, &quot;, &quot; lp.scale = lp.scale, link.covariates = 
#&gt;    link.covariates, verbose = verbose, &quot;, &quot; lincomb = lincomb, selection = selection, 
#&gt;    control.compute = control.compute, &quot;, &quot; control.predictor = control.predictor, 
#&gt;    control.family = control.family, &quot;, &quot; control.inla = control.inla, control.fixed = 
#&gt;    control.fixed, &quot;, &quot; control.mode = control.mode, control.expert = control.expert, &quot;, &quot; 
#&gt;    control.hazard = control.hazard, control.lincomb = control.lincomb, &quot;, &quot; control.update = 
#&gt;    control.update, control.lp.scale = control.lp.scale, &quot;, &quot; control.pardiso = 
#&gt;    control.pardiso, only.hyperparam = only.hyperparam, &quot;, &quot; inla.call = inla.call, inla.arg 
#&gt;    = inla.arg, num.threads = num.threads, &quot;, &quot; keep = keep, working.directory = 
#&gt;    working.directory, silent = silent, &quot;, &quot; inla.mode = inla.mode, safe = FALSE, debug = 
#&gt;    debug, .parent.frame = .parent.frame)&quot; ) 
#&gt; Time used:
#&gt;     Pre = 0.121, Running = 0.24, Post = 0.0239, Total = 0.385 
#&gt; Fixed effects:
#&gt;               mean    sd 0.025quant 0.5quant 0.975quant   mode kld
#&gt; (Intercept) -0.499 0.001     -0.502   -0.499     -0.496 -0.499   0
#&gt; Xk1          0.999 0.006      0.987    0.999      1.011  0.999   0
#&gt; Xk2          0.000 0.006     -0.012    0.000      0.012  0.000   0
#&gt; 
#&gt; Model hyperparameters:
#&gt;                                            mean    sd 0.025quant 0.5quant 0.975quant    mode
#&gt; Precision for the Gaussian observations 1750.95 47.66    1658.80  1750.52    1845.60 1749.66
#&gt; 
#&gt; Marginal log-Likelihood:  6220.70 
#&gt;  is computed 
#&gt; Posterior summaries for the linear predictor and the fitted values are computed
#&gt; (Posterior marginals needs also &#39;control.compute=list(return.marginals.predictor=TRUE)&#39;)
#&gt; 
#&gt; 
#&gt; [[2]]
#&gt; 
#&gt; Call:
#&gt;    c(&quot;inla.core(formula = formula, family = family, contrasts = contrasts, &quot;, &quot; data = data, 
#&gt;    quantiles = quantiles, E = E, offset = offset, &quot;, &quot; scale = scale, weights = weights, 
#&gt;    Ntrials = Ntrials, strata = strata, &quot;, &quot; lp.scale = lp.scale, link.covariates = 
#&gt;    link.covariates, verbose = verbose, &quot;, &quot; lincomb = lincomb, selection = selection, 
#&gt;    control.compute = control.compute, &quot;, &quot; control.predictor = control.predictor, 
#&gt;    control.family = control.family, &quot;, &quot; control.inla = control.inla, control.fixed = 
#&gt;    control.fixed, &quot;, &quot; control.mode = control.mode, control.expert = control.expert, &quot;, &quot; 
#&gt;    control.hazard = control.hazard, control.lincomb = control.lincomb, &quot;, &quot; control.update = 
#&gt;    control.update, control.lp.scale = control.lp.scale, &quot;, &quot; control.pardiso = 
#&gt;    control.pardiso, only.hyperparam = only.hyperparam, &quot;, &quot; inla.call = inla.call, inla.arg 
#&gt;    = inla.arg, num.threads = num.threads, &quot;, &quot; keep = keep, working.directory = 
#&gt;    working.directory, silent = silent, &quot;, &quot; inla.mode = inla.mode, safe = FALSE, debug = 
#&gt;    debug, .parent.frame = .parent.frame)&quot; ) 
#&gt; Time used:
#&gt;     Pre = 0.106, Running = 0.222, Post = 0.0193, Total = 0.347 
#&gt; Fixed effects:
#&gt;               mean    sd 0.025quant 0.5quant 0.975quant   mode kld
#&gt; (Intercept)  0.489 0.010      0.470    0.489      0.508  0.489   0
#&gt; Xk1         -2.962 0.045     -3.051   -2.962     -2.873 -2.962   0
#&gt; Xk2          2.962 0.044      2.876    2.962      3.048  2.962   0
#&gt; 
#&gt; Model hyperparameters:
#&gt;                                           mean   sd 0.025quant 0.5quant 0.975quant   mode
#&gt; Precision for the Gaussian observations 100.24 4.73      91.19   100.16     109.71 100.02
#&gt; 
#&gt; Marginal log-Likelihood:  770.12 
#&gt;  is computed 
#&gt; Posterior summaries for the linear predictor and the fitted values are computed
#&gt; (Posterior marginals needs also &#39;control.compute=list(return.marginals.predictor=TRUE)&#39;)
#&gt; 
#&gt; 
#&gt; [[3]]
#&gt; 
#&gt; Call:
#&gt;    c(&quot;inla.core(formula = formula, family = family, contrasts = contrasts, &quot;, &quot; data = data, 
#&gt;    quantiles = quantiles, E = E, offset = offset, &quot;, &quot; scale = scale, weights = weights, 
#&gt;    Ntrials = Ntrials, strata = strata, &quot;, &quot; lp.scale = lp.scale, link.covariates = 
#&gt;    link.covariates, verbose = verbose, &quot;, &quot; lincomb = lincomb, selection = selection, 
#&gt;    control.compute = control.compute, &quot;, &quot; control.predictor = control.predictor, 
#&gt;    control.family = control.family, &quot;, &quot; control.inla = control.inla, control.fixed = 
#&gt;    control.fixed, &quot;, &quot; control.mode = control.mode, control.expert = control.expert, &quot;, &quot; 
#&gt;    control.hazard = control.hazard, control.lincomb = control.lincomb, &quot;, &quot; control.update = 
#&gt;    control.update, control.lp.scale = control.lp.scale, &quot;, &quot; control.pardiso = 
#&gt;    control.pardiso, only.hyperparam = only.hyperparam, &quot;, &quot; inla.call = inla.call, inla.arg 
#&gt;    = inla.arg, num.threads = num.threads, &quot;, &quot; keep = keep, working.directory = 
#&gt;    working.directory, silent = silent, &quot;, &quot; inla.mode = inla.mode, safe = FALSE, debug = 
#&gt;    debug, .parent.frame = .parent.frame)&quot; ) 
#&gt; Time used:
#&gt;     Pre = 0.11, Running = 0.244, Post = 0.0215, Total = 0.375 
#&gt; Fixed effects:
#&gt;               mean    sd 0.025quant 0.5quant 0.975quant   mode kld
#&gt; (Intercept)  0.500 0.002      0.496    0.500      0.505  0.500   0
#&gt; Xk1         -1.003 0.010     -1.023   -1.003     -0.983 -1.003   0
#&gt; Xk2          0.005 0.010     -0.015    0.005      0.024  0.005   0
#&gt; 
#&gt; Model hyperparameters:
#&gt;                                            mean    sd 0.025quant 0.5quant 0.975quant    mode
#&gt; Precision for the Gaussian observations 1585.22 67.62    1455.48  1584.26    1720.49 1582.34
#&gt; 
#&gt; Marginal log-Likelihood:  2463.83 
#&gt;  is computed 
#&gt; Posterior summaries for the linear predictor and the fitted values are computed
#&gt; (Posterior marginals needs also &#39;control.compute=list(return.marginals.predictor=TRUE)&#39;)
#&gt; 
#&gt; 
#&gt; [[4]]
#&gt; 
#&gt; Call:
#&gt;    c(&quot;inla.core(formula = formula, family = family, contrasts = contrasts, &quot;, &quot; data = data, 
#&gt;    quantiles = quantiles, E = E, offset = offset, &quot;, &quot; scale = scale, weights = weights, 
#&gt;    Ntrials = Ntrials, strata = strata, &quot;, &quot; lp.scale = lp.scale, link.covariates = 
#&gt;    link.covariates, verbose = verbose, &quot;, &quot; lincomb = lincomb, selection = selection, 
#&gt;    control.compute = control.compute, &quot;, &quot; control.predictor = control.predictor, 
#&gt;    control.family = control.family, &quot;, &quot; control.inla = control.inla, control.fixed = 
#&gt;    control.fixed, &quot;, &quot; control.mode = control.mode, control.expert = control.expert, &quot;, &quot; 
#&gt;    control.hazard = control.hazard, control.lincomb = control.lincomb, &quot;, &quot; control.update = 
#&gt;    control.update, control.lp.scale = control.lp.scale, &quot;, &quot; control.pardiso = 
#&gt;    control.pardiso, only.hyperparam = only.hyperparam, &quot;, &quot; inla.call = inla.call, inla.arg 
#&gt;    = inla.arg, num.threads = num.threads, &quot;, &quot; keep = keep, working.directory = 
#&gt;    working.directory, silent = silent, &quot;, &quot; inla.mode = inla.mode, safe = FALSE, debug = 
#&gt;    debug, .parent.frame = .parent.frame)&quot; ) 
#&gt; Time used:
#&gt;     Pre = 0.105, Running = 0.199, Post = 0.0239, Total = 0.328 
#&gt; Fixed effects:
#&gt;               mean    sd 0.025quant 0.5quant 0.975quant   mode kld
#&gt; (Intercept) -0.001 0.003     -0.007   -0.001      0.005 -0.001   0
#&gt; Xk1          0.004 0.014     -0.023    0.004      0.031  0.004   0
#&gt; Xk2          0.000 0.013     -0.027    0.000      0.026  0.000   0
#&gt; 
#&gt; Model hyperparameters:
#&gt;                                            mean      sd 0.025quant 0.5quant 0.975quant    mode
#&gt; Precision for the Gaussian observations 9681.25 1375.91    7176.76  9616.46   12560.78 9486.18
#&gt; 
#&gt; Marginal log-Likelihood:  292.89 
#&gt;  is computed 
#&gt; Posterior summaries for the linear predictor and the fitted values are computed
#&gt; (Posterior marginals needs also &#39;control.compute=list(return.marginals.predictor=TRUE)&#39;)
#&gt; 
#&gt; 
#&gt; [[5]]
#&gt; 
#&gt; Call:
#&gt;    c(&quot;inla.core(formula = formula, family = family, contrasts = contrasts, &quot;, &quot; data = data, 
#&gt;    quantiles = quantiles, E = E, offset = offset, &quot;, &quot; scale = scale, weights = weights, 
#&gt;    Ntrials = Ntrials, strata = strata, &quot;, &quot; lp.scale = lp.scale, link.covariates = 
#&gt;    link.covariates, verbose = verbose, &quot;, &quot; lincomb = lincomb, selection = selection, 
#&gt;    control.compute = control.compute, &quot;, &quot; control.predictor = control.predictor, 
#&gt;    control.family = control.family, &quot;, &quot; control.inla = control.inla, control.fixed = 
#&gt;    control.fixed, &quot;, &quot; control.mode = control.mode, control.expert = control.expert, &quot;, &quot; 
#&gt;    control.hazard = control.hazard, control.lincomb = control.lincomb, &quot;, &quot; control.update = 
#&gt;    control.update, control.lp.scale = control.lp.scale, &quot;, &quot; control.pardiso = 
#&gt;    control.pardiso, only.hyperparam = only.hyperparam, &quot;, &quot; inla.call = inla.call, inla.arg 
#&gt;    = inla.arg, num.threads = num.threads, &quot;, &quot; keep = keep, working.directory = 
#&gt;    working.directory, silent = silent, &quot;, &quot; inla.mode = inla.mode, safe = FALSE, debug = 
#&gt;    debug, .parent.frame = .parent.frame)&quot; ) 
#&gt; Time used:
#&gt;     Pre = 0.107, Running = 0.253, Post = 0.0225, Total = 0.382 
#&gt; Fixed effects:
#&gt;               mean    sd 0.025quant 0.5quant 0.975quant   mode kld
#&gt; (Intercept)  0.496 0.002      0.492    0.496      0.499  0.496   0
#&gt; Xk1         -3.004 0.008     -3.019   -3.004     -2.989 -3.004   0
#&gt; Xk2          3.001 0.008      2.987    3.001      3.016  3.001   0
#&gt; 
#&gt; Model hyperparameters:
#&gt;                                            mean    sd 0.025quant 0.5quant 0.975quant    mode
#&gt; Precision for the Gaussian observations 1532.45 48.47    1438.94  1531.95    1628.91 1530.93
#&gt; 
#&gt; Marginal log-Likelihood:  4467.56 
#&gt;  is computed 
#&gt; Posterior summaries for the linear predictor and the fitted values are computed
#&gt; (Posterior marginals needs also &#39;control.compute=list(return.marginals.predictor=TRUE)&#39;)
#&gt; 
#&gt; 
#&gt; [[6]]
#&gt; 
#&gt; Call:
#&gt;    c(&quot;inla.core(formula = formula, family = family, contrasts = contrasts, &quot;, &quot; data = data, 
#&gt;    quantiles = quantiles, E = E, offset = offset, &quot;, &quot; scale = scale, weights = weights, 
#&gt;    Ntrials = Ntrials, strata = strata, &quot;, &quot; lp.scale = lp.scale, link.covariates = 
#&gt;    link.covariates, verbose = verbose, &quot;, &quot; lincomb = lincomb, selection = selection, 
#&gt;    control.compute = control.compute, &quot;, &quot; control.predictor = control.predictor, 
#&gt;    control.family = control.family, &quot;, &quot; control.inla = control.inla, control.fixed = 
#&gt;    control.fixed, &quot;, &quot; control.mode = control.mode, control.expert = control.expert, &quot;, &quot; 
#&gt;    control.hazard = control.hazard, control.lincomb = control.lincomb, &quot;, &quot; control.update = 
#&gt;    control.update, control.lp.scale = control.lp.scale, &quot;, &quot; control.pardiso = 
#&gt;    control.pardiso, only.hyperparam = only.hyperparam, &quot;, &quot; inla.call = inla.call, inla.arg 
#&gt;    = inla.arg, num.threads = num.threads, &quot;, &quot; keep = keep, working.directory = 
#&gt;    working.directory, silent = silent, &quot;, &quot; inla.mode = inla.mode, safe = FALSE, debug = 
#&gt;    debug, .parent.frame = .parent.frame)&quot; ) 
#&gt; Time used:
#&gt;     Pre = 0.11, Running = 0.226, Post = 0.0206, Total = 0.356 
#&gt; Fixed effects:
#&gt;               mean    sd 0.025quant 0.5quant 0.975quant   mode kld
#&gt; (Intercept) -0.491 0.005     -0.500   -0.491     -0.482 -0.491   0
#&gt; Xk1          2.999 0.021      2.957    2.999      3.040  2.999   0
#&gt; Xk2         -3.006 0.021     -3.046   -3.006     -2.966 -3.006   0
#&gt; 
#&gt; Model hyperparameters:
#&gt;                                           mean    sd 0.025quant 0.5quant 0.975quant   mode
#&gt; Precision for the Gaussian observations 685.54 39.61     610.13   684.78     765.34 683.25
#&gt; 
#&gt; Marginal log-Likelihood:  1081.32 
#&gt;  is computed 
#&gt; Posterior summaries for the linear predictor and the fitted values are computed
#&gt; (Posterior marginals needs also &#39;control.compute=list(return.marginals.predictor=TRUE)&#39;)
#&gt; 
#&gt; 
#&gt; [[7]]
#&gt; 
#&gt; Call:
#&gt;    c(&quot;inla.core(formula = formula, family = family, contrasts = contrasts, &quot;, &quot; data = data, 
#&gt;    quantiles = quantiles, E = E, offset = offset, &quot;, &quot; scale = scale, weights = weights, 
#&gt;    Ntrials = Ntrials, strata = strata, &quot;, &quot; lp.scale = lp.scale, link.covariates = 
#&gt;    link.covariates, verbose = verbose, &quot;, &quot; lincomb = lincomb, selection = selection, 
#&gt;    control.compute = control.compute, &quot;, &quot; control.predictor = control.predictor, 
#&gt;    control.family = control.family, &quot;, &quot; control.inla = control.inla, control.fixed = 
#&gt;    control.fixed, &quot;, &quot; control.mode = control.mode, control.expert = control.expert, &quot;, &quot; 
#&gt;    control.hazard = control.hazard, control.lincomb = control.lincomb, &quot;, &quot; control.update = 
#&gt;    control.update, control.lp.scale = control.lp.scale, &quot;, &quot; control.pardiso = 
#&gt;    control.pardiso, only.hyperparam = only.hyperparam, &quot;, &quot; inla.call = inla.call, inla.arg 
#&gt;    = inla.arg, num.threads = num.threads, &quot;, &quot; keep = keep, working.directory = 
#&gt;    working.directory, silent = silent, &quot;, &quot; inla.mode = inla.mode, safe = FALSE, debug = 
#&gt;    debug, .parent.frame = .parent.frame)&quot; ) 
#&gt; Time used:
#&gt;     Pre = 0.118, Running = 0.195, Post = 0.0252, Total = 0.337 
#&gt; Fixed effects:
#&gt;               mean    sd 0.025quant 0.5quant 0.975quant   mode kld
#&gt; (Intercept) -0.002 0.002     -0.005   -0.002      0.001 -0.002   0
#&gt; Xk1          0.004 0.007     -0.011    0.004      0.019  0.004   0
#&gt; Xk2         -0.001 0.007     -0.015   -0.001      0.013 -0.001   0
#&gt; 
#&gt; Model hyperparameters:
#&gt;                                             mean     sd 0.025quant 0.5quant 0.975quant     mode
#&gt; Precision for the Gaussian observations 11024.34 901.61    9329.12 10999.88   12860.99 10950.81
#&gt; 
#&gt; Marginal log-Likelihood:  944.12 
#&gt;  is computed 
#&gt; Posterior summaries for the linear predictor and the fitted values are computed
#&gt; (Posterior marginals needs also &#39;control.compute=list(return.marginals.predictor=TRUE)&#39;)
#&gt; 
#&gt; 
#&gt; [[8]]
#&gt; 
#&gt; Call:
#&gt;    c(&quot;inla.core(formula = formula, family = family, contrasts = contrasts, &quot;, &quot; data = data, 
#&gt;    quantiles = quantiles, E = E, offset = offset, &quot;, &quot; scale = scale, weights = weights, 
#&gt;    Ntrials = Ntrials, strata = strata, &quot;, &quot; lp.scale = lp.scale, link.covariates = 
#&gt;    link.covariates, verbose = verbose, &quot;, &quot; lincomb = lincomb, selection = selection, 
#&gt;    control.compute = control.compute, &quot;, &quot; control.predictor = control.predictor, 
#&gt;    control.family = control.family, &quot;, &quot; control.inla = control.inla, control.fixed = 
#&gt;    control.fixed, &quot;, &quot; control.mode = control.mode, control.expert = control.expert, &quot;, &quot; 
#&gt;    control.hazard = control.hazard, control.lincomb = control.lincomb, &quot;, &quot; control.update = 
#&gt;    control.update, control.lp.scale = control.lp.scale, &quot;, &quot; control.pardiso = 
#&gt;    control.pardiso, only.hyperparam = only.hyperparam, &quot;, &quot; inla.call = inla.call, inla.arg 
#&gt;    = inla.arg, num.threads = num.threads, &quot;, &quot; keep = keep, working.directory = 
#&gt;    working.directory, silent = silent, &quot;, &quot; inla.mode = inla.mode, safe = FALSE, debug = 
#&gt;    debug, .parent.frame = .parent.frame)&quot; ) 
#&gt; Time used:
#&gt;     Pre = 0.107, Running = 0.214, Post = 0.018, Total = 0.339 
#&gt; Fixed effects:
#&gt;               mean    sd 0.025quant 0.5quant 0.975quant   mode kld
#&gt; (Intercept) -0.498 0.002     -0.502   -0.498     -0.494 -0.498   0
#&gt; Xk1          3.017 0.010      2.998    3.017      3.036  3.017   0
#&gt; Xk2         -3.017 0.009     -3.035   -3.017     -2.999 -3.017   0
#&gt; 
#&gt; Model hyperparameters:
#&gt;                                            mean     sd 0.025quant 0.5quant 0.975quant    mode
#&gt; Precision for the Gaussian observations 9898.36 992.27    8050.82  9865.37   11936.80 9799.15
#&gt; 
#&gt; Marginal log-Likelihood:  610.71 
#&gt;  is computed 
#&gt; Posterior summaries for the linear predictor and the fitted values are computed
#&gt; (Posterior marginals needs also &#39;control.compute=list(return.marginals.predictor=TRUE)&#39;)
#&gt; 
#&gt; 
#&gt; [[9]]
#&gt; 
#&gt; Call:
#&gt;    c(&quot;inla.core(formula = formula, family = family, contrasts = contrasts, &quot;, &quot; data = data, 
#&gt;    quantiles = quantiles, E = E, offset = offset, &quot;, &quot; scale = scale, weights = weights, 
#&gt;    Ntrials = Ntrials, strata = strata, &quot;, &quot; lp.scale = lp.scale, link.covariates = 
#&gt;    link.covariates, verbose = verbose, &quot;, &quot; lincomb = lincomb, selection = selection, 
#&gt;    control.compute = control.compute, &quot;, &quot; control.predictor = control.predictor, 
#&gt;    control.family = control.family, &quot;, &quot; control.inla = control.inla, control.fixed = 
#&gt;    control.fixed, &quot;, &quot; control.mode = control.mode, control.expert = control.expert, &quot;, &quot; 
#&gt;    control.hazard = control.hazard, control.lincomb = control.lincomb, &quot;, &quot; control.update = 
#&gt;    control.update, control.lp.scale = control.lp.scale, &quot;, &quot; control.pardiso = 
#&gt;    control.pardiso, only.hyperparam = only.hyperparam, &quot;, &quot; inla.call = inla.call, inla.arg 
#&gt;    = inla.arg, num.threads = num.threads, &quot;, &quot; keep = keep, working.directory = 
#&gt;    working.directory, silent = silent, &quot;, &quot; inla.mode = inla.mode, safe = FALSE, debug = 
#&gt;    debug, .parent.frame = .parent.frame)&quot; ) 
#&gt; Time used:
#&gt;     Pre = 0.108, Running = 0.241, Post = 0.0208, Total = 0.369 
#&gt; Fixed effects:
#&gt;               mean    sd 0.025quant 0.5quant 0.975quant   mode kld
#&gt; (Intercept) -0.480 0.002     -0.484   -0.480     -0.476 -0.480   0
#&gt; Xk1          0.964 0.009      0.947    0.964      0.981  0.964   0
#&gt; Xk2         -0.007 0.008     -0.023   -0.007      0.009 -0.007   0
#&gt; 
#&gt; Model hyperparameters:
#&gt;                                            mean    sd 0.025quant 0.5quant 0.975quant    mode
#&gt; Precision for the Gaussian observations 2053.27 83.86    1892.25  2052.14    2220.88 2049.86
#&gt; 
#&gt; Marginal log-Likelihood:  2845.28 
#&gt;  is computed 
#&gt; Posterior summaries for the linear predictor and the fitted values are computed
#&gt; (Posterior marginals needs also &#39;control.compute=list(return.marginals.predictor=TRUE)&#39;)
#&gt; 
#&gt; 
#&gt; [[10]]
#&gt; 
#&gt; Call:
#&gt;    c(&quot;inla.core(formula = formula, family = family, contrasts = contrasts, &quot;, &quot; data = data, 
#&gt;    quantiles = quantiles, E = E, offset = offset, &quot;, &quot; scale = scale, weights = weights, 
#&gt;    Ntrials = Ntrials, strata = strata, &quot;, &quot; lp.scale = lp.scale, link.covariates = 
#&gt;    link.covariates, verbose = verbose, &quot;, &quot; lincomb = lincomb, selection = selection, 
#&gt;    control.compute = control.compute, &quot;, &quot; control.predictor = control.predictor, 
#&gt;    control.family = control.family, &quot;, &quot; control.inla = control.inla, control.fixed = 
#&gt;    control.fixed, &quot;, &quot; control.mode = control.mode, control.expert = control.expert, &quot;, &quot; 
#&gt;    control.hazard = control.hazard, control.lincomb = control.lincomb, &quot;, &quot; control.update = 
#&gt;    control.update, control.lp.scale = control.lp.scale, &quot;, &quot; control.pardiso = 
#&gt;    control.pardiso, only.hyperparam = only.hyperparam, &quot;, &quot; inla.call = inla.call, inla.arg 
#&gt;    = inla.arg, num.threads = num.threads, &quot;, &quot; keep = keep, working.directory = 
#&gt;    working.directory, silent = silent, &quot;, &quot; inla.mode = inla.mode, safe = FALSE, debug = 
#&gt;    debug, .parent.frame = .parent.frame)&quot; ) 
#&gt; Time used:
#&gt;     Pre = 0.111, Running = 0.239, Post = 0.0199, Total = 0.369 
#&gt; Fixed effects:
#&gt;               mean    sd 0.025quant 0.5quant 0.975quant   mode kld
#&gt; (Intercept)  0.498 0.010      0.478    0.498      0.517  0.498   0
#&gt; Xk1         -0.977 0.046     -1.066   -0.977     -0.887 -0.977   0
#&gt; Xk2         -0.032 0.044     -0.118   -0.032      0.055 -0.032   0
#&gt; 
#&gt; Model hyperparameters:
#&gt;                                          mean   sd 0.025quant 0.5quant 0.975quant  mode
#&gt; Precision for the Gaussian observations 99.06 4.67      90.12    98.99     108.42 98.84
#&gt; 
#&gt; Marginal log-Likelihood:  764.81 
#&gt;  is computed 
#&gt; Posterior summaries for the linear predictor and the fitted values are computed
#&gt; (Posterior marginals needs also &#39;control.compute=list(return.marginals.predictor=TRUE)&#39;)</code></pre>
<pre class="r"><code>ydf = setNames(as.data.frame(tdata$eta), 1:nrow(domain)) |&gt;
    mutate(time = tdata$time) |&gt;
    tidyr::pivot_longer(1:100, names_to = &quot;region&quot;, names_transform = as.numeric) |&gt;
    mutate(cluster = mod_normal$cluster[niter,][region])

preddf = do.call(cbind, lapply(1:nclusters, function(x) mods[[x]]$summary.fitted.values$mean[1:100])) |&gt;
    as.data.frame() |&gt;
    setNames(1:nclusters) |&gt;
    mutate(time = tdata$time) |&gt;
    tidyr::pivot_longer(1:nclusters, names_to = &quot;cluster&quot;, names_transform = as.numeric) |&gt;
    mutate(cluster = factor(cluster))</code></pre>
<pre><code>#&gt; Warning: Using an external vector in selections was deprecated in tidyselect 1.1.0.
#&gt; ℹ Please use `all_of()` or `any_of()` instead.
#&gt;   # Was:
#&gt;   data %&gt;% select(nclusters)
#&gt; 
#&gt;   # Now:
#&gt;   data %&gt;% select(all_of(nclusters))
#&gt; 
#&gt; See &lt;https://tidyselect.r-lib.org/reference/faq-external-vector.html&gt;.
#&gt; This warning is displayed once every 8 hours.
#&gt; Call `lifecycle::last_lifecycle_warnings()` to see where this warning was generated.</code></pre>
<pre class="r"><code>    # mutate(cluster = factor(cluster, levels = as.numeric(matrix(1:10, nrow = 2, byrow = TRUE))))

mutate(ydf, cluster = factor(cluster)) |&gt;
    ggplot() +
    geom_line(aes(x = time, y = value, group = region), color = &quot;gray&quot;, linewidth = 0.5) +
    geom_line(aes(x = time, y = value), preddf, color = &quot;red&quot;, linewidth = 0.6,
    linetype = 2) +
    facet_wrap(~ cluster, ncol = 2) +
    theme_bw() +
    theme(legend.position = &quot;none&quot;, legend.text = element_text(size = 7)) +
    labs(title = &quot;Number of cases by cluster per region&quot;, color = &quot;Cluster&quot;,
    y = &quot;Number of cases&quot;, x = &quot;Time&quot;)</code></pre>
<p><img src="/spatial-functional-clustering/50-simulate/66-result-bsfc-fuzzy-glm_files/figure-html/unnamed-chunk-6-1.png" width="672" style="display: block; margin: auto;" /></p>
</div>
</div>
<div id="poisson-results" class="section level2">
<h2>Poisson results</h2>
<div id="diagnostic-1" class="section level3">
<h3>Diagnostic</h3>
<pre class="r"><code>data.frame(id = 1:length(mod_poisson$log_mlike), log_mlike = mod_poisson$log_mlike) |&gt;
    ggplot() +
        geom_line(aes(id, log_mlike)) +
        labs(x = &quot;iteration&quot;, y = &quot;log marginal likelihood&quot;)</code></pre>
<p><img src="/spatial-functional-clustering/50-simulate/66-result-bsfc-fuzzy-glm_files/figure-html/unnamed-chunk-7-1.png" width="672" style="display: block; margin: auto;" /></p>
<pre class="r"><code>niter = nrow(mod_poisson$cluster)
cluster_out = mod_poisson$cluster
fields::image.plot(1:ncol(cluster_out), 1:nrow(cluster_out), t(cluster_out),
    xlab = &quot;Region&quot;, ylab = &quot;Iteration&quot;)</code></pre>
<p><img src="/spatial-functional-clustering/50-simulate/66-result-bsfc-fuzzy-glm_files/figure-html/unnamed-chunk-8-1.png" width="672" style="display: block; margin: auto;" /></p>
<pre class="r"><code>cluster_out = mod_normal$cluster[(niter-1000):niter,]
fields::image.plot(1:ncol(cluster_out), 1:nrow(cluster_out), t(cluster_out),
    xlab = &quot;Region&quot;, ylab = &quot;Iteration&quot;)</code></pre>
<p><img src="/spatial-functional-clustering/50-simulate/66-result-bsfc-fuzzy-glm_files/figure-html/unnamed-chunk-8-2.png" width="672" style="display: block; margin: auto;" /></p>
<pre class="r"><code>table(domain$cluster, mod_poisson$cluster[niter,])</code></pre>
<pre><code>#&gt;     
#&gt;       1  2  3  4  5  6  7  8  9 10
#&gt;   1  26  0  0  0  0  1  0  0  0  0
#&gt;   2   0  9  0  0  0  0  0  0  0  0
#&gt;   3   1  0  0  0  0 11  0  0  0  0
#&gt;   4   0  0  9  0  0  0  0  0  0  0
#&gt;   5   0  0  0  0  0  0  6  0  0  0
#&gt;   6   0  0  0  3  0  0  0  0  0  0
#&gt;   7   0  0  0  0  0  0  0  0 11  0
#&gt;   8   0  0  0  0  0  0  0  0  0  1
#&gt;   9   0  0  0  0  0  0  0 20  0  0
#&gt;   10  0  0  0  0  2  0  0  0  0  0</code></pre>
<pre class="r"><code>nclusters = length(unique(mod_poisson$cluster[niter,]))</code></pre>
</div>
<div id="prediction-1" class="section level3">
<h3>Prediction</h3>
<pre class="r"><code>k = max(mod_poisson$cluster[niter,])
mods = lapply(1:k, log_mlik_each, tdata$Y, mod_poisson$cluster[niter,], tdata$X, domain$population,
    formula = Yk ~ 1 + Xk + f(id, model = &#39;iid&#39;), family = &quot;poisson&quot;,
    correction = FALSE, detailed = TRUE)

map(mods, summary)</code></pre>
<pre><code>#&gt; [[1]]
#&gt; 
#&gt; Call:
#&gt;    c(&quot;inla.core(formula = formula, family = family, contrasts = contrasts, &quot;, &quot; data = data, 
#&gt;    quantiles = quantiles, E = E, offset = offset, &quot;, &quot; scale = scale, weights = weights, 
#&gt;    Ntrials = Ntrials, strata = strata, &quot;, &quot; lp.scale = lp.scale, link.covariates = 
#&gt;    link.covariates, verbose = verbose, &quot;, &quot; lincomb = lincomb, selection = selection, 
#&gt;    control.compute = control.compute, &quot;, &quot; control.predictor = control.predictor, 
#&gt;    control.family = control.family, &quot;, &quot; control.inla = control.inla, control.fixed = 
#&gt;    control.fixed, &quot;, &quot; control.mode = control.mode, control.expert = control.expert, &quot;, &quot; 
#&gt;    control.hazard = control.hazard, control.lincomb = control.lincomb, &quot;, &quot; control.update = 
#&gt;    control.update, control.lp.scale = control.lp.scale, &quot;, &quot; control.pardiso = 
#&gt;    control.pardiso, only.hyperparam = only.hyperparam, &quot;, &quot; inla.call = inla.call, inla.arg 
#&gt;    = inla.arg, num.threads = num.threads, &quot;, &quot; keep = keep, working.directory = 
#&gt;    working.directory, silent = silent, &quot;, &quot; inla.mode = inla.mode, safe = FALSE, debug = 
#&gt;    debug, .parent.frame = .parent.frame)&quot; ) 
#&gt; Time used:
#&gt;     Pre = 0.129, Running = 0.389, Post = 0.338, Total = 0.857 
#&gt; Fixed effects:
#&gt;               mean    sd 0.025quant 0.5quant 0.975quant   mode kld
#&gt; (Intercept) -0.499 0.001     -0.502   -0.499     -0.496 -0.499   0
#&gt; Xk1          0.995 0.007      0.983    0.995      1.008  0.995   0
#&gt; Xk2          0.004 0.006     -0.009    0.004      0.016  0.004   0
#&gt; 
#&gt; Random effects:
#&gt;   Name     Model
#&gt;     id IID model
#&gt; 
#&gt; Model hyperparameters:
#&gt;                     mean    sd 0.025quant 0.5quant 0.975quant    mode
#&gt; Precision for id 1729.62 50.72    1631.85  1729.06    1830.64 1727.93
#&gt; 
#&gt; Marginal log-Likelihood:  -21165.28 
#&gt;  is computed 
#&gt; Posterior summaries for the linear predictor and the fitted values are computed
#&gt; (Posterior marginals needs also &#39;control.compute=list(return.marginals.predictor=TRUE)&#39;)
#&gt; 
#&gt; 
#&gt; [[2]]
#&gt; 
#&gt; Call:
#&gt;    c(&quot;inla.core(formula = formula, family = family, contrasts = contrasts, &quot;, &quot; data = data, 
#&gt;    quantiles = quantiles, E = E, offset = offset, &quot;, &quot; scale = scale, weights = weights, 
#&gt;    Ntrials = Ntrials, strata = strata, &quot;, &quot; lp.scale = lp.scale, link.covariates = 
#&gt;    link.covariates, verbose = verbose, &quot;, &quot; lincomb = lincomb, selection = selection, 
#&gt;    control.compute = control.compute, &quot;, &quot; control.predictor = control.predictor, 
#&gt;    control.family = control.family, &quot;, &quot; control.inla = control.inla, control.fixed = 
#&gt;    control.fixed, &quot;, &quot; control.mode = control.mode, control.expert = control.expert, &quot;, &quot; 
#&gt;    control.hazard = control.hazard, control.lincomb = control.lincomb, &quot;, &quot; control.update = 
#&gt;    control.update, control.lp.scale = control.lp.scale, &quot;, &quot; control.pardiso = 
#&gt;    control.pardiso, only.hyperparam = only.hyperparam, &quot;, &quot; inla.call = inla.call, inla.arg 
#&gt;    = inla.arg, num.threads = num.threads, &quot;, &quot; keep = keep, working.directory = 
#&gt;    working.directory, silent = silent, &quot;, &quot; inla.mode = inla.mode, safe = FALSE, debug = 
#&gt;    debug, .parent.frame = .parent.frame)&quot; ) 
#&gt; Time used:
#&gt;     Pre = 0.109, Running = 0.242, Post = 0.0418, Total = 0.393 
#&gt; Fixed effects:
#&gt;               mean    sd 0.025quant 0.5quant 0.975quant   mode kld
#&gt; (Intercept)  0.498 0.010      0.479    0.498      0.518  0.498   0
#&gt; Xk1         -0.979 0.046     -1.069   -0.979     -0.889 -0.979   0
#&gt; Xk2         -0.030 0.044     -0.117   -0.030      0.057 -0.030   0
#&gt; 
#&gt; Random effects:
#&gt;   Name     Model
#&gt;     id IID model
#&gt; 
#&gt; Model hyperparameters:
#&gt;                   mean   sd 0.025quant 0.5quant 0.975quant  mode
#&gt; Precision for id 99.04 4.69      90.06    98.97     108.45 98.81
#&gt; 
#&gt; Marginal log-Likelihood:  -8212.25 
#&gt;  is computed 
#&gt; Posterior summaries for the linear predictor and the fitted values are computed
#&gt; (Posterior marginals needs also &#39;control.compute=list(return.marginals.predictor=TRUE)&#39;)
#&gt; 
#&gt; 
#&gt; [[3]]
#&gt; 
#&gt; Call:
#&gt;    c(&quot;inla.core(formula = formula, family = family, contrasts = contrasts, &quot;, &quot; data = data, 
#&gt;    quantiles = quantiles, E = E, offset = offset, &quot;, &quot; scale = scale, weights = weights, 
#&gt;    Ntrials = Ntrials, strata = strata, &quot;, &quot; lp.scale = lp.scale, link.covariates = 
#&gt;    link.covariates, verbose = verbose, &quot;, &quot; lincomb = lincomb, selection = selection, 
#&gt;    control.compute = control.compute, &quot;, &quot; control.predictor = control.predictor, 
#&gt;    control.family = control.family, &quot;, &quot; control.inla = control.inla, control.fixed = 
#&gt;    control.fixed, &quot;, &quot; control.mode = control.mode, control.expert = control.expert, &quot;, &quot; 
#&gt;    control.hazard = control.hazard, control.lincomb = control.lincomb, &quot;, &quot; control.update = 
#&gt;    control.update, control.lp.scale = control.lp.scale, &quot;, &quot; control.pardiso = 
#&gt;    control.pardiso, only.hyperparam = only.hyperparam, &quot;, &quot; inla.call = inla.call, inla.arg 
#&gt;    = inla.arg, num.threads = num.threads, &quot;, &quot; keep = keep, working.directory = 
#&gt;    working.directory, silent = silent, &quot;, &quot; inla.mode = inla.mode, safe = FALSE, debug = 
#&gt;    debug, .parent.frame = .parent.frame)&quot; ) 
#&gt; Time used:
#&gt;     Pre = 0.114, Running = 0.257, Post = 0.0409, Total = 0.412 
#&gt; Fixed effects:
#&gt;               mean    sd 0.025quant 0.5quant 0.975quant   mode kld
#&gt; (Intercept)  0.489 0.010      0.470    0.489      0.508  0.489   0
#&gt; Xk1         -2.961 0.045     -3.050   -2.961     -2.873 -2.961   0
#&gt; Xk2          2.962 0.044      2.877    2.962      3.048  2.962   0
#&gt; 
#&gt; Random effects:
#&gt;   Name     Model
#&gt;     id IID model
#&gt; 
#&gt; Model hyperparameters:
#&gt;                    mean   sd 0.025quant 0.5quant 0.975quant   mode
#&gt; Precision for id 100.75 4.77      91.62   100.67     110.31 100.52
#&gt; 
#&gt; Marginal log-Likelihood:  -8417.36 
#&gt;  is computed 
#&gt; Posterior summaries for the linear predictor and the fitted values are computed
#&gt; (Posterior marginals needs also &#39;control.compute=list(return.marginals.predictor=TRUE)&#39;)
#&gt; 
#&gt; 
#&gt; [[4]]
#&gt; 
#&gt; Call:
#&gt;    c(&quot;inla.core(formula = formula, family = family, contrasts = contrasts, &quot;, &quot; data = data, 
#&gt;    quantiles = quantiles, E = E, offset = offset, &quot;, &quot; scale = scale, weights = weights, 
#&gt;    Ntrials = Ntrials, strata = strata, &quot;, &quot; lp.scale = lp.scale, link.covariates = 
#&gt;    link.covariates, verbose = verbose, &quot;, &quot; lincomb = lincomb, selection = selection, 
#&gt;    control.compute = control.compute, &quot;, &quot; control.predictor = control.predictor, 
#&gt;    control.family = control.family, &quot;, &quot; control.inla = control.inla, control.fixed = 
#&gt;    control.fixed, &quot;, &quot; control.mode = control.mode, control.expert = control.expert, &quot;, &quot; 
#&gt;    control.hazard = control.hazard, control.lincomb = control.lincomb, &quot;, &quot; control.update = 
#&gt;    control.update, control.lp.scale = control.lp.scale, &quot;, &quot; control.pardiso = 
#&gt;    control.pardiso, only.hyperparam = only.hyperparam, &quot;, &quot; inla.call = inla.call, inla.arg 
#&gt;    = inla.arg, num.threads = num.threads, &quot;, &quot; keep = keep, working.directory = 
#&gt;    working.directory, silent = silent, &quot;, &quot; inla.mode = inla.mode, safe = FALSE, debug = 
#&gt;    debug, .parent.frame = .parent.frame)&quot; ) 
#&gt; Time used:
#&gt;     Pre = 0.133, Running = 0.24, Post = 0.0258, Total = 0.398 
#&gt; Fixed effects:
#&gt;               mean    sd 0.025quant 0.5quant 0.975quant   mode kld
#&gt; (Intercept) -0.002 0.002     -0.005   -0.002      0.002 -0.002   0
#&gt; Xk1          0.005 0.009     -0.012    0.005      0.023  0.005   0
#&gt; Xk2         -0.002 0.009     -0.018   -0.002      0.015 -0.002   0
#&gt; 
#&gt; Random effects:
#&gt;   Name     Model
#&gt;     id IID model
#&gt; 
#&gt; Model hyperparameters:
#&gt;                      mean      sd 0.025quant 0.5quant 0.975quant     mode
#&gt; Precision for id 11341.59 1337.88    8959.56 11258.46   14195.86 11095.61
#&gt; 
#&gt; Marginal log-Likelihood:  -2158.92 
#&gt;  is computed 
#&gt; Posterior summaries for the linear predictor and the fitted values are computed
#&gt; (Posterior marginals needs also &#39;control.compute=list(return.marginals.predictor=TRUE)&#39;)
#&gt; 
#&gt; 
#&gt; [[5]]
#&gt; 
#&gt; Call:
#&gt;    c(&quot;inla.core(formula = formula, family = family, contrasts = contrasts, &quot;, &quot; data = data, 
#&gt;    quantiles = quantiles, E = E, offset = offset, &quot;, &quot; scale = scale, weights = weights, 
#&gt;    Ntrials = Ntrials, strata = strata, &quot;, &quot; lp.scale = lp.scale, link.covariates = 
#&gt;    link.covariates, verbose = verbose, &quot;, &quot; lincomb = lincomb, selection = selection, 
#&gt;    control.compute = control.compute, &quot;, &quot; control.predictor = control.predictor, 
#&gt;    control.family = control.family, &quot;, &quot; control.inla = control.inla, control.fixed = 
#&gt;    control.fixed, &quot;, &quot; control.mode = control.mode, control.expert = control.expert, &quot;, &quot; 
#&gt;    control.hazard = control.hazard, control.lincomb = control.lincomb, &quot;, &quot; control.update = 
#&gt;    control.update, control.lp.scale = control.lp.scale, &quot;, &quot; control.pardiso = 
#&gt;    control.pardiso, only.hyperparam = only.hyperparam, &quot;, &quot; inla.call = inla.call, inla.arg 
#&gt;    = inla.arg, num.threads = num.threads, &quot;, &quot; keep = keep, working.directory = 
#&gt;    working.directory, silent = silent, &quot;, &quot; inla.mode = inla.mode, safe = FALSE, debug = 
#&gt;    debug, .parent.frame = .parent.frame)&quot; ) 
#&gt; Time used:
#&gt;     Pre = 0.113, Running = 0.206, Post = 0.0233, Total = 0.343 
#&gt; Fixed effects:
#&gt;               mean    sd 0.025quant 0.5quant 0.975quant   mode kld
#&gt; (Intercept) -0.497 0.002     -0.502   -0.497     -0.493 -0.497   0
#&gt; Xk1          3.012 0.011      2.991    3.012      3.033  3.012   0
#&gt; Xk2         -3.011 0.010     -3.032   -3.011     -2.991 -3.011   0
#&gt; 
#&gt; Random effects:
#&gt;   Name     Model
#&gt;     id IID model
#&gt; 
#&gt; Model hyperparameters:
#&gt;                      mean      sd 0.025quant 0.5quant 0.975quant     mode
#&gt; Precision for id 10800.29 1375.82    8340.10 10718.92   13724.67 10558.42
#&gt; 
#&gt; Marginal log-Likelihood:  -1508.23 
#&gt;  is computed 
#&gt; Posterior summaries for the linear predictor and the fitted values are computed
#&gt; (Posterior marginals needs also &#39;control.compute=list(return.marginals.predictor=TRUE)&#39;)
#&gt; 
#&gt; 
#&gt; [[6]]
#&gt; 
#&gt; Call:
#&gt;    c(&quot;inla.core(formula = formula, family = family, contrasts = contrasts, &quot;, &quot; data = data, 
#&gt;    quantiles = quantiles, E = E, offset = offset, &quot;, &quot; scale = scale, weights = weights, 
#&gt;    Ntrials = Ntrials, strata = strata, &quot;, &quot; lp.scale = lp.scale, link.covariates = 
#&gt;    link.covariates, verbose = verbose, &quot;, &quot; lincomb = lincomb, selection = selection, 
#&gt;    control.compute = control.compute, &quot;, &quot; control.predictor = control.predictor, 
#&gt;    control.family = control.family, &quot;, &quot; control.inla = control.inla, control.fixed = 
#&gt;    control.fixed, &quot;, &quot; control.mode = control.mode, control.expert = control.expert, &quot;, &quot; 
#&gt;    control.hazard = control.hazard, control.lincomb = control.lincomb, &quot;, &quot; control.update = 
#&gt;    control.update, control.lp.scale = control.lp.scale, &quot;, &quot; control.pardiso = 
#&gt;    control.pardiso, only.hyperparam = only.hyperparam, &quot;, &quot; inla.call = inla.call, inla.arg 
#&gt;    = inla.arg, num.threads = num.threads, &quot;, &quot; keep = keep, working.directory = 
#&gt;    working.directory, silent = silent, &quot;, &quot; inla.mode = inla.mode, safe = FALSE, debug = 
#&gt;    debug, .parent.frame = .parent.frame)&quot; ) 
#&gt; Time used:
#&gt;     Pre = 0.148, Running = 0.316, Post = 0.0637, Total = 0.528 
#&gt; Fixed effects:
#&gt;               mean    sd 0.025quant 0.5quant 0.975quant   mode kld
#&gt; (Intercept) -0.479 0.002     -0.483   -0.479     -0.475 -0.479   0
#&gt; Xk1          0.961 0.009      0.943    0.961      0.979  0.961   0
#&gt; Xk2         -0.006 0.009     -0.023   -0.006      0.012 -0.006   0
#&gt; 
#&gt; Random effects:
#&gt;   Name     Model
#&gt;     id IID model
#&gt; 
#&gt; Model hyperparameters:
#&gt;                     mean    sd 0.025quant 0.5quant 0.975quant    mode
#&gt; Precision for id 2019.67 90.86    1846.25  2018.07    2202.30 2014.87
#&gt; 
#&gt; Marginal log-Likelihood:  -9180.82 
#&gt;  is computed 
#&gt; Posterior summaries for the linear predictor and the fitted values are computed
#&gt; (Posterior marginals needs also &#39;control.compute=list(return.marginals.predictor=TRUE)&#39;)
#&gt; 
#&gt; 
#&gt; [[7]]
#&gt; 
#&gt; Call:
#&gt;    c(&quot;inla.core(formula = formula, family = family, contrasts = contrasts, &quot;, &quot; data = data, 
#&gt;    quantiles = quantiles, E = E, offset = offset, &quot;, &quot; scale = scale, weights = weights, 
#&gt;    Ntrials = Ntrials, strata = strata, &quot;, &quot; lp.scale = lp.scale, link.covariates = 
#&gt;    link.covariates, verbose = verbose, &quot;, &quot; lincomb = lincomb, selection = selection, 
#&gt;    control.compute = control.compute, &quot;, &quot; control.predictor = control.predictor, 
#&gt;    control.family = control.family, &quot;, &quot; control.inla = control.inla, control.fixed = 
#&gt;    control.fixed, &quot;, &quot; control.mode = control.mode, control.expert = control.expert, &quot;, &quot; 
#&gt;    control.hazard = control.hazard, control.lincomb = control.lincomb, &quot;, &quot; control.update = 
#&gt;    control.update, control.lp.scale = control.lp.scale, &quot;, &quot; control.pardiso = 
#&gt;    control.pardiso, only.hyperparam = only.hyperparam, &quot;, &quot; inla.call = inla.call, inla.arg 
#&gt;    = inla.arg, num.threads = num.threads, &quot;, &quot; keep = keep, working.directory = 
#&gt;    working.directory, silent = silent, &quot;, &quot; inla.mode = inla.mode, safe = FALSE, debug = 
#&gt;    debug, .parent.frame = .parent.frame)&quot; ) 
#&gt; Time used:
#&gt;     Pre = 0.128, Running = 0.226, Post = 0.0345, Total = 0.388 
#&gt; Fixed effects:
#&gt;               mean    sd 0.025quant 0.5quant 0.975quant   mode kld
#&gt; (Intercept) -0.492 0.005     -0.501   -0.492     -0.483 -0.492   0
#&gt; Xk1          3.001 0.022      2.959    3.001      3.043  3.001   0
#&gt; Xk2         -3.009 0.021     -3.050   -3.009     -2.968 -3.009   0
#&gt; 
#&gt; Random effects:
#&gt;   Name     Model
#&gt;     id IID model
#&gt; 
#&gt; Model hyperparameters:
#&gt;                    mean    sd 0.025quant 0.5quant 0.975quant   mode
#&gt; Precision for id 686.93 40.81     609.42   686.08     769.34 684.38
#&gt; 
#&gt; Marginal log-Likelihood:  -4997.07 
#&gt;  is computed 
#&gt; Posterior summaries for the linear predictor and the fitted values are computed
#&gt; (Posterior marginals needs also &#39;control.compute=list(return.marginals.predictor=TRUE)&#39;)
#&gt; 
#&gt; 
#&gt; [[8]]
#&gt; 
#&gt; Call:
#&gt;    c(&quot;inla.core(formula = formula, family = family, contrasts = contrasts, &quot;, &quot; data = data, 
#&gt;    quantiles = quantiles, E = E, offset = offset, &quot;, &quot; scale = scale, weights = weights, 
#&gt;    Ntrials = Ntrials, strata = strata, &quot;, &quot; lp.scale = lp.scale, link.covariates = 
#&gt;    link.covariates, verbose = verbose, &quot;, &quot; lincomb = lincomb, selection = selection, 
#&gt;    control.compute = control.compute, &quot;, &quot; control.predictor = control.predictor, 
#&gt;    control.family = control.family, &quot;, &quot; control.inla = control.inla, control.fixed = 
#&gt;    control.fixed, &quot;, &quot; control.mode = control.mode, control.expert = control.expert, &quot;, &quot; 
#&gt;    control.hazard = control.hazard, control.lincomb = control.lincomb, &quot;, &quot; control.update = 
#&gt;    control.update, control.lp.scale = control.lp.scale, &quot;, &quot; control.pardiso = 
#&gt;    control.pardiso, only.hyperparam = only.hyperparam, &quot;, &quot; inla.call = inla.call, inla.arg 
#&gt;    = inla.arg, num.threads = num.threads, &quot;, &quot; keep = keep, working.directory = 
#&gt;    working.directory, silent = silent, &quot;, &quot; inla.mode = inla.mode, safe = FALSE, debug = 
#&gt;    debug, .parent.frame = .parent.frame)&quot; ) 
#&gt; Time used:
#&gt;     Pre = 0.115, Running = 0.37, Post = 0.0855, Total = 0.571 
#&gt; Fixed effects:
#&gt;               mean    sd 0.025quant 0.5quant 0.975quant   mode kld
#&gt; (Intercept)  0.495 0.002      0.491    0.495      0.498  0.495   0
#&gt; Xk1         -3.000 0.008     -3.016   -3.000     -2.984 -3.000   0
#&gt; Xk2          2.997 0.008      2.982    2.997      3.013  2.997   0
#&gt; 
#&gt; Random effects:
#&gt;   Name     Model
#&gt;     id IID model
#&gt; 
#&gt; Model hyperparameters:
#&gt;                     mean    sd 0.025quant 0.5quant 0.975quant    mode
#&gt; Precision for id 1529.09 52.25    1428.67  1528.41    1633.43 1527.05
#&gt; 
#&gt; Marginal log-Likelihood:  -15431.69 
#&gt;  is computed 
#&gt; Posterior summaries for the linear predictor and the fitted values are computed
#&gt; (Posterior marginals needs also &#39;control.compute=list(return.marginals.predictor=TRUE)&#39;)
#&gt; 
#&gt; 
#&gt; [[9]]
#&gt; 
#&gt; Call:
#&gt;    c(&quot;inla.core(formula = formula, family = family, contrasts = contrasts, &quot;, &quot; data = data, 
#&gt;    quantiles = quantiles, E = E, offset = offset, &quot;, &quot; scale = scale, weights = weights, 
#&gt;    Ntrials = Ntrials, strata = strata, &quot;, &quot; lp.scale = lp.scale, link.covariates = 
#&gt;    link.covariates, verbose = verbose, &quot;, &quot; lincomb = lincomb, selection = selection, 
#&gt;    control.compute = control.compute, &quot;, &quot; control.predictor = control.predictor, 
#&gt;    control.family = control.family, &quot;, &quot; control.inla = control.inla, control.fixed = 
#&gt;    control.fixed, &quot;, &quot; control.mode = control.mode, control.expert = control.expert, &quot;, &quot; 
#&gt;    control.hazard = control.hazard, control.lincomb = control.lincomb, &quot;, &quot; control.update = 
#&gt;    control.update, control.lp.scale = control.lp.scale, &quot;, &quot; control.pardiso = 
#&gt;    control.pardiso, only.hyperparam = only.hyperparam, &quot;, &quot; inla.call = inla.call, inla.arg 
#&gt;    = inla.arg, num.threads = num.threads, &quot;, &quot; keep = keep, working.directory = 
#&gt;    working.directory, silent = silent, &quot;, &quot; inla.mode = inla.mode, safe = FALSE, debug = 
#&gt;    debug, .parent.frame = .parent.frame)&quot; ) 
#&gt; Time used:
#&gt;     Pre = 0.114, Running = 0.326, Post = 0.0478, Total = 0.488 
#&gt; Fixed effects:
#&gt;               mean    sd 0.025quant 0.5quant 0.975quant   mode kld
#&gt; (Intercept)  0.500 0.002      0.496    0.500      0.505  0.500   0
#&gt; Xk1         -1.004 0.011     -1.025   -1.004     -0.983 -1.004   0
#&gt; Xk2          0.007 0.010     -0.014    0.007      0.027  0.007   0
#&gt; 
#&gt; Random effects:
#&gt;   Name     Model
#&gt;     id IID model
#&gt; 
#&gt; Model hyperparameters:
#&gt;                     mean    sd 0.025quant 0.5quant 0.975quant    mode
#&gt; Precision for id 1590.20 73.14    1450.58  1588.93    1737.17 1586.38
#&gt; 
#&gt; Marginal log-Likelihood:  -8561.63 
#&gt;  is computed 
#&gt; Posterior summaries for the linear predictor and the fitted values are computed
#&gt; (Posterior marginals needs also &#39;control.compute=list(return.marginals.predictor=TRUE)&#39;)
#&gt; 
#&gt; 
#&gt; [[10]]
#&gt; 
#&gt; Call:
#&gt;    c(&quot;inla.core(formula = formula, family = family, contrasts = contrasts, &quot;, &quot; data = data, 
#&gt;    quantiles = quantiles, E = E, offset = offset, &quot;, &quot; scale = scale, weights = weights, 
#&gt;    Ntrials = Ntrials, strata = strata, &quot;, &quot; lp.scale = lp.scale, link.covariates = 
#&gt;    link.covariates, verbose = verbose, &quot;, &quot; lincomb = lincomb, selection = selection, 
#&gt;    control.compute = control.compute, &quot;, &quot; control.predictor = control.predictor, 
#&gt;    control.family = control.family, &quot;, &quot; control.inla = control.inla, control.fixed = 
#&gt;    control.fixed, &quot;, &quot; control.mode = control.mode, control.expert = control.expert, &quot;, &quot; 
#&gt;    control.hazard = control.hazard, control.lincomb = control.lincomb, &quot;, &quot; control.update = 
#&gt;    control.update, control.lp.scale = control.lp.scale, &quot;, &quot; control.pardiso = 
#&gt;    control.pardiso, only.hyperparam = only.hyperparam, &quot;, &quot; inla.call = inla.call, inla.arg 
#&gt;    = inla.arg, num.threads = num.threads, &quot;, &quot; keep = keep, working.directory = 
#&gt;    working.directory, silent = silent, &quot;, &quot; inla.mode = inla.mode, safe = FALSE, debug = 
#&gt;    debug, .parent.frame = .parent.frame)&quot; ) 
#&gt; Time used:
#&gt;     Pre = 0.118, Running = 0.205, Post = 0.0227, Total = 0.346 
#&gt; Fixed effects:
#&gt;               mean    sd 0.025quant 0.5quant 0.975quant   mode kld
#&gt; (Intercept)  0.002 0.004     -0.006    0.002      0.010  0.002   0
#&gt; Xk1         -0.012 0.018     -0.049   -0.012      0.024 -0.012   0
#&gt; Xk2          0.015 0.018     -0.020    0.015      0.050  0.015   0
#&gt; 
#&gt; Random effects:
#&gt;   Name     Model
#&gt;     id IID model
#&gt; 
#&gt; Model hyperparameters:
#&gt;                     mean      sd 0.025quant 0.5quant 0.975quant    mode
#&gt; Precision for id 8292.09 1778.76    5395.35  8092.58   12327.63 7721.55
#&gt; 
#&gt; Marginal log-Likelihood:  -710.08 
#&gt;  is computed 
#&gt; Posterior summaries for the linear predictor and the fitted values are computed
#&gt; (Posterior marginals needs also &#39;control.compute=list(return.marginals.predictor=TRUE)&#39;)</code></pre>
<pre class="r"><code>ydf = setNames(as.data.frame(tdata$Y / rep(domain$population, each = 100)), 1:nrow(domain)) |&gt;
    mutate(time = tdata$time) |&gt;
    tidyr::pivot_longer(1:100, names_to = &quot;region&quot;, names_transform = as.numeric) |&gt;
    mutate(cluster = mod_poisson$cluster[niter,][region])

cluster2 = rep(1:k, table(mod_poisson$cluster[niter,]))

preddf = map(1:nclusters, function(x) mods[[x]]$summary.fitted.values$mean / exp(mods[[x]]$summary.random[[1]]$mean)) %&gt;%
    map(~ matrix(., nrow = 100)) %&gt;%
    do.call(cbind, .) |&gt;
    as.data.frame() |&gt;
    setNames(1:100) |&gt;
    mutate(time = tdata$time) |&gt;
    tidyr::pivot_longer(1:100, names_to = &quot;newregion&quot;, names_transform = as.numeric) |&gt;
    mutate(cluster = factor(cluster2[newregion]))

mutate(ydf, cluster = factor(cluster)) |&gt;
    ggplot() +
    geom_line(aes(x = time, y = value, group = region), color = &quot;gray&quot;, linewidth = 0.5) +
    geom_line(aes(x = time, y = value, group = newregion), preddf, color = &quot;red&quot;, linewidth = 0.6,
    linetype = 2) +
    facet_wrap(~ cluster, ncol = 2) +
    theme_bw() +
    theme(legend.position = &quot;none&quot;, legend.text = element_text(size = 7)) +
    labs(title = &quot;Number of cases by cluster per region&quot;, color = &quot;Cluster&quot;,
    y = &quot;Number of cases&quot;, x = &quot;Time&quot;)</code></pre>
<p><img src="/spatial-functional-clustering/50-simulate/66-result-bsfc-fuzzy-glm_files/figure-html/unnamed-chunk-10-1.png" width="672" style="display: block; margin: auto;" /></p>
<pre class="r"><code>preddf = map(1:nclusters, function(x) mods[[x]]$summary.fitted.values$mean) %&gt;%
    map(~ matrix(., nrow = 100)) %&gt;%
    do.call(cbind, .) |&gt;
    as.data.frame() |&gt;
    setNames(1:100) |&gt;
    mutate(time = tdata$time) |&gt;
    tidyr::pivot_longer(1:100, names_to = &quot;newregion&quot;, names_transform = as.numeric) |&gt;
    mutate(cluster = factor(cluster2[newregion]))

mutate(ydf, cluster = factor(cluster)) |&gt;
    ggplot() +
    geom_line(aes(x = time, y = value, group = region), color = &quot;gray&quot;, linewidth = 0.5) +
    geom_line(aes(x = time, y = value, group = newregion), preddf, color = &quot;red&quot;, linewidth = 0.6,
    linetype = 2) +
    facet_wrap(~ cluster, ncol = 2) +
    theme_bw() +
    theme(legend.position = &quot;none&quot;, legend.text = element_text(size = 7)) +
    labs(title = &quot;Number of cases by cluster per region&quot;, color = &quot;Cluster&quot;,
    y = &quot;Number of cases&quot;, x = &quot;Time&quot;)</code></pre>
<p><img src="/spatial-functional-clustering/50-simulate/66-result-bsfc-fuzzy-glm_files/figure-html/unnamed-chunk-10-2.png" width="672" style="display: block; margin: auto;" /></p>
</div>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt;  59.424  13.467  19.525</code></pre>
</div>
