---
title: "Dengue in Minas Gerais fitting: Poisson random walk "
prerequisites:
    - data/processed/geodengue-mg.rds
targets:
    - data/modelled/dengue-mg-cluster-rw.rds
---



<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data, and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())

library(sf)</code></pre>
<pre><code>#&gt; Linking to GEOS 3.10.2, GDAL 3.4.1, PROJ 8.2.1; sf_use_s2() is TRUE</code></pre>
<pre class="r"><code>library(ggplot2)
library(dplyr)</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;dplyr&#39;</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:stats&#39;:
#&gt; 
#&gt;     filter, lag</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:base&#39;:
#&gt; 
#&gt;     intersect, setdiff, setequal, union</code></pre>
<pre class="r"><code>library(igraph)</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;igraph&#39;</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:dplyr&#39;:
#&gt; 
#&gt;     as_data_frame, groups, union</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:stats&#39;:
#&gt; 
#&gt;     decompose, spectrum</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:base&#39;:
#&gt; 
#&gt;     union</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)
devtools::load_all(&quot;/home/rstudio/documents/repositories/spfc&quot;)</code></pre>
<pre><code>#&gt; ℹ Loading bsfc</code></pre>
<pre class="r"><code>data &lt;- readRDS(file.path(path_processed, &quot;geodengue-mg.rds&quot;))

domain &lt;- data$domain
Y &lt;- select(data$dengue, matches(&quot;^cases&quot;)) |&gt; as.matrix()
N &lt;- select(data$dengue, matches(&quot;^pop&quot;)) |&gt; as.matrix()
E &lt;- t(t(N) * colMeans(Y/N))</code></pre>
</div>
<div id="create-graph-components" class="section level2">
<h2>Create graph components</h2>
<pre class="r"><code>set.seed(7)

# define weights based on distances
distances &lt;- as.matrix(dist(t(Y/(E + 0.0001))))
colnames(distances) &lt;- NULL
rownames(distances) &lt;- NULL

# create graph
adj_mat &lt;- st_touches(domain) %&gt;% as(&quot;matrix&quot;)
# adj_mat_weighted &lt;- adj_mat * runif(length(adj_mat))
adj_mat_weighted &lt;- adj_mat * (distances + 1)
graph &lt;- graph_from_adjacency_matrix(adj_mat_weighted, mode = &quot;upper&quot;, weighted = TRUE)
plot(graph, vertex.size = 7, vertex.label.cex = 1, edge.width = 1)</code></pre>
<p><img src="/spatial-functional-clustering/60-model/14-dengue-mg-fit-rw_files/figure-html/unnamed-chunk-2-1.png" width="1344" style="display: block; margin: auto;" /></p>
<pre class="r"><code># obtain minimum spaning tree
mstgraph &lt;- mst(graph)
V(mstgraph)$vid &lt;- 1:gorder(mstgraph)
plot(mstgraph, vertex.size = 7, vertex.label.cex = 1, edge.width = 1)</code></pre>
<p><img src="/spatial-functional-clustering/60-model/14-dengue-mg-fit-rw_files/figure-html/unnamed-chunk-2-2.png" width="1344" style="display: block; margin: auto;" /></p>
<pre class="r"><code># obtain initial clusters
ncluster &lt;- 500
rmid &lt;- order(E(mstgraph)$weight, decreasing = TRUE)[1:(ncluster-1)]
graph_comp &lt;- components(delete_edges(mstgraph, rmid))
membership &lt;- graph_comp$membership
table(membership)</code></pre>
<pre><code>#&gt; membership
#&gt;   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18  19  20  21  22  23  24  25 
#&gt; 230   1   1   1   1   1   1   2  14   1   9   1   1   1   1   1   1   7   1   1   1   1   1   1   1 
#&gt;  26  27  28  29  30  31  32  33  34  35  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50 
#&gt;   6   1  25   1   2   1   1   1   1   3   1   1   1   1   2   1   1   1   4   1   1   1   1   1   1 
#&gt;  51  52  53  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72  73  74  75 
#&gt;   2   1   1   1   1   1   1   1   1  11   2   1   1   1   1   1   1   1   1   2   1   1   1   1   1 
#&gt;  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90  91  92  93  94  95  96  97  98  99 100 
#&gt;   1   1   1   1   1   1   1   1   7   1   1   1   1   7   5   1   1   1   1   1   1   1   1   1   1 
#&gt; 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 
#&gt;   1   1   1   1   1   1   1   1   1   1   1   2   1   1   1   5   1   1   1   1   1   1   1   1   1 
#&gt; 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 
#&gt;   2   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   3 
#&gt; 151 152 153 154 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170 171 172 173 174 175 
#&gt;   2   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   2   1   1   1   1   1   1   1   1 
#&gt; 176 177 178 179 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198 199 200 
#&gt;   1   1   1   3   1   1   2   1   1   1   1   1   1   1   1   1   1   1   2   1   1   1   1   1   3 
#&gt; 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216 217 218 219 220 221 222 223 224 225 
#&gt;   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   3   1   1   1   1 
#&gt; 226 227 228 229 230 231 232 233 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 
#&gt;   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1 
#&gt; 251 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269 270 271 272 273 274 275 
#&gt;   2   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   2   2   1   1   1   1   1 
#&gt; 276 277 278 279 280 281 282 283 284 285 286 287 288 289 290 291 292 293 294 295 296 297 298 299 300 
#&gt;   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1 
#&gt; 301 302 303 304 305 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323 324 325 
#&gt;   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1 
#&gt; 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341 342 343 344 345 346 347 348 349 350 
#&gt;   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1 
#&gt; 351 352 353 354 355 356 357 358 359 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 
#&gt;   1   1   1   1   1   1   1   5   1   1   1   1   1   1   2   1   1   1   1   1   1   1   1   1   1 
#&gt; 376 377 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395 396 397 398 399 400 
#&gt;   1   1   1   1   1   1   1   1   1   1   4   1   1   1   1   1   1   1   1   1   1   1   1   1   1 
#&gt; 401 402 403 404 405 406 407 408 409 410 411 412 413 414 415 416 417 418 419 420 421 422 423 424 425 
#&gt;   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1 
#&gt; 426 427 428 429 430 431 432 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449 450 
#&gt;   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1 
#&gt; 451 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466 467 468 469 470 471 472 473 474 475 
#&gt;   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1 
#&gt; 476 477 478 479 480 481 482 483 484 485 486 487 488 489 490 491 492 493 494 495 496 497 498 499 500 
#&gt;   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1   1</code></pre>
<pre class="r"><code>graphdata = list(graph = graph, mst = mstgraph, cluster = membership)</code></pre>
</div>
<div id="spatial-clustering-for-poisson" class="section level2">
<h2>Spatial clustering for Poisson</h2>
<pre class="r"><code>path_res &lt;- file.path(path_modelled, &quot;dengue-mg-cluster-rw.rds&quot;)
formula &lt;-  Yk ~ f(idt, model = &quot;rw1&quot;, hyper = list(prec = list(prior = &quot;normal&quot;, param = c(4, 1))))

niter  &lt;- 60000
nsave &lt;- 1000

set.seed(7)
system.time(
    bsfc(Y, graphdata = graphdata, N = E,
        formula = formula, family = &quot;poisson&quot;, hyperpar = list(c = 0.99999999999),
        niter = niter, burnin = 0, thin = 1, path_save = path_res, nsave = nsave,
        control.inla = list(control.vb = list(enable = FALSE))
    )
)</code></pre>
<pre><code>#&gt; 
#&gt;  *** inla.core.safe:  The inla program failed, but will rerun in case better initial values may help. try=1/1 
#&gt; 
#&gt;  *** inla.core.safe:  rerun with improved initial values 
#&gt; 
#&gt;  *** inla.core.safe:  The inla program failed, but will rerun in case better initial values may help. try=1/1 
#&gt; 
#&gt;  *** inla.core.safe:  rerun with improved initial values 
#&gt; 
#&gt;  *** inla.core.safe:  The inla program failed, but will rerun in case better initial values may help. try=1/1 
#&gt; 
#&gt;  *** inla.core.safe:  rerun with improved initial values 
#&gt; 
#&gt;  *** inla.core.safe:  The inla program failed, but will rerun in case better initial values may help. try=1/1 
#&gt; 
#&gt;  *** inla.core.safe:  rerun with improved initial values 
#&gt; 
#&gt;  *** inla.core.safe:  The inla program failed, but will rerun in case better initial values may help. try=1/1 
#&gt; 
#&gt;  *** inla.core.safe:  rerun with improved initial values 
#&gt; 
#&gt;  *** inla.core.safe:  The inla program failed, but will rerun in case better initial values may help. try=1/1 
#&gt; 
#&gt;  *** inla.core.safe:  rerun with improved initial values 
#&gt; 
#&gt;  *** inla.core.safe:  The inla program failed, but will rerun in case better initial values may help. try=1/1 
#&gt; 
#&gt;  *** inla.core.safe:  rerun with improved initial values 
#&gt; 
#&gt;  *** inla.core.safe:  The inla program failed, but will rerun in case better initial values may help. try=1/1 
#&gt; 
#&gt;  *** inla.core.safe:  rerun with improved initial values 
#&gt; 
#&gt;  *** inla.core.safe:  The inla program failed, but will rerun in case better initial values may help. try=1/1 
#&gt; 
#&gt;  *** inla.core.safe:  rerun with improved initial values 
#&gt; 
#&gt;  *** inla.core.safe:  The inla program failed, but will rerun in case better initial values may help. try=1/1 
#&gt; 
#&gt;  *** inla.core.safe:  rerun with improved initial values 
#&gt; 
#&gt;  *** inla.core.safe:  The inla program failed, but will rerun in case better initial values may help. try=1/1 
#&gt; 
#&gt;  *** inla.core.safe:  rerun with improved initial values 
#&gt; 
#&gt;  *** inla.core.safe:  The inla program failed, but will rerun in case better initial values may help. try=1/1 
#&gt; 
#&gt;  *** inla.core.safe:  rerun with improved initial values 
#&gt; 
#&gt;  *** inla.core.safe:  The inla program failed, but will rerun in case better initial values may help. try=1/1 
#&gt; 
#&gt;  *** inla.core.safe:  rerun with improved initial values 
#&gt; 
#&gt;  *** inla.core.safe:  The inla program failed, but will rerun in case better initial values may help. try=1/1 
#&gt; 
#&gt;  *** inla.core.safe:  rerun with improved initial values 
#&gt; 
#&gt;  *** inla.core.safe:  The inla program failed, but will rerun in case better initial values may help. try=1/1 
#&gt; 
#&gt;  *** inla.core.safe:  rerun with improved initial values 
#&gt; 
#&gt;  *** inla.core.safe:  The inla program failed, but will rerun in case better initial values may help. try=1/1 
#&gt; 
#&gt;  *** inla.core.safe:  rerun with improved initial values</code></pre>
<pre><code>#&gt;      user    system   elapsed 
#&gt; 217256.67  39302.05  51705.06</code></pre>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;      user    system   elapsed 
#&gt; 217268.53  39302.60  51717.17</code></pre>
</div>
