---
title: "Dengue in Minas Gerais fitting 2: Poisson random walk iid"
prerequisites:
    - data/processed/geodengue-mg.rds
    - data/modelled/dengue-mg-cluster-normalprior-disable.rds
targets:
    - data/modelled/dengue-mg-cluster-normalprior-disable-2.rds
---



<div id="load-packages-read-data-and-source-custom-scripts" class="section level2">
<h2>Load packages, read data, and source custom scripts</h2>
<pre class="r"><code>rm(list = ls())

library(sf)</code></pre>
<pre><code>#&gt; Linking to GEOS 3.10.2, GDAL 3.4.1, PROJ 8.2.1; sf_use_s2() is TRUE</code></pre>
<pre class="r"><code>library(ggplot2)
library(dplyr)</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;dplyr&#39;</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:stats&#39;:
#&gt; 
#&gt;     filter, lag</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:base&#39;:
#&gt; 
#&gt;     intersect, setdiff, setequal, union</code></pre>
<pre class="r"><code>library(igraph)</code></pre>
<pre><code>#&gt; 
#&gt; Attaching package: &#39;igraph&#39;</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:dplyr&#39;:
#&gt; 
#&gt;     as_data_frame, groups, union</code></pre>
<pre><code>#&gt; The following objects are masked from &#39;package:stats&#39;:
#&gt; 
#&gt;     decompose, spectrum</code></pre>
<pre><code>#&gt; The following object is masked from &#39;package:base&#39;:
#&gt; 
#&gt;     union</code></pre>
<pre class="r"><code>path_proj &lt;- day2day::git_path()
path_data &lt;- file.path(path_proj, &quot;data&quot;)
path_processed &lt;- file.path(path_data, &quot;processed&quot;)
path_modelled &lt;- file.path(path_data, &quot;modelled&quot;)
devtools::load_all(&quot;/home/rstudio/documents/repositories/spfc&quot;)</code></pre>
<pre><code>#&gt; ℹ Loading bsfc</code></pre>
<pre class="r"><code>data &lt;- readRDS(file.path(path_processed, &quot;geodengue-mg.rds&quot;))
prevmodel &lt;- readRDS(file.path(path_modelled, &quot;dengue-mg-cluster-normalprior-disable.rds&quot;))

domain &lt;- data$domain
Y &lt;- select(data$dengue, matches(&quot;^cases&quot;)) |&gt; as.matrix()
N &lt;- select(data$dengue, matches(&quot;^pop&quot;)) |&gt; as.matrix()
E &lt;- t(t(N) * colMeans(Y/N))</code></pre>
</div>
<div id="create-graph-components" class="section level2">
<h2>Create graph components</h2>
<pre class="r"><code>set.seed(7)

# define weights based on distances
distances &lt;- as.matrix(dist(t(Y/(E + 0.0001))))
colnames(distances) &lt;- NULL
rownames(distances) &lt;- NULL

# create graph
adj_mat &lt;- st_touches(domain) %&gt;% as(&quot;matrix&quot;)
adj_mat_weighted &lt;- adj_mat * (distances + 1)
graph &lt;- graph_from_adjacency_matrix(adj_mat_weighted, mode = &quot;upper&quot;, weighted = TRUE)
plot(graph, vertex.size = 7, vertex.label.cex = 1, edge.width = 1)</code></pre>
<p><img src="/spatial-functional-clustering/60-model/19-dengue-mg-fit-normalprior-disable-2_files/figure-html/unnamed-chunk-2-1.png" width="1344" style="display: block; margin: auto;" /></p>
<pre class="r"><code># obtain initial clusters
old_niter &lt;- length(prevmodel$mst)
mstgraph &lt;- prevmodel$mst[[old_niter]]
plot(mstgraph, vertex.size = 7, vertex.label.cex = 1, edge.width = 1)</code></pre>
<p><img src="/spatial-functional-clustering/60-model/19-dengue-mg-fit-normalprior-disable-2_files/figure-html/unnamed-chunk-2-2.png" width="1344" style="display: block; margin: auto;" /></p>
<pre class="r"><code>membership &lt;- prevmodel$cluster[old_niter,]
table(membership)</code></pre>
<pre><code>#&gt; membership
#&gt;   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18  19  20  21  22  23  24  25 
#&gt; 154  71  51  21   1  37 278   3  12   3   1   2   1   1   2   1   1   2   1   2   1   2   1   1   1 
#&gt;  26  27  28  29  30  31  32  33  34  35  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50 
#&gt;   2  14   1   2   3   1  36   4   2  10   6   1  14  24   8   1   1   2   6   1  14   1   1  13   4 
#&gt;  51  52  53  54  55  56  57 
#&gt;   1   5   1   1   1   1  18</code></pre>
<pre class="r"><code>graphdata = list(graph = graph, mst = mstgraph, cluster = membership)</code></pre>
</div>
<div id="spatial-clustering-for-poisson" class="section level2">
<h2>Spatial clustering for Poisson</h2>
<pre class="r"><code>path_res &lt;- file.path(path_modelled, &quot;dengue-mg-cluster-normalprior-disable-2.rds&quot;)
formula &lt;-  Yk ~ f(idt, model = &quot;rw1&quot;, hyper = list(prec = list(prior = &quot;normal&quot;, param = c(4, 1))))  +
    f(id, model = &quot;iid&quot;, hyper = list(prec = list(prior = &quot;normal&quot;, param = c(4, 1))))
# niter  &lt;- 50000
# nsave &lt;- 1000
niter  &lt;- 10
nsave &lt;- 2

set.seed(7)
system.time(
    bsfc(Y, graphdata = graphdata, N = E,
        formula = formula, family = &quot;poisson&quot;, hyperpar = list(c = 0.99999999999),
        niter = niter, burnin = 0, thin = 1, path_save = path_res, nsave = nsave,
        control.inla = list(control.vb = list(enable = FALSE))
    )
)</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt; 446.292  63.563 120.067</code></pre>
</div>
<div id="time-to-execute-the-task" class="section level2">
<h2>Time to execute the task</h2>
<p>Only useful when executed with <code>Rscript</code>.</p>
<pre class="r"><code>proc.time()</code></pre>
<pre><code>#&gt;    user  system elapsed 
#&gt; 464.984  64.678 139.644</code></pre>
</div>
